﻿@model SieuThiDienMayDoAn.Controllers.ViewModels.Admin.ProductViewModel.AddProductPageView
@using SieuThiDienMayDoAn.Model.Brands
@using SieuThiDienMayDoAn.Model.Categories
@using SieuThiDienMayDoAn.Model.Suppliers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Trang sản phẩm</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">Thêm sản phẩm</a>
        </li>
    </ul>
</div>
<!--

<form method="post" id="form123">
    <div class="control-group">
        <label class="control-label" for="focusedInput">Name</label>
        <div class="controls">
            <input class="input-xlarge focused" id="name" type="text" value="This is focused…">
        </div>
    </div>
    <label for="file1">Select file(s) to upload :</label>
    <input id="file1" name="file1" type="file" multiple="multiple" />
    <input id="button1" type="button" value="Upload" />
</form>-->








<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Thông tin sản phẩm</h2>
            <div class="box-icon">
               
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal" method="post" id="addProductForm">
                <fieldset>
                    <legend>THÊM SẢN PHẨM </legend>

                    <div class="control-group">
                        <label class="control-label" for="brand">Nhãn hàng</label>
                        <div class="controls">
                            <select id="brand" data-rel="chosen">
                                @foreach (var brand in Model.Brands)
                                {
                                    <option value="@brand.Id">@brand.Name</option>
                                
                                }
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="category">Loại</label>
                        <div class="controls">
                            <select id="category" data-rel="chosen">
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }

                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="supplier">Nhà cung cấp</label>
                        <div class="controls">
                            <select id="supplier" data-rel="chosen">
                                @foreach (var supplier in Model.Suppliers)
                                {
                                    <option value="@supplier.Id">@supplier.Name</option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Tên sản phẩm</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="productName" type="text" value="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Giá sản phẩm</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="productPrice" type="text" value="">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Số lượng</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="quantity" type="text" value="">
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Phần trăm giảm giá</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="discount" type="text" value="">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="importDate">Ngày nhập về</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge datepicker" id="importDate" value="02/16/12">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="largeImage">Ảnh lớn</label>
                        <div class="controls">
                            <input class="input-file uniform_on" id="largeImage" type="file" multiple="multiple">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="smallImage">Ảnh nhỏ</label>
                        <div class="controls">
                            <input class="input-file uniform_on" id="smallImage" type="file" multiple="multiple">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="tinyImage">Ảnh nhỏ nhất</label>
                        <div class="controls">
                            <input class="input-file uniform_on" id="tinyImage" type="file" multiple="multiple">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="description">Mô tả</label>
                        <div class="controls">
                            <textarea class="cleditor" id="description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        
                        <input id="button1" type="button" value="Thêm" class="btn btn-primary" />
                        <button type="reset" class="btn">hủy</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
    <!--/span-->

</div>
<!--/row-->











<div class="divDemoBody">
    
    <div id="windowTitleDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3>Product Preview</h3>
        </div>
        <div class="modal-body">


            <div class="row" id="formResult">
                <form class="form-horizontal" >
                    <div class="span6">
                        <div class="divDialogElements" id="divDialogElements">
                        </div>
                    </div>
                    <div class="span6">
                        <fieldset>
                            <legend>Product Information</legend>
                            <div class="control-group" id="productInfo">
                                
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>





        </div>
        <div class="modal-footer">
            
            <a href="#" class="btn btn-primary" onclick="closeDialog ();">OK</a>
            <a href="@Url.Action("Index", "AdminProduct", new { })" class="btn btn-primary">Return List Of Products</a>
        </div>
    </div>
    
</div>




