﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Trang sản phẩm</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">Danh sách sản phẩm</a>
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-user"></i>Danh sách sản phẩm</h2>
            <div class="box-icon">
               
            </div>
        </div>
        <div class="box-content">
            <table class="table table-striped table-bordered bootstrap-datatable datatable">
                <thead>
                    <tr>
                        
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Số lượng đã bán</th>

                        <th>Ngày nhập</th>
                        
                        <th>Giảm giá(%)</th>
                        <th>Thực hiện...</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: { data: products, as: 'product' }">


                    <tr>
                        
                        <td class="center" data-bind="text: product.Name"></td>
                        <td class="center" data-bind="text: product.Price"></td>

                        <td class="center" data-bind="text: product.Quantity"></td>
                        <td class="center" data-bind="text: product.SoldQuantity"></td>
                        <td class="center" data-bind="text: product.ImportDate"></td>

                        
                        <td class="center" data-bind="text: product.Discount"></td>

                        <td class="center">
                            <a class="btn btn-success" data-bind="attr: { href: 'javascript: viewDetail('+Id+')' }" >
                                <i class="icon-zoom-in icon-white"></i>
                                Xem chi tiết                                           
									</a>
                            <a class="btn btn-info"  data-bind="attr: { href: '@Url.Action("UpdateProductPage","AdminProduct")/' + Id }">
                                <i class="icon-edit icon-white"></i>
                                Sửa                                           
									</a>
                            <a class="btn btn-danger" data-bind="attr: { href: 'javascript: deleteProduct('+Id+')' }">
                                <i class="icon-trash icon-white"></i>
                                Xóa
									</a>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
    <!--/span-->

</div>
<!--/row-->

