﻿@{
    ViewBag.Title = "UpdateProductPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">Forms</a>
        </li>
    </ul>
</div>

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well" data-original-title>
            <h2><i class="icon-edit"></i>Product Informations</h2>
            <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            <form class="form-horizontal">
                <fieldset>
                    <legend>UPDATE PRODUCT </legend>

                    <div class="control-group">
                        <label class="control-label" for="brand">Brand</label>
                        <div class="controls">
                            <select id="brand" data-rel="chosen">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="category">Category</label>
                        <div class="controls">
                            <select id="category" data-rel="chosen">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="supplier">Supplier</label>
                        <div class="controls">
                            <select id="supplier" data-rel="chosen">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Name</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="productName" type="text" value="This is focused…">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Price</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="productPrice" type="text" value="This is focused…">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Quantity</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="quantity" type="text" value="This is focused…">
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label" for="focusedInput">Discount</label>
                        <div class="controls">
                            <input class="input-xlarge focused" id="discount" type="text" value="This is focused…">
                        </div>
                    </div>
                    
                    <div class="control-group">
                        <label class="control-label" for="importDate">Import Date</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge datepicker" id="importDate" value="02/16/12">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="largeImage">Large Image</label>
                        <div class="controls">
                            <input class="input-file uniform_on" id="largeImage" type="file">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="smallImage">Small Image</label>
                        <div class="controls">
                            <input class="input-file uniform_on" id="smallImage" type="file">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="tinyImage">Tiny Image</label>
                        <div class="controls">
                            <input class="input-file uniform_on" id="tinyImage" type="file">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="description">Description</label>
                        <div class="controls">
                            <textarea class="cleditor" id="description" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="reset" class="btn">Cancel</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
    <!--/span-->

</div>
<!--/row-->
