﻿<link href="~/Content/commentstyle/commentstyle.css" rel="stylesheet" />






<div id="content">

    <div class="cartire-grid">
        <div class="cartire-grid-img">
            <img src="~/Images/product/lotto-sports-shoes-white-210x210.jpg" title="tries" />
        </div>
        <div class="cartire-grid-info">

            <h3>Fondmetal 7500</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="cartire-grid-cartinfo">
            <h4>Giá: <span>$502.00</span></h4>

            <ul>

                <li>
                    <a href="singlepage.html" class="button" style="background-color: red">Add to Cart</a><br />
                    <a href="singlepage.html" class="button" style="background-color: red">View</a>
                </li>
            </ul>

        </div>
        <div class="clear"></div>
    </div>



    <ul id="comments" data-bind="foreach: reviews">
        <li class="cmmnt">
            <div class="avatar">
                <a href="javascript:void(0);">
                    <img src="images/dark-cubes.png" width="55" height="55" alt=""></a>
            </div>
            <div class="cmmnt-content">
                <header><a href="javascript:void(0);" class="userlink">DarkCubes</a> - <span class="pubdate">posted 1 week ago</span></header>
                <p data-bind="text: Content"></p>
                <footer><a href="javascript:void(0);" class="userlink">Image</a> | <a data-bind="attr: { href: 'Javascript: showComments(' + Id + ')' }"><span class="pubdate" data-bind="    text: numberOfComments"></span>comments</a></footer>
            </div>

            <ul class="replies" data-bind="attr: { id: Id }">
                
                    @*<form method="post" action="/api/ReviewApi/AddComment"
                        enctype="application/x-www-form-urlencoded" id="addCommentForm" >
                        <input type="text" value="write comment..." name="content" hidden="hidden"/>
                        <input type="hidden" value="nguyenvana" name="userName" />
                        <input type="hidden" name="reviewId" data-bind="value: Id" />
                        <input type="submit" hidden="hidden" />
                    </form>*@
                 
            </ul>
        </li>

    </ul>

</div>

<script type="text/javascript">



    var req;
    var viewModel = {
        reviews: ko.observableArray(),
        currentPage: ko.observable(-1)

    };

    $(document).ready(function () {


        ko.applyBindings(viewModel);

        getData(viewModel.currentPage() + 1);

        $(window).scroll(function (evt) {
            evt.preventDefault();
            if ($(window).scrollTop() >= $(document).height() - $(window).height()) {

                if (req.state() == 'resolved' && req.state() !== 'pending') {
                    getData(viewModel.currentPage() + 1);
                }


            }
        });
    });


    function getData(pageNumber) {

        if (viewModel.currentPage() != pageNumber && viewModel.currentPage() == (pageNumber - 1)) {


            req = $.ajax({

                url: "/api/ReviewApi/GetAllReviews",
                type: "get",
                contentType: "application/json",
                data: { id: 3, index: pageNumber }


            }).done(function (data) {
                if (data.length > 0) {
                    viewModel.currentPage(viewModel.currentPage() + 1);
                    for (i = 0; i < data.length; i++) {
                        viewModel.reviews.push(data[i]);

                    }
                }

            });
        }
    }
</script>


<script type="text/javascript">

    function showComments(reviewId) {
        $.ajax({

            url: "/api/ReviewApi/GetCommentsByReview",
            type: "get",
            contentType: "application/json",
            data: { id: reviewId, index: 0 }
        }).done(function (data) {
            if (data.length > 0) {

                var html = "";

                for (i = 0; i < (data.length) ; i++) {
                    html += "<li class='cmmnt'>";
                    html += "<div class='avatar'><a href='javascript:void(0);'>";
                    html += "<img src='images/pig.png' width='55' height='55' alt='Sir_Pig photo avatar'></a></div>";
                    html += "<div class='cmmnt-content'>";
                    html += "<header><a href='javascript:void(0);' class='userlink'>" + data[i].UserName + "</a> - <span class='pubdate'>datetime</span></header>";
                    html += "<p>" + data[i].Content + "</p>";
                    html += "</div>";
                    html += "</li>";
                }

                var choosedId = "#" + reviewId;
                $(choosedId).append(html);


            }
        });


    }

</script>


