﻿@model SieuThiDienMayDoAn.Controllers.ViewModels.ProductCatalog.HomePageView
@using SieuThiDienMayDoAn.Services.ViewModels

<link href="~/Content/ImageGallery/tiledimage.css" rel="stylesheet" />
<link href="~/Content/Menu/innermenu.css" rel="stylesheet" />


<!-- Enable media queries for old IE -->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

<div id="content">
    <!-- Nivo Slider Start -->
    <section class="slider-wrapper">
        <div id="slideshow" class="nivoSlider">
            <a class="nivo-imageLink" href="#">
                <img src="~/Images/slider/banner03.jpg" alt="slide-1" /></a> <a class="nivo-imageLink" href="#">
                    <img src="~/Images/slider/banner04.jpg" alt="slide-2" /></a> <a class="nivo-imageLink" href="#">
                        <img src="~/Images/slider/banner05.jpg" alt="slide-3" /></a>
        </div>
    </section>
    <script type="text/javascript"><!--
    $(document).ready(function() {
        $('#slideshow').nivoSlider();
    });
    --></script>
    <!-- Nivo Slider End-->


    <!-- Product Tab Start-->
    <section id="product-tab" class="product-tab">
        <ul id="tabs" class="tabs">
            <li><a href="#tab-latest">Latest</a></li>
            <li><a href="#tab-bestseller">Bestseller</a></li>
            <li><a href="#tab-special">Special</a></li>
        </ul>
        <div id="tab-latest" class="tab_content">
            <div class="box-product">
                <div class="flexslider latest_carousel_tab">
                    <ul class="slides" id="latestProductsArea">
                    </ul>
                </div>
            </div>
        </div>
        <div id="tab-bestseller" class="tab_content">
            <div class="box-product">
                <div class="flexslider bestseller_carousel_tab">
                    <ul class="slides" id="bestSellerProductsArea">
                    </ul>
                </div>
            </div>
        </div>
        <div id="tab-special" class="tab_content">
            <div class="box-product">
                <div class="flexslider special_carousel_tab">
                    <ul class="slides" id="specialProductsArea">
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        (function() {
            // store the slider in a local variable
            var $window = $(window),
                flexslider;
            // tiny helper function to add breakpoints
            function getGridSize() {
                return (window.innerWidth < 320) ? 1 :
                       (window.innerWidth < 600) ? 2 :
                       (window.innerWidth < 800) ? 3 :
                       (window.innerWidth < 900) ? 4 : 5;
            }
            $window.load(function() {
                $('#product-tab .featured_carousel_tab, #product-tab .latest_carousel_tab, #product-tab .bestseller_carousel_tab, #product-tab .special_carousel_tab').flexslider({
                    animation: "slide",
                    animationLoop: false,
                    slideshow: false,
                    itemWidth: 210,
                    minItems: getGridSize(), // use function to pull in initial value
                    maxItems: getGridSize(), // use function to pull in initial value
                    start: function(){
                        $("#product-tab .tab_content").addClass("deactive");
                        $("#product-tab .tab_content:first").removeClass("deactive"); //Show first tab content
                    } });
            });

            $(document).ready(function() {
                //Default Action
                $("ul#tabs li:first").addClass("active").show(); //Activate first tab
                //On Click Event
                $("ul#tabs li").click(function() {
                    $("ul#tabs li").removeClass("active"); //Remove any "active" class
                    $(this).addClass("active"); //Add "active" class to selected tab
                    $("#product-tab .tab_content").hide(); 
                    var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
                    $(activeTab).fadeIn(); //Fade in the active content
                    return false;
                });
            });}());
    </script>
    <!-- Product Tab End-->

    <!-- Carousel Start-->
    <section id="carousel">
        <ul class="jcarousel-skin-opencart">
            <li><a href="#">
                <img src="~/Images/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#">
                <img src="~/Images/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#">
                <img src="~/Images/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#">
                <img src="~/Images/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#">
                <img src="~/Images/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
            <li><a href="#">
                <img src="~/Images/product/brand_logo.jpg" alt="brand_logo" title="brand_logo" /></a></li>
        </ul>
    </section>
    <!-- Carousel End-->

    <div>
        <nav class="innermenu">
            <ul>
                @foreach (SuperCategoryView scv in Model.SuperCategories)
                {
                    <li class="current"><a href="Javascript: getProductsBySuperCategory(@scv.Id)">@scv.Name</a></li>
                
                }
            </ul>
        </nav>
    </div>

    <div>
        <input type="hidden" value="0" id="superCategoryId" />
        <input type="hidden" value="0" id="nextIndex" />
        <a class='button' href="Javascript: nextProductsBySuperCategory()">Next</a>
    </div>

    <div class="wrap" id="productsBySuperCategoryArea">

        <!-- Define all of the tiles: -->

        
    </div>





</div>






<!-- /#wrap -->



<script type="text/javascript">
    $(function(){
        // See if this is a touch device
        if ('ontouchstart' in window)
        {
            // Set the correct body class
            $('body').removeClass('no-touch').addClass('touch');
        
            // Add the touch toggle to show text
            $('div.boxInner img').click(function(){
                $(this).closest('.boxInner').toggleClass('touchFocus');
            });
        }
    });
</script>





<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/productApi/GetFeaturedProducts",
            type: "get",
            contentType: "application/json"
        }).done(function (data) {
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < data.length; i++) {
                    html+="<li>";
                    html+="<div class='slide-inner'>";
                    html+="<div class='image'>";

                    html+="<a href='product.html'>";
                    html+="<img src='/Images/product/"+data[i].ImageUrl+"' /></a>";
                    html+="</div>";
                    html+="<div class='name'><a href='@Url.Action("Detail", "Product")/"+data[i].Id+"'>"+data[i].Name+"</a></div>";
                    html+="<div class='price'>$"+data[i].Price +"</div>";
                    html+="<div class='cart'>";
                    html+="<a  href='Javascript: addToCart("+data[i].Id+")' class='button' >Add to Cart</a>";
                    html+="</div>";
                    html+="<div class='clear'></div>";
                    html+="</div>";
                    html+="</li>";
                }


                $("#featuredProductsArea").html(html);
                       

            }
        });
                

    });
</script>


<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/productApi/GetLatestProducts",
            type: "get",
            contentType: "application/json"
        }).done(function (data) {
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < data.length; i++) {
                    html+="<li>";
                    html+="<div class='slide-inner'>";
                    html+="<div class='image'>";

                    html+="<a href='product.html'>";
                    html+="<img src='/Images/product/"+data[i].ImageUrl+"' alt='Samsung SyncMaster 941BW' /></a>";
                    html+="</div>";
                    html+="<div class='name'><a href='@Url.Action("Detail", "Product")/"+data[i].Id+"'>"+data[i].Name+"</a></div>";
                    html+="<div class='price'>$"+data[i].Price +"</div>";
                    html+="<div class='cart'>";
                    html+="<a  href='Javascript: addToCart("+data[i].Id+")' class='button' >Add to Cart</a>";
                    html+="</div>";
                    html+="<div class='clear'></div>";
                    html+="</div>";
                    html+="</li>";
                }


                $("#latestProductsArea").html(html);
                       

            }
        });
                

    });
</script>



<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/productApi/GetBestSellerProducts",
            type: "get",
            contentType: "application/json"
        }).done(function (data) {
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < data.length; i++) {
                    html+="<li>";
                    html+="<div class='slide-inner'>";
                    html+="<div class='image'>";

                    html+="<a href='product.html'>";
                    html+="<img src='/Images/product/"+data[i].ImageUrl+"' alt='Samsung SyncMaster 941BW' /></a>";
                    html+="</div>";
                    html+="<div class='name'><a href='@Url.Action("Detail", "Product")/"+data[i].Id+"'>"+data[i].Name+"</a></div>";
                    html+="<div class='price'>$"+data[i].Price +"</div>";
                    html+="<div class='cart'>";
                    html+="<a  href='Javascript: addToCart("+data[i].Id+")' class='button' >Add to Cart</a>";
                    html+="</div>";
                    html+="<div class='clear'></div>";
                    html+="</div>";
                    html+="</li>";
                }


                $("#bestSellerProductsArea").html(html);
                       

            }
        });
                

    });
</script>


<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/productApi/GetSpecialProducts",
            type: "get",
            contentType: "application/json"
        }).done(function (data) {
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < data.length; i++) {
                    html+="<li>";
                    html+="<div class='slide-inner'>";
                    html+="<div class='image'>";

                    html+="<a href='product.html'>";
                    html+="<img src='/Images/product/"+data[i].ImageUrl+"' alt='Samsung SyncMaster 941BW' /></a>";
                    html+="</div>";
                    html+="<div class='name'><a href='@Url.Action("Detail", "Product")/"+data[i].Id+"'>"+data[i].Name+"</a></div>";
                    html+="<div class='price'>$"+data[i].Price +"</div>";
                    html+="<div class='cart'>";
                    html+="<a  href='Javascript: addToCart("+data[i].Id+")' class='button' >Add to Cart</a>";
                    html+="</div>";
                    html+="<div class='clear'></div>";
                    html+="</div>";
                    html+="</li>";
                }


                $("#specialProductsArea").html(html);
                       

            }
        });
                

    });
</script>



<script type="text/javascript">
    function getProductsBySuperCategory(superCategoryId){

        $("#superCategoryId").val(superCategoryId);
        $("#nextIndex").val(0);
        $.ajax({

            url: "/api/productApi/GetProductsBySuperCategory",
            type: "get",
            contentType: "application/json",
            data: {superCategoryId: superCategoryId,index: 0, numberOfRecordsPerPage: 15}
        }).done(function (data) {
            $("#productsBySuperCategoryArea").html("");
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < data.length; i++) {
                    html+="<div class='box'>";
                    html+="<div class='boxInner'>";
                    html+="<img src='/Images/Product/"+data[i].ImageUrl+"' />";
                    html+="<div class='titleBox'><a href='@Url.Action("Detail","Product")/"+data[i].Id+"' class='titleBox' >"+data[i].Name+"</a></div>";
                    html+="</div>";
                    html+="</div>";
                }


                $("#productsBySuperCategoryArea").html(html);
                       

            }
        });
                

    }
</script>

<script type="text/javascript">
    function nextProductsBySuperCategory(){

        var superCategoryId = $("#superCategoryId").val();
        var index = $("#nextIndex").val();
        var nextIndex=++index;
        $("#nextIndex").val(nextIndex);



        $.ajax({

            url: "/api/productApi/GetProductsBySuperCategory",
            type: "get",
            contentType: "application/json",
            data: {superCategoryId: superCategoryId,index: nextIndex, numberOfRecordsPerPage: 15}
        }).done(function (data) {
            $("#productsBySuperCategoryArea").html("");
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < data.length; i++) {
                    html+="<div class='box'>";
                    html+="<div class='boxInner'>";
                    html+="<img src='/Images/Product/"+data[i].ImageUrl+"' />";
                    html+="<div class='titleBox'><a href='@Url.Action("Detail","Product")/"+data[i].Id+"' class='titleBox' >"+data[i].Name+"</a></div>";
                    html+="</div>";
                    html+="</div>";
                }


                $("#productsBySuperCategoryArea").html(html);
                       

            }
            else{

                nextIndex=0;
                $("#nextIndex").val(nextIndex);




                $.ajax({

                    url: "/api/productApi/GetProductsBySuperCategory",
                    type: "get",
                    contentType: "application/json",
                    data: {superCategoryId: superCategoryId,index: nextIndex, numberOfRecordsPerPage: 15}
                }).done(function (data) {
                    if (data.length > 0) {
                        
                        var html = "";

                        for (i = 0; i < data.length; i++) {
                            html+="<div class='box'>";
                            html+="<div class='boxInner'>";
                            html+="<img src='/Images/Product/"+data[i].ImageUrl+"' />";
                            html+="<div class='titleBox'><a href='@Url.Action("Detail","Product")/"+data[i].Id+"' class='titleBox' >"+data[i].Name+"</a></div>";
                            html+="</div>";
                            html+="</div>";
                        }


                        $("#productsBySuperCategoryArea").html(html);
                       

                    }
                });

            }
        });
                

    }
</script>



<script type="text/javascript">
    var superCategoryId = @Model.FirstSuperCategoryId;
    $(document).ready(function(){

        $("#superCategoryId").val(superCategoryId);
        $("#nextIndex").val(0);
        $.ajax({

            url: "/api/productApi/GetProductsBySuperCategory",
            type: "get",
            contentType: "application/json",
            data: {superCategoryId: superCategoryId,index: 0, numberOfRecordsPerPage: 15}
        }).done(function (data) {
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < data.length; i++) {
                    html+="<div class='box'>";
                    html+="<div class='boxInner'>";
                    html+="<img src='/Images/Product/"+data[i].ImageUrl+"' />";
                    html+="<div class='titleBox'><a href='@Url.Action("Detail","Product")/"+data[i].Id+"' class='titleBox' >"+data[i].Name+"</a></div>";
                    html+="</div>";
                    html+="</div>";
                }


                $("#productsBySuperCategoryArea").html(html);
                       

            }
        });
                

    });
</script>

<script type="text/javascript">


    function addToCart(productId) {

        

        $.ajax({
            url: "@Url.Action("AddToBasket", "Basket", new { })",
            data: { productId: productId },
            type: "POST",
            success: function (message) {
                var respContent = message.NumberOfItems + " items - " + "$" + message.BasketTotal;

                $("#cart-total").html(respContent);

            }
        });
    }

</script>



<script type="text/javascript">
    function productsBySuperCategoryFromMainMenu(superCategoryId){

        $("#superCategoryId").val(superCategoryId);
        $("#nextIndex").val(0);
        $.ajax({

            url: "/api/productApi/GetProductsBySuperCategory",
            type: "get",
            contentType: "application/json",
            data: {superCategoryId: superCategoryId,index: 0, numberOfRecordsPerPage: 15}
        }).done(function (data) {
            $("#productsBySuperCategoryArea").html("");
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < data.length; i++) {
                    html+="<div class='box'>";
                    html+="<div class='boxInner'>";
                    html+="<img src='/Images/Product/"+data[i].ImageUrl+"' />";
                    html+="<div class='titleBox'><a href='@Url.Action("Detail","Product")/"+data[i].Id+"' class='titleBox' >"+data[i].Name+"</a></div>";
                    html+="</div>";
                    html+="</div>";
                }


                $("#productsBySuperCategoryArea").html(html);
                 

            }

            $("html, body").animate({ scrollTop: $('#productsBySuperCategoryArea').offset().top }, 600);  
        });
                

    }
</script>