﻿@model SieuThiDienMayDoAn.UI.Web.MVC.Models.LoginModel

<!--Left Part-->
<div id="column-left">
    <div class="box">
        <div class="box-heading">Account</div>
        <div class="box-content">
            <ul class="list-item">
                <li><a href="@Url.Action("Login","Account")">Login</a></li>
                <li><a href="@Url.Action("Register","Account")">Register</a></li>
                
            </ul>
        </div>
    </div>
</div>
<!--Left End-->
<!--Middle Part Start-->
<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"><a href="index-2.html">Home</a> » <a href="#">Account</a> » <a href="login.html">Login</a> </div>
    <!--Breadcrumb Part End-->
    <h1>Account Login</h1>
    <div class="login-content">
        <div class="left">
            <h2>Chưa có tài khoản</h2>
            <div class="content">
                <p><b>Đăng kí tài khoản</b></p>
                <p>Đăng kí tài khoản để thực hiện đặt hàng, đặt vé xem phim.</p>
                <a class="button" href="@Url.Action("Register", "Account")">Đăng kí</a>
            </div>
        </div>
        <div class="right">
            <h2>Đăng nhập</h2>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="content">
                    <p><b>Bạn đã có tài khoản</b></p>
                    <b>@Html.LabelFor(m => m.UserName)</b><br>
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                    <br>
                    <br>
                    <b>@Html.LabelFor(m => m.Password)</b><br>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                    <br>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                    <br>
                    <input type="submit" class="button" value="Log in">
                </div>
            }
        </div>
    </div>

    <div class="clear"></div>

    <div>
        <section class="social" id="socialLoginForm">
            <h2>Đăng nhập bằng Facebook</h2>
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
<!--Middle Part End-->
<div class="clear"></div>


@Scripts.Render("~/bundles/jqueryval")




