﻿@model SieuThiDienMayDoAn.UI.Web.MVC.Models.RegisterModel

<!--Left Part-->
<div id="column-left">
    <!--Account Links Start-->
    <div class="box">
        <div class="box-heading">Account</div>
        <div class="box-content">
            <ul class="list-item">
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>

            </ul>
        </div>
    </div>
    <!--Account Links End-->

</div>
<!--Left End-->
<!--Middle Part Start-->
<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"><a href="index-2.html">Home</a> » <a href="#">Account</a> » <a href="register.html">Register</a> </div>
    <!--Breadcrumb Part End-->
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <h2>Điền các mục sau</h2>
        <div class="content">
            <table class="form">
                <tbody>
                    <tr>
                        <td><span class="required">*</span>@Html.LabelFor(m => m.UserName)</td>
                        <td>@Html.TextBoxFor(m => m.UserName)</td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span> @Html.LabelFor(m => m.Password)</td>
                        <td>@Html.PasswordFor(m => m.Password)</td>
                    </tr>
                    <tr>
                        <td><span class="required">*</span>@Html.LabelFor(m => m.ConfirmPassword)</td>
                        <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Register" class="button" /></td>
                    </tr>

                </tbody>
            </table>
        </div>
         
    }
</div>
<!--Middle Part End-->
<div class="clear"></div>

@Scripts.Render("~/bundles/jqueryval")

