﻿@model SieuThiDienMayDoAn.Model.Phims.Phim
@*<div class="content">

</div>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MegastarLayout.cshtml";
}


<div class="single-page" id="debug">
    <br />
    <div class="clear"></div>
    <div class="product-info">


        <div id="phimInfo">

            <div class="product-image">
                <div class="clearfix" id="content">
                    <div class="clearfix">
                        <a href="#" class="jqzoom" rel='gal1' title="triumph">
                            <img data-bind="attr: { src: Image}" title="triumph" style="border: 1px solid rgba(102, 102, 102, 0.2); margin-left: 35%; max-width: 161px">
                        </a>
                    </div>
                    <br />
                </div>
            </div>
            <div class="product-price-info">
                <div class="product-catrgory-pagenation">
                    <ul>
                        <li>
                            <h1 style="font-family: Georgia, 'Times New Roman', Times, serif" data-bind="text: TenPhim"></h1>
                        </li>
                        <li class="active3"><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="product-value" style="font-family: Georgia, 'Times New Roman', Times, serif; color: #989898">
                    <h4 style="font-family: Georgia, 'Times New Roman', Times, serif">Thông Tin</h4>
                    <ul data-bind="text: TheLoai">
                    </ul>
                    <ul data-bind="text: NuocSanXuat">
                    </ul>
                    <ul data-bind="text: DaoDien">
                    </ul>
                    <ul data-bind="text: DienVien">
                    </ul>
                    <ul data-bind="text: DoDai">
                    </ul>
                    <ul data-bind="text: PhienBan">
                    </ul>
                    <ul data-bind="text: Hang">
                    </ul>
                </div>
                <div class="product-description">

                    <p data-bind="text: MoTa">
                    </p>
                </div>
            </div>




        </div>
        <br />
        <br />





        <div id="accordion" style="margin-left: 28.5%; clear: both; font-family: Georgia, 'Times New Roman', Times, serif">
            <h3>Chọn giờ</h3>
            <div style="color: #989898; font-size: 85%">
                <div id="rapInfo">
                    <span style="margin-right: 11px">Chọn rạp: </span>

                    <select class="dropdown" onchange="onChange(this)" data-bind="options: raps,optionsText: 'TenRap',optionsValue: 'Id'">
                    </select>

                    <br />
                </div>

                <div style="clear: both"></div>






                <div id="datetimeInfo">
                </div>



            </div>
            <h3>Chọn vé</h3>
            <div class="table-cinema-time" style="">
                <input type="text" value="" name="soLuongVe" id="soLuongVe" />
                <table id="rt2" class="rt cf">
                    <thead class="cf">
                        <tr class="table-header">
                            <th class="table-header" style="width: 35%">Các Loại Vé</th>
                            <th class="table-header" style="width: 15%">Số Lượng</th>
                            <th class="table-header" style="width: 25%">Giá</th>
                            <th class="table-header" style="width: 25%">Tổng</th>
                        </tr>
                    </thead>
                    <tbody class="table-items">
                        <tr>
                            <td>VÉ PHỔ THÔNG</td>
                            <td>
                                <select onchange="chonSoLuongVe(this)">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select></td>
                            <td id="vePhoThong">100,000 VND</td>
                            <td id="totalPrice">0 VND</td>
                        </tr>

                    </tbody>
                </table>
                <br />
            </div>
            <h3>Chọn ghế</h3>
            <div class="Seating-Container" style="height: 340px; visibility: visible">
            </div>
            <h3>Xác nhận</h3>

            <div style="color: #babcbf; font-family: Georgia, 'Times New Roman', Times, serif; font-size: inherit">
                <form id="form1" method="post" action="/api/PhimApi/DatVe" enctype="application/x-www-form-urlencoded">

                    <input type="text" id="phimId1" name="phimId" value="@Model.Id"/>
                    <input type="text" value="" name="rapId" id="rapId" />
                    <input type="text" value="" name="time" id="timeVL" />
                    <input type="text" value="" name="date" id="dateVL" />
                    <input type="text" value="@User.Identity.Name" name="userName" />
                    <input type="text" value="" name="soLuongVe" id="numberOfTickets" />
                    <div>
                        <h3>Thông tin vé </h3>
                        <table style="float: left; margin-right: 30px">
                            <tr>
                                <td id="xnTenPhim">Phim: </td>

                            </tr>
                            <tr>
                                <td>Rạp: </td>
                                <td class="info" id="xnTenRap"></td>
                            </tr>
                        </table>
                        <table style="">
                            <tr>
                                <td style="vertical-align: top">Số lượng vé đặt mua: </td>
                                <td class="info" id="xnSoLuongVe"></td>
                            </tr>
                            <tr>
                                <td>Ghế: </td>
                                <td class="info"></td>
                            </tr>
                            <tr>
                                <td>Tổng số tiền: </td>
                                <td class="info" id="xnTotalPrice"></td>
                            </tr>
                        </table>
                    </div>

                    <br />
                    <table>
                        <tr>
                            <td>Email: </td>
                            <td>
                                <input type="text" /></td>
                        </tr>
                        <tr>
                            <td>Họ: </td>
                            <td>
                                <input type="text" name="firstName"/></td>
                        </tr>
                        <tr>
                            <td>Tên: </td>
                            <td>
                                <input type="text" name="lastName"/></td>
                        </tr>
                        <tr>
                            <td>Điện thoại: </td>
                            <td>
                                <input type="text" name="sdt"/></td>
                        </tr>
                        <tr>
                            <td>Email: </td>
                            <td>
                                <input type="text" name="email"/></td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top">Loại thẻ: </td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <input type="radio" name="dropCardType" /></td>
                                        <td>
                                            <img src="~/Images/visa-icon.png" />
                                            <span>Thẻ VISA</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="radio" name="dropCardType" /></td>
                                        <td>
                                            <img src="~/Images/mastercard-icon.png" />
                                            <span>Thẻ MasterCard</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="radio" name="dropCardType" /></td>
                                        <td>
                                            <img src="~/Images/atm-icon.png" />
                                            <span>Thẻ ATM</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="radio" name="dropCardType" /></td>
                                        <td>
                                            <img src="~/Images/nganluong-icon.jpg" />
                                            <span>NganLuong.vn</span></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <button type="submit" style="padding: 4px 8px; font-family: Georgia, 'Times New Roman', Times, serif">Thanh toán</button>

                </form>

            </div>
        </div>

        <script type="text/javascript">
            $(function() {
                $("#accordion").accordion({
                    heightStyle: "content",
                    collapsible: true
                });
            });
        </script>




    </div>
</div>







<div class="divDemoBody" >

    <div id="windowTitleDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3 style="font-family: Georgia, 'Times New Roman', Times, serif" data-bind="text: TenPhim"></h3>
        </div>
        <div class="modal-body">
            
                <p id="messageResponse">

                </p>
            
        </div>
        <div class="modal-footer">

            <a href="#" class="btn btn-primary" onclick="closeDialog ();">OK</a>
            <a href="@Url.Action("Index","Home")" class="btn btn-primary" >Quay về trng chủ </a>

        </div>
    </div>

</div>







@section Scripts{



    <script type="text/javascript">
        
        function chooseDateTime(date,time)
        {                
            $("#timeVL").val(time);
            $("#dateVL").val(date);
        }
     
        
    </script>

    <script type="text/javascript">


        var phimId = @Model.Id;

        var vm = {
            TenPhim: ko.observable(),
            KhoiChieu : ko.observable(),
            TheLoai : ko.observable(),
            DienVien : ko.observable(),
            DaoDien : ko.observable(),
            DoDai : ko.observable(),
            PhienBan : ko.observable(),
            Hang : ko.observable(),
            NuocSanXuat : ko.observable(),
            MoTa : ko.observable(),
            Image : ko.observable(),
            Link : ko.observable(),
            DangChieu : ko.observable(),
            OriginalName : ko.observable()
        };
        
        $(document).ready(function () {
            ko.applyBindings(vm,document.getElementById('phimInfo'));

            $.ajax({
                url: "/api/PhimApi/GetPhim",
                type: "get",
                contentType: "application/json",
                data:{id:phimId}

            }).done(function (data) {
                
                vm.TenPhim(data.TenPhim);
                vm.MoTa(data.MoTa);
                vm.DaoDien(data.DaoDien);
                vm.DienVien(data.DienVien);
                vm.NuocSanXuat(data.NuocSanXuat);
                vm.KhoiChieu(data.KhoiChieu);
                vm.PhienBan(data.PhienBan);
                vm.DoDai(data.DoDai);
                vm.Hang(data.Hang);
                vm.Link(data.Link);
                vm.Image(data.Image);
                vm.DangChieu(data.DangChieu);
                vm.OriginalName(data.OriginalName);

                $("#xnTenPhim").html("Phim: "+data.TenPhim);
                
            });


        });

    </script>



    <script type="text/javascript">
        var phimIdForRap = @Model.Id;
        var rapsVM = {
            raps: ko.observableArray()
        };
        $(document).ready(function () {
            ko.applyBindings(rapsVM,document.getElementById('rapInfo'));
            $.ajax({
                url: "/api/PhimApi/GetRapByPhim",
                type: "get",
                contentType: "application/json",
                data: {id: phimIdForRap}
            }).done(function (data) {
                if (data.length > 0) {
                    for (i = 0; i < data.length; i++) {
                        rapsVM.raps.push(data[i]);
                    }



                    $.ajax({
                        url: "/api/PhimApi/GetNgaysByPhimAndRap",
                        type: "get",
                        contentType: "application/json",
                        data: {phimId: phimIdForRap,rapId: data[0].Id}
                    }).done(function (datetimes) {
                        if (datetimes.length > 0) {                        
                            var html = "";
                            for (i = 0; i < datetimes.length; i++) {
                                html+="<div>";
                                html+="<hr/>";
                                html+="<span>"+datetimes[i].NgayChieu+"</span>";
                                html+="<ul class=\"time\">";
                                for(j=0;j<datetimes[i].Times.length;j++){
                                    //html+="<li><a href='Javascript: chooseDateTime('"+data[i].NgayChieu+"','"+data[i].Times[j]+"')'>choose<button type=\"button\" class=\"btnbt\">"+data[i].Times[j]+"</button></a></li>";
                                    html += "<li><a href=\"Javascript: chooseDateTime('"+datetimes[i].NgayChieu+"','"+datetimes[i].Times[j]+"')\"><button type=\"button\" class=\"btnbt\">"+datetimes[i].Times[j]+"</button></a></li>";
                                }
                                html+="<div class=\"clear\"></div>";
                                html+="</ul>";
                                html+="</div>";                       
                            }
                            $("#datetimeInfo").html(html);
                        }
                    });


                }
            });
        });
    </script>



    <script type="text/javascript">
        var phimIdForDateTime = @Model.Id;
        var datetimesVM = {
            datetimes: ko.observableArray()
        };
        function onChange(selector) {
            var rapId = selector.value;
            $("#rapId").val(rapId);
            $(document).ready(function () {
                ko.applyBindings(datetimesVM,document.getElementById('datetimeInfo'));
                $.ajax({
                    url: "/api/PhimApi/GetNgaysByPhimAndRap",
                    type: "get",
                    contentType: "application/json",
                    data: {phimId: phimIdForDateTime,rapId: rapId}
                }).done(function (data) {
                    if (data.length > 0) {                        
                        var html = "";
                        for (i = 0; i < data.length; i++) {
                            html+="<div>";
                            html+="<hr/>";
                            html+="<span>"+data[i].NgayChieu+"</span>";
                            html+="<ul class=\"time\">";
                            for(j=0;j<data[i].Times.length;j++){
                                //html+="<li><a href='Javascript: chooseDateTime('"+data[i].NgayChieu+"','"+data[i].Times[j]+"')'>choose<button type=\"button\" class=\"btnbt\">"+data[i].Times[j]+"</button></a></li>";
                                html += "<li><a href=\"Javascript: chooseDateTime('"+data[i].NgayChieu+"','"+data[i].Times[j]+"')\"><button type=\"button\" class=\"btnbt\">"+data[i].Times[j]+"</button></a></li>";
                            }
                            html+="<div class=\"clear\"></div>";
                            html+="</ul>";
                            html+="</div>";                       
                        }
                        $("#datetimeInfo").html(html);
                    }
                });
            });
        }
    </script>



    <script type="text/javascript">
        function chonSoLuongVe(selector){
            var val = selector.value;
            $("#numberOfTickets").val(val);
            $("#soLuongVe").val(val);
            $("#totalPrice").html(val*100000 + " VND");
            $("#xnSoLuongVe").html(val);
            $("#xnTotalPrice").html(val*100000);
        }
    </script>

    <script type="text/javascript">
        $("#form1").submit(function () {
            var jqxhr = $.post('/api/PhimApi/DatVe', $('#form1').serialize())
                .success(function (message) {
                    $("#messageResponse").html(message);
                    $('#windowTitleDialog').modal('show');
                })
                .error(function () {
                    $("#messageResponse").html(message);
                    $('#windowTitleDialog').modal('show');
                });
            return false;
        });
    </script>

}


