﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MegastarLayout.cshtml";
}

<div class="products-box" id="phimsArea">
    <div class="products">
        <h5><span>PHIM </span>ĐANG CHIẾU</h5>
        <div class="section group" data-bind="foreach: filteredDangChieu(true)">

            @{
                var url = Url.Action("Detail", "Phim") + "/";
            }

            <div class="grid_1_of_5 images_1_of_5">
                <img data-bind="attr: { src: Image}">
                <h3 data-bind="text: TenPhim"></h3>
                <p></p>
                <h4></h4>
                <div class="button">
                    <span>
                        <a data-bind="attr: { href: 'Javascript: viewDetail(' + Id + ')' }">Đặt Vé
                        </a>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="products products-secondbox">
        <h5><span>PHIM</span> SẮP CHIẾU</h5>
        <div class="section group" data-bind="foreach: filteredDangChieu(false)">

            <div class="grid_1_of_5 images_1_of_5">
                <img data-bind="attr: { src: Image}">
                <h3 data-bind="text: TenPhim"></h3>
                <p></p>
                <h4></h4>
                <div class="button">
                    <span>
                        <a data-bind="attr: { href: 'Javascript: viewDetail(' + Id + ')' }">Đặt Vé
                        </a>

                    </span>

                </div>
            </div>

        </div>
    </div>
</div>











<div class="divDemoBody" id="phimInfo">

    <div id="windowTitleDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true">
        <div class="modal-header">
            <a href="#" class="close" data-dismiss="modal">&times;</a>
            <h3 style="font-family: Georgia, 'Times New Roman', Times, serif" data-bind="text: TenPhim"></h3>
        </div>
        <div class="modal-body">
            
                <div class="product-info">
                    <div>

                        <div class="product-image">
                            <div class="clearfix" id="content">
                                <div class="clearfix">
                                    <a href="#" class="jqzoom" rel='gal1' title="triumph">
                                        <img data-bind="attr: { src: Image }" title="triumph" style="border: 1px solid rgba(102, 102, 102, 0.2); margin-left: 35%; max-width: 161px">
                                    </a>
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="product-price-info">
                            <div class="product-catrgory-pagenation">
                                <ul>
                                    <li></li>


                                    <li class="active3"><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                            <div class="product-value" style="font-family: Georgia, 'Times New Roman', Times, serif; color: #989898">
                            </div>
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <div class="product-description">

                                <p data-bind="text: MoTa">
                                </p>
                            </div>
                        </div>



                    </div>
                </div>
            
        </div>
        <div class="modal-footer">

            <a href="#" class="btn btn-primary" onclick="closeDialog ();">OK</a>
            <a data-bind="attr: { href: '@url' + Id()}" class="btn btn-primary">Đặt Vé</a>

        </div>
    </div>

</div>




@section Scripts{



    <script type="text/javascript">
        
    </script>






    <script type="text/javascript">

        var vm = {
            phims: ko.observableArray(),
            count: ko.observable()
        };

        // return first hit (unique ID)
        vm.filteredDangChieu = function (DangChieu) {
            return ko.utils.arrayFilter(this.phims(), function (phim) {
                return (phim.DangChieu === DangChieu);
            });
        };

        ko.applyBindings(vm, document.getElementById('phimsArea'));

        $(document).ready(function () {

            $.ajax({

                url: "/api/PhimApi/GetPhimsForIndexPage",
                type: "get",
                contentType: "application/json"

            }).done(function (data) {
                if (data.length > 0) {

                    for (i = 0; i < data.length; i++) {
                        vm.phims.push(data[i]);
                    }
                }
            });
        });

    </script>



    <script type="text/javascript">


        var phimModel = {
            Id: ko.observable(),
            TenPhim: ko.observable(),
            KhoiChieu: ko.observable(),
            TheLoai: ko.observable(),
            DienVien: ko.observable(),
            DaoDien: ko.observable(),
            DoDai: ko.observable(),
            PhienBan: ko.observable(),
            Hang: ko.observable(),
            NuocSanXuat: ko.observable(),
            MoTa: ko.observable(),
            Image: ko.observable(),
            Link: ko.observable(),
            DangChieu: ko.observable(),
            OriginalName: ko.observable()
        };
        ko.applyBindings(phimModel, document.getElementById('phimInfo'));

        function viewDetail(phimId) {

            $.ajax({
                url: "/api/PhimApi/GetPhim",
                type: "get",
                contentType: "application/json",
                data: { id: phimId }

            }).done(function (data) {

                phimModel.Id(data.Id);
                phimModel.TenPhim(data.TenPhim);
                phimModel.MoTa("Mô tả: " + data.MoTa);
                phimModel.DaoDien("Đạo diễn: " + data.DaoDien);
                phimModel.DienVien("Diễn viên: " + data.DienVien);
                phimModel.NuocSanXuat("Nước sản xuất: " + data.NuocSanXuat);
                phimModel.KhoiChieu("Khởi chiếu: " + data.KhoiChieu);
                phimModel.PhienBan("Phiên bản: " + data.PhienBan);
                phimModel.DoDai("Độ dài: " + data.DoDai);
                phimModel.Hang("Hãng: " + data.Hang);
                phimModel.Link(data.Link);
                phimModel.Image(data.Image);
                phimModel.DangChieu(data.DangChieu);
                phimModel.OriginalName(data.OriginalName);

                $('#windowTitleDialog').modal('show');


            });


        }

    </script>


}