﻿@{
    ViewBag.Title = "Search";
}
@model SieuThiDienMayDoAn.Controllers.ViewModels.Phim.SearchData

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MegastarLayout.cshtml";
}

<!--start-cartires-page---->
<div class="Cartires" id="searchPhim">





    <div class='cartires-grids'>
        <div>
            <div class='cartire-grid'>
                <div class='cartire-grid-img'>
                </div>
                <div class='cartire-grid-info'>
                </div>
                <div class='cartire-grid-cartinfo'>
                </div>
                <div class='clear'></div>
            </div>
            <br />
        </div>
        <div class='cartires-grids'>
            <div class='cartire-grid'>
                <div class='cartire-grid-img'>
                </div>
                <div class='cartire-grid-info'>
                </div>
                <div class='cartire-grid-cartinfo' id="chooseDateId">
                </div>
                <div class='clear'></div>
            </div>
            <br />
        </div>
    </div>

    <div id="phimsSearchResultArea">

    </div>

</div>
<!--End-cartires-page---->

<script type="text/javascript">

    var searchstr = "@Model.SearchStr";
    console.log("123");
    console.log(searchstr);
    $(document).ready(function () {

        $.ajax({
            url: "/api/PhimApi/SearchPhim",
            type: "get",
            contentType: "application/json",
            data: { searchStr: searchstr }
        }).done(function (data) {
            if (data.length > 0) {
                var html = "";
                for (i = 0; i < data.length; i++) {
                    html += "<div class='cartires-grids'>";
                    html += "<div class='cartire-grid'>";
                    html += "<div class='cartire-grid-img'>";
                    html += "<img src=' " + data[i].Image + "' title='tries' style=\"max-width: 200px\"/>";
                    html += "</div>";
                    html += "<div class='cartire-grid-info'>";
                   
                    html += "<h3>" + data[i].TenPhim + "</h3>";
                    html += "<p>" + data[i].MoTa + "</p>"
                    html += "</div>";
                    html += "<div class='cartire-grid-cartinfo'>";
                   
                    html += "<a href='singlepage.html'>Xem chi tiết</a><br />";
                    html += "<a href='singlepage.html'>Đặt vé</a>";
                    html += "</div>";
                    html += "<div class='clear'> </div>";
                    html += "</div><br />";
                    html += "</div>";
                }
                $("#phimsSearchResultArea").html(html);
            }
        });
    });

</script>









<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            url: "/api/PhimApi/GetAllDates",
            type: "get",
            contentType: "application/json"
        }).done(function (ngayChieus) {
            if (ngayChieus.length > 0) {
                var html = "";

                html += "<select class='dropdown' onchange='searchByDate(this)'>";
                for (i = 0; i < ngayChieus.length; i++) {
                    html += "<option value=" + ngayChieus[i] + ">" + ngayChieus[i] + "</option>";
                }
                html += "</select>"

                $("#chooseDateId").html(html);
            }
        });

    });

</script>

<script type="text/javascript">
    function searchByDate(selector) {
        var searchstr = selector.value;


        $.ajax({
            url: "/api/PhimApi/SearchPhimByDate",
            type: "get",
            contentType: "application/json",
            data: { searchStr: searchstr }
        }).done(function (data) {
            if (data.length > 0) {
                var html = "";
                for (i = 0; i < data.length; i++) {
                    html += "<div class='cartires-grids'>";
                    html += "<div class='cartire-grid'>";
                    html += "<div class='cartire-grid-img'>";
                    html += "<img src=' " + data[i].Image + "' title='tries' style=\"max-width: 200px\"/>";
                    html += "</div>";
                    html += "<div class='cartire-grid-info'>";
                    
                    html += "<h3>" + data[i].TenPhim + "</h3>";
                    html += "<p>" + data[i].MoTa + "</p>"
                    html += "</div>";
                    html += "<div class='cartire-grid-cartinfo'>";
                   
                    html += "<a href='singlepage.html'>Xem chi tiết</a><br />";
                    html += "<a href='singlepage.html'>Đặt vé</a>";
                    html += "</div>";
                    html += "<div class='clear'> </div>";
                    html += "</div><br />";
                    html += "</div>";
                }
                $("#phimsSearchResultArea").html(html);
            }
        });


    }
</script>
