﻿@model SieuThiDienMayDoAn.Controllers.ViewModels.Checkout.CheckoutPageView

@if (@User.Identity.IsAuthenticated)
{

<!--Middle Part Start-->
<div id="content">
    <input type="hidden" value="@Model.BasketId.ToString()" id="basketId"  />
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"><a href="index-2.html">Home</a> » <a href="#">Shopping Cart</a></div>
    <!--Breadcrumb Part End-->
    <h1>Checkout</h1>
    <div class="checkout" id="step1">
        <div class="checkout-heading">Bước 1: Điền thông tin khách hàng</div>
        <div class="checkout-content">

            <form method="post" action="/api/CustomerApi/Create"
                enctype="application/x-www-form-urlencoded" id="createCustomerForm">

                <input type="hidden" name="UserName" value="TongQuocVen" id="UserName"  />

                <table class="form">
                    <tbody>
                        <tr>
                            <td><span class="required">*</span> First Name:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="firstName" id="firstName"></td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> Last Name:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="lastName" id="lastName"></td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span>Email:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="email" id="email"></td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span>Phone:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="phone" id="phone"></td>
                        </tr>


                    </tbody>
                </table>
                <div class="buttons">
                    <div class="right">
                        <input type="submit" class="button" id="btnSubmitConsumer" value="Continue">
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="checkout" id="step2">
        <div class="checkout-heading">Bước 2: Điền địa chỉ của khách hàng</div>
        <div class="checkout-content">

            <form method="post" action="/api/CustomerApi/CreateDeliveryAddress"
                enctype="application/x-www-form-urlencoded" id="createDeliveryAddressForm">

                <input type="hidden" name="UserName" value="TongQuocVen"  />

                <table class="form">
                    <tbody>
                        <tr>
                            <td><span class="required">*</span> Số nhà:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="numberOfHouse" id="numberOfHouse"></td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> Đường:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="street" id="street"></td>
                        </tr>
                        <tr>
                            <td>Phường/Xã:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="ward" id="ward"></td>
                        </tr>
                        <tr>
                            <td>Quận/Huyện:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="district" id="district"></td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> Thành Phố/Tỉnh:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="province" id="province"></td>
                        </tr>


                    </tbody>
                </table>
                <div class="buttons">
                    <div class="right">
                        <input type="submit" class="button" id="btnSubmitAddress" value="Continue">
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="checkout" id="step3">
        <div class="checkout-heading">Bước 3: Điền địa chỉ khác của khách hàng</div>

        <div class="checkout-content">

            <form method="post" action="/api/CustomerApi/CreateDeliveryAddress"
                enctype="application/x-www-form-urlencoded" id="anotherCreateDeliveryAddressForm">

                <input type="hidden" name="UserName" value="TongQuocVen"  />
                <table class="form">
                    <tbody>
                        <tr>
                            <td><span class="required">*</span> Số nhà:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="numberOfHouse" id="anotherNumberOfHouse"></td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> Đường:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="street" id="anotherStreet"></td>
                        </tr>
                        <tr>
                            <td>Phường/Xã:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="ward" id="anotherWard"></td>
                        </tr>
                        <tr>
                            <td>Quận/Huyện:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="district" id="anotherDistrict"></td>
                        </tr>
                        <tr>
                            <td><span class="required">*</span> Thành Phố/Tỉnh:</td>
                            <td>
                                <input type="text" class="large-field" value="" name="province" id="anotherProvince"></td>
                        </tr>


                    </tbody>
                </table>
                <div class="buttons">
                    <div class="right">
                        <input type="submit" class="button" id="anotherBtnSubmitAddress" value="Continue">
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div class="checkout" id="step4">
        <div class="checkout-heading">Bước 4: Chọn phương thức giao hàng</div>
        <div class="checkout-content">
            <p>Vui lòng chọn một phương thức giao hàng</p>
            <select id="shippingMethod" onchange="Javascript: chooseShippingMethod(this);">
                
            </select>
        </div>
    </div>
    <div class="checkout" id="step5">
        <div class="checkout-heading" >Bước 5: Chọn phương thức thanh toán</div>
        <div class="checkout-content">
            <p>Vui lòng chọn một phương thức thanh toán.</p>
            <select id="paymentMethod" onchange="Javascript: choosePaymentMethod(this);">
                <option value="0">Chọn phương thức thanh toán</option>
                <option value="1">Thanh toán sau giao hàng</option>
            </select>
        </div>
    </div>

    <div class="checkout" id="step6">
        <div class="checkout-heading">Bước 6: Xác nhận đặt hàng</div>
        <div class="checkout-content">
            <form method="post" action="/api/CustomerApi/CreateDeliveryAddress"
                enctype="application/x-www-form-urlencoded" id="orderConfirmForm">

                <input type="text" name="UserName" value="TongQuocVen"  />
                <input type="text" value="" name="shippingMethodId" id="shippingMethodId" />
                <input type="text" value="" name="DeliveryAddressId" id="DeliveryAddressId" />
                <input type="text" value="@Model.BasketId.ToString()" name="basketId"  />
                <div class="checkout-product">
                    <table>
                        <thead>
                            <tr>
                                <td class="name">Product Name</td>

                                <td class="quantity">Quantity</td>
                                <td class="price">Price</td>
                                <td class="total">Total</td>
                            </tr>

                        </thead>
                        <tbody id="itemsConfirm">
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="price" colspan="3"><b>Sub-Total:</b></td>
                                <td class="total">£51.11</td>
                            </tr>
                            <tr>
                                <td class="price" colspan="3"><b>Flat Shipping Rate:</b></td>
                                <td class="total">£3.19</td>
                            </tr>
                            <tr>
                                <td class="price" colspan="3"><b>Total:</b></td>
                                <td class="total">£66.37</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="checkout-product">

                    <select id="addressToShipping" onchange="Javascript: chooseAddressToShipping(this);">
                    </select>
                </div>
                <div class="buttons">
                    <div class="right">
                        <input type="submit" class="button" id="button-confirm" value="Confirm Order">
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
<!--Middle Part End-->


 <!-- first modal window -->
    <div id="modalwin" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <header class="modal-header">
        <a href="#" class="close" data-dismiss="modal">x</a>
        <h3>Thông báo</h3>
      </header>
      
      <div class="modal-body">
        <p id="orderResultMessage"></p>
        
        
      </div>
      
      <footer class="modal-footer">
        <a href="#" class="btn btn-primary" id="okwin01">OK</a>
      </footer>
    </div> 
	
	






<script type="text/javascript">
    $(document).ready(function () {

        $("#step1").find('.accordion-content, .checkout-content').slideDown('slow');
    });
</script>

<script type="text/javascript">
    $("#createCustomerForm").submit(function () {
        var jqxhr = $.post('/api/CustomerApi/Create', $('#createCustomerForm').serialize())
            .success(function (data) {

                $('.accordion-content, .checkout-content').slideUp('slow');
                $("#step2").find('.accordion-content, .checkout-content').slideDown('slow');

            })
            .error(function () {
                
            });
        return false;
    });
</script>


<script type="text/javascript">
    $("#createDeliveryAddressForm").submit(function () {
        var jqxhr = $.post('/api/CustomerApi/CreateDeliveryAddress', $('#createDeliveryAddressForm').serialize())
            .success(function (data) {
                $('.accordion-content, .checkout-content').slideUp('slow');
                $("#step3").find('.accordion-content, .checkout-content').slideDown('slow');
            })
            .error(function () {
                
            });
        return false;
    });
</script>

<script type="text/javascript">
    $("#anotherCreateDeliveryAddressForm").submit(function () {
        var jqxhr = $.post('/api/CustomerApi/CreateDeliveryAddress', $('#anotherCreateDeliveryAddressForm').serialize())
            .success(function (data) {
                $('.accordion-content, .checkout-content').slideUp('slow');
                $("#step4").find('.accordion-content, .checkout-content').slideDown('slow');
            })
            .error(function () {
               
            });
        return false;
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        var basketId = $("#basketId").val();

        $.ajax({

            url: "/api/BasketApi/GetBasket",
            type: "get",
            contentType: "application/json",
            data: { basketId: basketId }


        }).done(function (data) {

            var html = "";
            if (data.length > 0) {

                for (i = 0; i < data.length; i++) {
                    html += "<tr>";
                    html += "<td class='name'><a href='product.html'>" + data[i].ProductName + "</a></td>";

                    html += "<td class='quantity'><input type='text' size='1' value='" + data[i].Qty + "' name='' class='w30' id='" + data[i].ProductId + "'>";
                    html += " &nbsp;";

                    html += "<td class='price'>$" + data[i].ProductPrice + "</td>";
                    html += "<td class='total'>$" + data[i].LineTotal + "</td>";
                    html += "</tr>";
                }

            }

            $("#itemsConfirm").html(html);

        });

    });
</script>


<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/CustomerApi/GetDeliveryAddresses",
            type: "get",
            contentType: "application/json",
            data: { userName: 'TongQuocVen' }


        }).done(function (data) {

            var html = "";
            html += "<option value='" + data[0].Id + "'>Chọn địa chỉ giao hàng</option>";

            if (data.length > 0) {

                for (i = 0; i < data.length; i++) {
                    html += "<option value='" + data[i].Id + "'>" + data[i].NumberOfHouse + "," + data[i].Street + "," + data[i].Ward + "..." + "</option>"
                }

            }

            $("#addressToShipping").html(html);

        });

    });
</script>

<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/ShippingApi/GetAllDeliveryOptions",
            type: "get",
            contentType: "application/json"

        }).done(function (data) {

            var html = "";
            if (data.length > 0) {
                html += "<option value='" + data[0].Id + "'>Chọn phương thức giao hàng</option>";
                for (i = 0; i < data.length; i++) {
                    html += "<option value='" + data[i].Id + "'>" + data[i].Name + "</option>"
                }

            }

            $("#shippingMethod").html(html);

        });

    });
</script>


<script type="text/javascript">
    function chooseShippingMethod(selector) {
        var value = selector.value;
        $("#shippingMethodId").val(value);


        $('.accordion-content, .checkout-content').slideUp('slow');
        $("#step5").find('.accordion-content, .checkout-content').slideDown('slow');

    }
</script>

<script type="text/javascript">
    function chooseAddressToShipping(selector) {
        var value = selector.value;
        $("#DeliveryAddressId").val(value);

    }
</script>



<script type="text/javascript">
    function choosePaymentMethod(selector){
        $('.accordion-content, .checkout-content').slideUp('slow');
        $("#step6").find('.accordion-content, .checkout-content').slideDown('slow');
    }
</script>


<script type="text/javascript">
    $("#orderConfirmForm").submit(function () {
        var jqxhr = $.post('/api/OrderApi/CreateOrder', $('#orderConfirmForm').serialize())
            .success(function (data) {
                $("#orderResultMessage").html(data);
                $('.accordion-content, .checkout-content').slideUp('slow');
                $("#modalwin").modal('show');
            })
            .error(function () {
                
            });
        return false;
    });
</script>

<script type="text/javascript">
    $(function () {
        function hideModal(modalwindow) {
            $(modalwindow).modal('hide');
        }

        $('#okwin01').on('click', function (e) {
            e.preventDefault();
            hideModal('#modalwin');
        });

        
    });
</script>
}
else
{
    Response.Redirect(Url.Action("Login", "Account", new { returnUrl = Url.Action("CheckoutPage", "Checkout") }));
}