﻿@model SieuThiDienMayDoAn.Controllers.ViewModels.ProductCatalog.ProductDetailView


<!--Left Part-->
<div id="column-left">
    <!--Bestsellers Part Start-->
    <div class="box">
        <div class="box-heading">Bestsellers</div>
        <div class="box-content">
            <div class="box-product">
                <div class="flexslider">
                    <ul class="slides" id="bestSellerProductsArea">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Bestsellers Part End-->
    <!--Latest Product Start-->
    <div class="box">
        <div class="box-heading">Latest</div>
        <div class="box-content">
            <div class="box-product">
                <div class="flexslider">
                    <ul class="slides" id="latestProductsArea">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Latest Product End-->




</div>
<!--Left End-->
<!--Middle Part Start-->
<div id="content">
    <div class="breadcrumb"><a href="index-2.html">Home</a> &raquo; <a href="#">@Model.Product.Name</a> </div>
    <h3>@Model.Product.Name</h3>
    <div class="product-info">
        <div class="left">
            <div class="image">
                <a href="~/Images/product/@Model.Product.ImageUrl" title="Canon EOS 5D" class="cloud-zoom colorbox" id='zoom1' rel="adjustX: 0, adjustY:0, tint:'#000000',tintOpacity:0.2, zoomWidth:360, position:'inside', showTitle:false">
                    <img src="~/Images/product/@Model.Product.ImageUrl" title="Canon EOS 5D" alt="Canon EOS 5D" id="image" /><span id="zoom-image"><i class="zoom_bttn"></i> Zoom</span></a>
            </div>
            <div class="image-additional">
                <a href="~/Images/product/@Model.Product.ImageUrl" title="Canon EOS 5D" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '/Images/product/@Model.Product.ImageUrl' ">
                    <img src="~/Images/product/@Model.Product.ImageUrl" width="62" title="Canon EOS 5D" alt="Canon EOS 5D" /></a> <a href="/Images/product/@Model.Product.ImageUrl" title="Canon EOS 5D" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '/Images/product/@Model.Product.ImageUrl' ">
                        <img src="~/Images/product/@Model.Product.ImageUrl" width="62" title="Canon EOS 5D" alt="Canon EOS 5D" /></a> <a href="/Images/product/@Model.Product.ImageUrl" title="Canon EOS 5D" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '/Images/product/@Model.Product.ImageUrl' ">
                            <img src="~/Images/product/@Model.Product.ImageUrl" width="62" title="Canon EOS 5D" alt="Canon EOS 5D" /></a>
            </div>
        </div>
        <div class="right">
            <div class="description">
                <span>Brand:</span> <a href="#">@Model.BrandName</a><br />
                
            </div>
            <div class="price">
                Price: <span class="price-old">$@Model.Product.Price</span> <span class="price-new">$@Model.Product.Price</span>
                <br />
                
            </div>
            
            <div class="cart">


                <div>
                    <div class="qty">
                        <strong>Qty:</strong> <a class="qtyBtn mines" href="javascript:void(0);">-</a>
                        <input id="qty" type="text" class="w30" name="quantity" size="2" value="1" />
                        <a class="qtyBtn plus" href="javascript:void(0);">+</a>
                        <input type="hidden" name="productId" id="productId" value="@Model.Product.Id" />
                        <div class="clear"></div>
                    </div>
                    <input type="button" value="Add to Cart" id="button-cart" class="button" onclick="JavaScript: addProductToBasket();" />
                </div>



                <div><a href="#" class="wishlist">Add to Wish List</a> <a href="#" class="wishlist">Add to Compare</a></div>
            </div>
            <div class="review">
                <div>
                    <img src="~/Images/stars-3.png" alt="2 reviews" />&nbsp;&nbsp;<a onclick="$('a[href=\'#tab-review\']').trigger('click');">0 nhận xét</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a onclick="$('a[href=\'#tab-review\']').trigger('click');">Viết một nhận xét</a></div>
            </div>

            <!--Facebook share-->
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style "> </div>
            <!-- AddThis Button END -->

</div>
</div>
    <!-- Description and Reviews Tab Start -->
    <div id="tabs" class="htabs"><a href="#tab-description">Mô tả</a> <a href="#tab-review">Nhận xét</a> </div>
    <div id="tab-description" class="tab-content">
        <p>
            <strong>@Model.Product.Name</strong><br>
            @Model.Product.Description
        </p>
        
    </div>
    <div id="tab-review" class="tab-content">
        <div id="review"></div>
        <h2 id="review-title">Viết nhận xét</h2>
        <br />
        <b>Your Name:</b><br />
        <input type="text" name="name" value="" />
        <br />
        <br />
        <b>Your Review:</b>
        <textarea name="text" cols="40" rows="8" style="width: 98%;"></textarea>
        <span style="font-size: 11px;"><span style="color: #FF0000;">Note:</span> HTML is not translated!</span><br />
        <br />
        <b>Rating:</b> <span>Bad</span>&nbsp;
          <input type="radio" name="rating" value="1" />
        &nbsp;
          <input type="radio" name="rating" value="2" />
        &nbsp;
          <input type="radio" name="rating" value="3" />
        &nbsp;
          <input type="radio" name="rating" value="4" />
        &nbsp;
          <input type="radio" name="rating" value="5" />
        &nbsp;<span>Good</span><br />
        <br />
        <b>Enter the code in the box below:</b><br />
        <input type="text" name="captcha" value="" />
        <br />
        <br />
        <img src="indexffc1.html?route=product/product/captcha" alt="" id="captcha" /><br />
        <br />
        <div class="buttons">
            <div class="right"><a id="button-review" class="button">Continue</a></div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#tabs a').tabs();
        });
    </script>
    <!-- Description and Reviews Tab Start -->
    <!--Related Product Start-->
    <div class="box">
        <div class="box-heading">Sản phẩm cùng loại</div>
        <div class="box-content">
            <div class="box-product">
                <div class="flexslider" id="related_pro">
                    <ul class="slides" id="relatedProductsArea">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="fb-comments" data-href="http://tongquocven.somee.com/" data-numposts="5" data-colorscheme="light"></div>


    <script type="text/javascript">
        (function () {
            // store the slider in a local variable
            var $window = $(window),
                flexslider;
            // tiny helper function to add breakpoints
            function getGridSize() {
                return (window.innerWidth < 320) ? 1 :
                       (window.innerWidth < 600) ? 2 :
                       (window.innerWidth < 800) ? 3 :
                       (window.innerWidth < 900) ? 3 : 4;
            }
            $window.load(function () {
                $('#content #related_pro').flexslider({
                    animation: "slide",
                    animationLoop: false,
                    slideshow: false,
                    itemWidth: 210,
                    minItems: getGridSize(), // use function to pull in initial value
                    maxItems: getGridSize() // use function to pull in initial value
                });
            });
        }());
    </script>
    <!--Related Product End-->
</div>
<!--Middle Part End-->




<script type="text/javascript">


    function addProductToBasket() {

        var productId = $('#productId').val();

        $.ajax({
            url: "@Url.Action("AddToBasket", "Basket", new { })",
            data: { productId: productId },
            type: "POST",
            success: function (message) {
                var respContent = message.NumberOfItems + " items - " + "$" + message.BasketTotal;

                $("#cart-total").html(respContent);

            }
        });
    }

</script>


<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/productApi/GetLatestProducts",
            type: "get",
            contentType: "application/json"
        }).done(function (data) {
            if (data.length > 0) {

                var html = "";

                for (i = 0; i < (data.length >= 5 ? 5 : data.length) ; i++) {
                    html += "<li>";
                    html += "<div class='slide-inner'>";
                    html += "<div class='image'><a href='product.html'><img src='/Images/product/"+data[i].ImageUrl+"' alt='" + data[i].Name + "' /></a></div>";
                    html += "<div class='name'><a href='product.html'>" + data[i].Name + "</a></div>";
                    html += "<div class='price'>" + data[i].Price + " VND</div>";
                    html += "<div class='clear'></div>";
                    html += "</div>";
                    html += "</li>";
                }


                $("#latestProductsArea").html(html);


            }
        });


    });
</script>



<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/productApi/GetBestSellerProducts",
            type: "get",
            contentType: "application/json"
        }).done(function (data) {
            if (data.length > 0) {

                var html = "";

                for (i = 0; i < (data.length >= 5 ? 5 : data.length) ; i++) {
                    html += "<li>";
                    html += "<div class='slide-inner'>";
                    html += "<div class='image'><a href='product.html'><img src='/Images/product/"+data[i].ImageUrl+"' alt='" + data[i].Name + "' /></a></div>";
                    html += "<div class='name'><a href='product.html'>" + data[i].Name + "</a></div>";
                    html += "<div class='price'>" + data[i].Price + " VND</div>";
                    html += "<div class='clear'></div>";
                    html += "</div>";
                    html += "</li>";
                }


                $("#bestSellerProductsArea").html(html);


            }
        });


    });
</script>


<script type="text/javascript">

    var categoryId = @Model.CategoryId;
    
        $.ajax({

            url: "/api/productApi/GetProductsByCategory",
            type: "get",
            contentType: "application/json",
            data:{categoryId: categoryId,index:0}
        }).done(function (data) {
            if (data.length > 0) {

                var html = "";

                for (i = 0; i < data.length ; i++) {
                    html+="<li>";
                    html+="<div class='slide-inner'>";
                    html+="<div class='image'><a href='product.html'>";
                    html+="<img src='/Images/product/"+data[i].ImageUrl+"' alt='"+data[i].Name+"' /></a></div>";
                    html+=" <div class='name'><a href='@Url.Action("Detail","Product")'>"+data[i].Name+"</a></div>";
                    html+=" <div class='price'>"+data[i].Price+" VND</div>";
                    html+="<div class='cart'>";
                    html+=" <input type='button' value='Add to Cart' class='button' />";
                    html+="</div>";
                    html+=" <div class='clear'></div>";
                    html+="</div>";
                    html+="</li>";
                        
                }


                $("#relatedProductsArea").html(html);


            }
        });


    
</script>





