﻿@model SieuThiDienMayDoAn.Controllers.ViewModels.ProductCatalog.ProductsByCategoryView




@{
    var url = Url.Action("Detail", "Product") + "/";
}

<div id="column-left">
    
    <script type="text/javascript" src="js/jquery.dcjqaccordion.js"></script>
    <!--Category End -->
    
    <!--Latest Product Start-->
    <div class="box">
        <div class="box-heading">Latest</div>
        <div class="box-content">
            <div class="box-product">
                <div class="flexslider">
                    <ul class="slides" id="latestProductsArea">

                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Latest Product End-->
    <!--Banner Start-->
    <div class="banner">
        <div>
            <a href="#">
                <img src="~/Images/product/small-banner1-220x350.jpg" alt="banner" title="banner" /></a>
        </div>
    </div>
    <!--Banner End-->
</div>
<!--Middle Part Start-->
<div id="content">
    <!--Breadcrumb Part Start-->
    <div class="breadcrumb"><a href="index-2.html">Home</a> &raquo; <a href="#">Electronics</a> </div>
    <!--Breadcrumb Part End-->
    <h1>Electronics</h1>
    <div class="product-filter">
        <div class="display"><b>Sản phẩm:</b> <a href="category.html" class="grid-icon">Grid</a><span class="list1-icon">List</span> </div>
        <div class="limit">
            <b>Show:</b>
            <select>
                <option value="15" selected="selected">10</option>
                <option value="25">20</option>
                <option value="50">30</option>
                <option value="75">50</option>
                
            </select>
        </div>
        <div class="sort">
            <b>Sắp xếp:</b>
            <select>
                <option value="" selected="selected">Mặc định</option>
                <option value="">Theo tên từ A-Z</option>
                <option value="">Theo tên từ Z-A</option>
                <option value="">Theo giá từ thấp đến cao</option>
                <option value="">Theo giá từ cao đến thấp</option>
                <option value="">Theo mức đánh giá cao nhất</option>
                <option value="">Theo mức đánh giá thấp nhất</option>
                
            </select>
        </div>


    </div>
    <div class="product-compare"><a href="#" id="compare-total">Product Compare (0)</a></div>
    <!--Product List Start-->
    <div class="product-list" data-bind="foreach: products">

        <div>
            <div class="left">
                <div class="image">
                    <a href="product.html">
                        <img data-bind="attr: { src:'/Images/Product/'+ ImageUrl }" title="iPad Classic" alt="iPad Classic" /></a>
                </div>
                <div class="name">


                    <a data-bind="attr: { href: '@url    ' +Id}">
                        <span data-bind="text: Name"></span>
                    </a>

                </div>
                <div class="description" data-bind="text: Description"></div>
                <div class="price">
                    <span class="price-old" data-bind="text: Price"></span><span class="price-new" data-bind="    text: Price"></span>
                    <br>
                    
                </div>
                <div class="rating">
                    <img src="~/Images/stars-4.png" alt="Based on 1 reviews." />
                </div>
                <div class="cart">
                    <a  class="button"  data-bind="attr: { href: 'Javascript: addToCart('+Id+')' }" >Add to Cart</a>


                    <div class="wishlist"><a onclick="addToWishList('42');">Add to Wish List</a></div>
                    <div class="compare"><a onclick="addToCompare('42');">Add to Compare</a></div>
                </div>
            </div>
        </div>
    </div>
    <!--Product List End-->
    
</div>
<!--Middle Part End-->
<script type="text/javascript">

   var categoryId =@Model.CategoryId;


    var req;
    var viewModel = {
        products: ko.observableArray(),
        currentPage: ko.observable(0)

    };

    $(document).ready(function () {


        ko.applyBindings(viewModel);

        getData(viewModel.currentPage() + 1);

        $(window).scroll(function (evt) {
            evt.preventDefault();
            if ($(window).scrollTop() >= $(document).height() - $(window).height()) {

                if (req.state() == 'resolved' && req.state() !== 'pending') {
                    getData(viewModel.currentPage() + 1);
                }


            }
        });
    });


    function getData(pageNumber) {

        if (viewModel.currentPage() != pageNumber && viewModel.currentPage() == (pageNumber - 1)) {


            req = $.ajax({

                url: "/api/ProductApi/GetProductsByCategory",
                type: "get",
                contentType: "application/json",
                data: { categoryId: categoryId, index: pageNumber }


            }).done(function (data) {
                if (data.length > 0) {
                    viewModel.currentPage(viewModel.currentPage() + 1);
                    for (i = 0; i < data.length; i++) {
                        viewModel.products.push(data[i]);

                    }
                }

            });
        }
    }
</script>




<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({

            url: "/api/productApi/GetLatestProducts",
            type: "get",
            contentType: "application/json"
        }).done(function (data) {
            if (data.length > 0) {
                        
                var html = "";

                for (i = 0; i < (data.length>=5?5:data.length); i++) {
                    html+="<li>";
                    html+="<div class='slide-inner'>";
                    html+="<div class='image'>";
                    html+="<a href='product.html'>";
                    html+="<img src='/Images/product/"+data[i].ImageUrl+"' alt='"+data[i].Name+"' /></a>";
                    html+="</div>";
                    html+="<div class='name'><a href='product.html'>"+data[i].Name+"</a></div>";
                    html+="<div class='price'>"+data[i].Price+" VND</div>";
                    html+="<div class='clear'></div>";
                    html+=" </div>";
                    html+="</li>";
                        
                }


                $("#latestProductsArea").html(html);
                       

            }
        });
                

    });
</script>


<script type="text/javascript">


    function addToCart(productId) {

        

        $.ajax({
            url: "@Url.Action("AddToBasket", "Basket", new { })",
            data: { productId: productId },
            type: "POST",
            success: function (message) {
                var respContent = message.NumberOfItems + " items - " + "$" + message.BasketTotal;

                $("#cart-total").html(respContent);

            }
        });
    }

</script>