@charset "utf-8";
/* CSS Document */

html, body, table, caption, tbody, tfoot, thead, tr, th, td{
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
	font: normal 12px/100% Tahoma;
	line-height:17px;
	text-align: center;
}
body { 
	background:#fff url(/images/bg.jpg) repeat-x top; 
}

img { border: none; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:focus {outline: 0;}
form, p, ul, ol, dl, dt, dd, li {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 { margin:0; padding:0;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	content: none;
}
h1
{
font-size: 14pt;
color: #c00;
}
#TopViews{
	float:left;
	margin:0;
	padding:0;
	margin-left:10px;
	height:300px;
	width:260px;
	overflow:hidden;
	background:#4d4d4d url(/images/bg_topview.jpg) no-repeat 100px -110px;
	}	
#TopViews .txt{
	display:block;
	text-align:center;
	font-size:16px;
	text-transform:uppercase;
	color:#fff;
	padding:14px 0 8px;
	}
		
.TopViewsItem{
	float:left;
	width:240px;
	padding:7px;
	padding-bottom:6px;
	margin:1px 3px 0;
	background:#fff url(/images/bg_topview.jpg) repeat-x top;
	-webkit-border-radius: 3px;  
	-moz-border-radius: 3px; 
	-khtml-border-radius: 3px;  
	border-radius: 3px;
	}	
	.TopViewsItem:hover{
		background:#fff;
		}
.TopViewsItem a.titleLink{
	display:inline-block;
	vertical-align:middle;
	font-weight:bold;
	width:190px;
	}
.TopViewsItem img{
	display:inline-block;
	vertical-align:middle;
	width:40px;
	height:50px;
	margin-left:6px;
	}
#TopViews .first{
	margin-top:0;
	}	
textarea {overflow: auto;}
input {border: 0px solid white; margin: 0;  padding: 0;}
a {
	text-decoration: none;
	color:#252525;
}
a:hover { color:#F30; }

.paddingtop20{
	margin-top:20px;
	}

.paddingtop30{
	margin-top:30px;
	}
.paddingbot20{
	margin-bottom:20px;
	}

.paddingtop5{
	margin-top:20px;
	}	
.paddR20{
	margin-right:20px;
	}	
.paddL20{
	margin-left:20px;
	}

.paddL30{
	margin-left:30px;
	}

.paddL40{
	margin-left:40px;
	}

/*========== PAGES CONTAINER ==========*/

#TopPageContent{
	text-align:left;
	width:100%;
	min-height:400px;
	padding:0;
	margin:40px auto 21px;
	background:url(/images/bgHeader.jpg) no-repeat center top;
}

#BottomPageContent{
	text-align:left;
	width:100%;
	min-height:350px;
	float:left;
	min-width:1003px;
	background:#121212 url(/images/bgfooter.jpg) repeat-x top;
	}

#Footer{
	width:1000px;
	margin:0 auto;
	color:#ccc;
	}
#CateLinkContent{
	margin-top:50px;
	float:left;
	}

#CateLinkItem{
	width:235px;
	min-height:125px;
	float:left;
	margin-top:15px;
	margin-right:21px;
	}

#CateLinkItem .txt{
	display:block;
	color:#c00;
	text-transform:uppercase;
	font-size:13px;
	}

#CateLinkItem .ListLink{
	margin-top:9px;
	}

#CateLinkItem .ListLink a{
	display:block;
	margin-bottom:5px;
	padding-left:12px;
	color:#ccc;
	background:url(/images/arrow-botlink.gif) no-repeat 0 5px;
	}

#CateLinkItem .ListLink a:hover{
	color:#999;
	}

#RightBottom{
	float:left;
	margin-top:75px;
	}
#MenuBottom{
	margin-top:21px;
	}
#MenuBottom a{
	display:block;
	margin-bottom:12px;
	padding-left:12px;
	color:#ccc;
	font:bold 12px tahoma;
	background:url(/images/arrow-botlink.gif) no-repeat 0 5px;
	}
#MenuBottom a:hover{
	color:#999;
	}

#iconFoot{
	margin-top:25px;
	}

#iconFoot span{
	padding-left:12px;
	}

#MainContent{
	text-align:left;
	width:1000px;
	min-height:500px;
	margin:0 auto;
	padding:0;
	}
#Top{
	height:90px;
	width:100%;
	padding:0;
	margin:0;
	}
.logo a{
	height:90px;
	width:223px;
	background:url(/images/logo.png) no-repeat center;
	display:block;
	float:left;
	}
/*.MainMenu{
	float:left;
	padding:0;
	margin:10px 0 0 10px;
	}

.MainMenu a{
	float:left;
	padding:0 13px;
	font-size:14px;
	color:#C00;
	text-transform:uppercase;
	border-right:1px dotted #ccc;
	}

.MainMenu a:hover{
	color:#333;
	}*/
.MainMenu{
overflow: hidden;
}

.MainMenu ul{
margin: 36px 0 0 18px;
padding: 0;
list-style: none;
width:auto;
}

.MainMenu li{
display: inline;
margin: 0;
padding: 0;
text-transform: uppercase;
}


.MainMenu a{
float: left;
color: #C00;
margin: 0;
padding: 0;
text-decoration: none;
letter-spacing: 1px;
font-size:15px;
}

.MainMenu a:link, .MainMenu a::visited, .MainMenu a:active{
color: #c00;
}

.MainMenu a span{
float: left;
display: block;
background: transparent; /*right corner image*/
padding: 0 13px;
margin-bottom:10px;
border-right:1px dotted #ccc;
cursor: pointer;
}

.MainMenu a span{
float: none;
}


.MainMenu a:hover{
color: #333;
}

.MainMenu a:hover span{
background-color: transparent;
}

/* Sub level menus*/
.MainMenu ul li ul{
position: absolute;
width:auto;
z-index: 100;
left:0;
top: 0;
visibility: hidden;
}


/* Sub level menu links style */
.MainMenu ul li ul li a{
font: normal 12px Verdana;
padding: 0 13px;
padding-right: 8px;
margin: 0;
}

.MainMenu ul li ul li a span{
background: #c76023; /*sub menu background color */
}

.MainMenu ul li ul li a:hover{ /*sub menu links' background color onMouseover. Add rounded edges in capable browsers */
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
}



#Main{
	padding:0;
	margin:20px 0 0;
	}
#Header{
	padding:0;
	margin:0;
	height:300px;
	}
	
.SliderShow{
	width:729px;
	height:300px;
	}
#SliderShow{
	width:729px;
	height:300px;
	float:left;
	}
#BoxNews{
	float:left;
	margin:0;
	padding:0;
	margin-left:10px;
	height:298px;
	width:258px;
	border:1px solid #e0e2e3;
	background:url(/images/bg-blocktab-off.jpg) repeat-x top;
	}	
#BoxNews .txt{
	display:block;
	text-align:center;
	font-size:16px;
	text-transform:uppercase;
	color:#333;
	padding:11px 0 5px;
	}	
	
#TopBanner{
	margin:10px 0;
	}	
	a.submenu{
	display:inline-block;
	vertical-align:middle;
	position:relative;
	width:29px;
	height:23px;
	margin-right:12px;
	background:url(/images/submenu-icon.gif) no-repeat 0 0;
	}
.jqpopupmenu{ /*topmost and sub ULs, respectively*/
font: normal 12px tahoma;
margin: 0;
padding: 12px;
position: absolute;
left: 0;
top: 0;
background: white;
border: 1px solid black;
visibility: hidden;
display: none; /*collapse all sub menus to begin with*/
box-shadow: 3px 3px 8px #818181; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: 3px 3px 8px #818181;
-moz-box-shadow: 3px 3px 8px #818181;
text-align:left;
}		

.jqpopupmenu .avata{
	width:60px;
	display:inline-block;
	vertical-align:middle;
	margin-right:7px;
	}
.jqpopupmenu .info{
	display:inline-block;
	vertical-align:middle;
	}
.jqpopupmenu .name{
	font-size:12px;
	font-weight:bold;
	}

.jqpopupmenu .address{
	color:#999;
	}
.jqpopupmenu p{
	padding-top:2px;
	}

.jqpopupmenu a.button{
	display:inline-block;
	vertical-align:middle;
	background:url(/images/white-red-button.gif) repeat-x;
	border:1px solid #ccc;
	font:bold 11px tahoma;
	padding:3px 7px;
	margin-top:5px;
	color:#333;
	}
.jqpopupmenu a.button:hover{
	border-color:#aaa;
	background:#fff;
	}
.jqpopupmenu .after{
	margin-left:4px;
	}

a.submenu:hover{
	background-position:0 -23px;
	}	
	.megamenu{
padding:12px 0;
width:180px;
position:absolute;
visibility:hidden;
border:1px solid #e6e6e6;
background:white;
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
}	
.megamenu a{
	display:block;
	padding:12px 0;
	}	
.megamenu a span.txt{
	font-size:14px;
	text-transform:uppercase;
	display:block;
	}
	.addfr_icon,
.notice_icon,
.friend{
	width:11px;
	background:url(/images/addfr-icon-popup.gif) no-repeat 0 0;
	display:inline-block;
	margin-right:5px;
	}

.addfr_icon,
.friend{
	height:8px;
	}
.notice_icon{
	height:10px;
	background-position:0 -8px;
	}
.friend{
	background-position:0 -18px;
	}
#ColLeft{
	width:729px;
	float:left;
	}
	
#ColRight{
	width:260px;
	float:left;
	margin-left:10px;
	}	
#BoxPhim{
	width:727px;
	border:1px solid #e0e2e3;
	min-height:100px;
	}	
.under{
	margin-top:10px;
	}	
#HeadLine{
	background:url(/images/bg-headline.jpg) repeat-x bottom;
	height:35px;
	}
#HeadLine2{
	height:40px;
	}
#HeadLine .txt, #HeadLine2 .txt{
	float:left;
	text-transform:uppercase;
	color:#333;
	font-size:17px;
	margin:11px 0 0 15px;
	}

#HeadLine .bnt, #HeadLine2 .bnt{
	float:right;
	margin:9px;
	}

#BoxVideo{
	width:100%;
	}
	
#BoxReview{
	width:100%;
	border-top:9px solid #ccc;
	}	
	
#reviewItem, #OfflineItem{
	display:inline;
	float:left;
	width:160px;
	}

#reviewItem .ImgContent, #OfflineItem .ImgContent{}
#reviewItem .title a, #OfflineItem .title a{
	margin-top:12px;
	display:block;
	font:bold 12px tahoma;
	}

#reviewItem .title a:hover, #OfflineItem .title a:hover{
	color:red;
	}

.behind{
	margin-left:29px;
	}

#Banner729{}

#OfflineBox{
	width:100%;
	margin:9px 0;
	display:block;
	float:left;
	}
#DienAnh24hBox{
	width:100%;
	margin-top:12px;
	}

#HauTruongBox{}
#LargeItem{
	margin:0px;
	margin-right:21px;
	width:160px;
	float:left;
	}

#LargeItem .ImgContent{}
#LargeItem .title a{
	margin-top:12px;
	display:block;
	font:bold 12px tahoma;
	}
#SmallItem{
	float:left;
	margin:0px;
	margin-bottom:15px;
	width:330px;
	}
#SmallItem img{
	float:left;
	}	
#SmallItem .title a{
	float:left;
	width:240px;
	margin:3px 0 0 15px;
	font:bold 12px tahoma;
	}	
#SmallItem .desc{
	float:left;
	width:240px;
	margin:9px 0 0 15px;
	}	
#BoxSao{
	width:100%;
	}	
	
#QuickSearchBox{
	width:100%;
	height:268px;
	background:url(/images/bg-QuickSearch.gif) no-repeat top;
	}	


#QuickSearchBox .txt{
	color:#fff;
	font-size:15px;
	text-transform:uppercase;
	padding:19px 21px;
	}
#cateSeach{
	padding:9px 0 7px 21px;
	}
#formSearch{
	margin:0 21px;
	}
span.buttonSearch{
	width:122px;
	height:34px;
	background:url(/images/button-search.gif) no-repeat left;
	display:block;
	margin-top:15px;
	}

span.bookingOnline {
	width:231px;
	height:31px;
	background:url(/images/ButtonMuaveOnline-Normal.png) no-repeat left;
	display:block;
	}

span.bookingOnline:hover {
	width:231px;
	height:31px;
	background:url(/images/ButtonMuaveOnline-Hover.png) no-repeat left;
	display:block;
	}

span.bookingOnline:active {
	width:231px;
	height:31px;
	background:url(/images/ButtonMuaveOnline-Down.png) no-repeat left;
	display:block;
	}

#tickfree{
	margin-top:10px;
	}

.BoxGrayRight{
	background:#efefef;
	padding-bottom:21px;
	float:left;
	width:100%;
	margin-top:10px;
	#display:none;
	}
.BoxGrayRight div.txt{
	margin:0 21px;
	padding:21px 0 12px 0;
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	background:url(/images/line-borbottom.gif) repeat-x bottom;
	}

.BoxGrayRightItem{
	padding:15px 21px 0px;
	height:64px;
	}

.BoxGrayRightItem img{
	padding:2px;
	border:1px solid #ccc;
	margin-right:12px;
	width:60px;
	height:60px;
	float:left;
	}
.BoxGrayRightItem .text{
	float:left;
	width:160px;
	line-height:17px;
	}

.BoxGrayRightItem .text a{
	font:bold 12px tahoma;
	}
.BoxGrayRightItem .text p{
	margin-top:4px;
	display:block;
	}

.ago{
	font:normal 11px tahoma;
	color:#999;
	}

.recommended{
	font:normal 11px tahoma;
	color:#333;
	}

.BoxGrayRight a.viewall{
	float:left;
	display:block;
	margin:21px 21px 9px;
	width:200px;
	font:bold 12px tahoma;
	}

#banner260{
	margin-top:10px;
	float:left;
	}

#trailer{
	float:left;
	margin-top:10px;
	width:100%;
	background:#efefef;
	}

#trailer .txt{
	margin:0 21px;
	padding:21px 0 12px 0;
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	}


#trailer ul{
	padding:0;
	
	}
#trailer ul li{
	margin-top:5px;
	list-style-type:disc;
	list-style-position:inside;
	}
#trailer ul li a{
	font:bold 12px tahoma;
	}


#trailer2{
	float:left;
	margin-top:10px;
	width:100%;
	background:#efefef;
	}
#mAdserveAdImage{
width:100%;
}
#trailer2 .txt{
	margin:0 5px;
	padding:21px 0 12px 0;
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	}
#trailer2 .video{
	margin:0 21px;
	}

#trailer2 ul{
	padding:0;
	margin:12px 5px;
	}
#trailer2 ul li{
	margin-top:5px;
	list-style-type:disc;
	list-style-position:inside;
	}
#trailer2 ul li a{
	font:bold 12px tahoma;
	}
#partners{
	float:left;
	margin-top:10px;
	width:258px;
	border:1px solid #e0e2e3;
	}

#partners .txt{
	padding:18px 15px 7px 15px;
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	}
	
#partnersContent{
	padding:0 12px 15px;
	}	


#hotnews{}

#hotnewsItem{
	margin:10px 15px 0 15px;
	float:left;
	}	

#hotnewsItem img{
	width:100;
	height:70px;
	float:left;
	}
#hotnewsItem .titleLink{
	width:115px;
	height:70px;
	margin-left:9px;
	margin-top:4px;
	float:left;
	}
#hotnewsItem .titleLink a{
	font:bold 12px tahoma;
	color:#333;
	line-height:17px;
	}
#hotnewsItem .titleLink a:hover{
	color:red;
	}

.hotnews{}

.hotnewsItem{
	margin:0 1px;
	padding:8px 11px;
	}	

.hotnewsItem img{
	width:70px;
	margin-left:7px;
	display:inline-block;
	vertical-align:middle;
	}
.hotnewsItem .titleLink{
	width:150px;
	display:inline-block;
	vertical-align:middle;
	}
.hotnewsItem .titleLink a{
	font:bold 12px tahoma;
	color:#333;
	line-height:17px;
	}
.hotnewsItem .titleLink a:hover{
	color:red;
	}
.graybg{
	background:#f3f3f3;
	}

/*Nivo Slider Default Theme*/
.theme-default .nivoSlider {
	position:relative;
/*    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
*/}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
}

.theme-default .nivo-controlNav {
	position:absolute;
	bottom:21px;
    right:21px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(/images/bullets.png) no-repeat;
	text-indent:-9999px;
	float:left;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -20px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(/images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
	font-family:tahoma;
	font-weight:bold;
		}
.theme-default .nivo-caption a {
    color:#fff;
	font-size:18px;
	text-transform:uppercase;
	float:left;
	margin:17px;
}
.theme-default .nivo-caption a:hover {
    color:#ccc;
}

/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0;
	background:#111;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:729px;
	height:64px;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}


div.floating-menu {
	position:fixed;
	background:url(/images/bgTopbar.jpg) no-repeat center top;
	width:100%;
	height:39px;
	z-index:100;
	top:0;
	text-align:left;
	}

#toppage{
	width:1000px;
	margin:0 auto;
	}

#like{
	margin-top:12px;
	float:left;
	}
#like span{
	color:rgb(201, 201, 201);
	font:normal 11px tahoma;
	}
#like span a{
	color:rgb(201, 201, 201);
	text-decoration: underline;
	font-weight:bolder;
	}
#like span a:hover{
	color:#C00;
	text-decoration: underline;
	}

#like img{
	vertical-align:middle;
	margin-right:12px;
	}
#topsearch{
	float:left;
	margin:5px 0 0 70px;
	}
#topsearch input{
	font:normal 11px tahoma;
	color:#999;
	width:250px;
	height:28px;
	padding-left:13px;
	background:url(/images/bgtopsearch.png) no-repeat top left;
	}	
	
#topmenu{
	float:right;
	color:#999;
	margin-top:12px;
	}	
	
#topmenu a{
	font:bold 11px tahoma;
	color:#b5b5b5;
	text-transform:uppercase;
	}	
	
#topmenu a:hover, #topmenu a.selected{
	color:#fff;
	}	
#topmenu span{
	padding:0 15px;}	
	

/***********************************************
* Step Carousel Viewer
***********************************************/
	
.stepcarousel{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 696px; /*Width of Carousel Viewer itself*/
height: 240px; /*Height should enough to fit largest content's height*/
margin:15px;
}

.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepcarousel .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px; /*margin around each panel*/
width: 179px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.stepcarouselb{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 696px; /*Width of Carousel Viewer itself*/
height: 240px; /*Height should enough to fit largest content's height*/
}

.stepcarouselb .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0; /*margin around each panel*/
width: 179px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.stepcarouselc{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 729px; /*Width of Carousel Viewer itself*/
height: 180px; /*Height should enough to fit largest content's height*/
}

.stepcarouselc .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepcarouselc .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0; /*margin around each panel*/
width: 188px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.stepcarouselc .panel p a{
	display:block;
	margin:12px 21px 12px 0;
	font:bold 12px tahoma;
	color:#333;
	}

.stepcarouselc .panel p a:hover{
	color:red;
	}
	
/*Ajax Page*/	
	
#leftcolumn{
float:left;
width:174px;
height: 336px;
padding: 0px;
background:#e0e2e3;

}

#leftcolumn a{
padding: 17px 0 12px 15px;
display: block;
text-decoration: none;
text-transform:uppercase;
font-size:17px;
color:#858585;
font-weight: bold;
border-bottom: 1px solid #d4d4d4;
border-top: 1px solid #e9e9e9;
}

#leftcolumn a:hover{
	color:#333;
	}

#leftcolumn a.active{
	color:#fff;
	background: #b11116 url(images/tabactive.gif) no-repeat right;
}


#rightcolumn{
float:left;
width:555px;
min-height: 334px;
padding: 0px;
background:#f5f5f5;
border:1px solid #e0e2e3;
border-left:0;
}

* html #rightcolumn{ /*IE only style*/
height: 334px;	
float:left;
border:1px solid #fff;
}


.blocktab li a:visited{
color: #2d2b2b;
}

.blocktab li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.blocktab li a.selected{ /*selected main tab style */
position: relative;
}

.blocktab li a.selected{ /*selected main tab style */
color:#333;
background:url(/images/bg-blocktab-on.jpg) repeat-x top;
}

.blocktab li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}


/* ######### CSS for Lastest News Tab. Remove if not using ######### */

.tablichchieu{
padding: 0px;
margin: 0px;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
float:left;
width:100%;
}

.tablichchieu li{
display: inline;
margin: 0;
}

.tablichchieu li span{
	position: relative;
	float:left;
	margin-left:20px;
	margin-top:7px;
	}

.tablichchieu li a{
text-decoration: none;
font:bold 12px tahoma;
position: relative;
z-index: 1;
padding: 8px 0 8px 21px;
color: #858585;
float:left;
}

.tablichchieu li a:visited{
color: #2d2b2b;
}

.tablichchieu li a:hover{
color: #2d2b2b;
}

.tablichchieu li a.selected{ /*selected main tab style */
position: relative;
}

.tablichchieu li a.selected{ /*selected main tab style */
color:#cc0000;
font-weight:bold;
}

.tablichchieu li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}



/* ######### CSS for Lastest News Tab. Remove if not using ######### */

.blocktab{
padding: 0px;
margin: 0px;
font-size:15px;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
background:url(/images/bg-blocktab-off.jpg) repeat-x top;
float:left;
width:100%;
}

.blocktab li{
display: inline;
margin: 0;
}

.blocktab li a{
text-decoration: none;
text-transform:uppercase;
position: relative;
z-index: 1;
padding: 17px 13px 3px 13px;
color: #858585;
float:left;
border:1px solid #fff;
}

.blocktab li a:visited{
color: #2d2b2b;
}

.blocktab li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.blocktab li a.selected{ /*selected main tab style */
position: relative;
}

.blocktab li a.selected{ /*selected main tab style */
color:#333;
background:url(/images/bg-blocktab-on.jpg) repeat-x top;
}

.blocktab li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}




/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
padding: 21px 30px 18px 0px;
margin-left: 0;
font-size:17px;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
text-transform:uppercase;
position: relative;
z-index: 1;
padding: 18px 30px 18px 15px;
color: #858585;
}

.shadetabs li a:active , .shadetabs li a:visited{
color: #333;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #333;
}


.shadetabs li a.selected{ /*selected main tab style */
color:#333;
border-bottom:2px solid #333;
padding-bottom:1px;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}



/* Drop down styles*/
div.selectbox-wrapper {
  position:absolute;
  background-color:white;
  border:1px solid #dadada;
  -moz-border-radius: 7px;
	border-radius: 7px;
  margin:0px;
  padding:0px;
  text-align:left;
  overflow:auto;
}

/*Drop down list styles*/
div.selectbox-wrapper ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
/* Selected item in dropdown list*/
div.selectbox-wrapper ul li.selected { 
  background-color: #EAF2FB;
}

/* Hover state for dropdown list */
div.selectbox-wrapper ul li.current { 
  background-color: #CDD8E4;
}

/* Drop down list items style*/
div.selectbox-wrapper ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:7px 12px;
  cursor:pointer;

}

/* Look and feel of select box */
.selectbox 
{
  margin-top: 4px;
  padding-left:12px;
  font-family:tahoma;
  font-size:1em;/* Resize Font*/
  width : 215px; /* Resize Width */
  height:32px;
  display : block;
  text-align:left; 
  background: url(/images/bg-listbox-search.gif) no-repeat left;
  cursor: pointer;
  border:0px solid #000;
  color:#333;
}


/* Images Effect*/


.view {
   width: 160px;
   height: 238px;
   margin: 0px;
   margin-bottom:12px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
  
}
.view .mask,.view .content {
   width: 	160px;
   height: 238px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
      cursor:pointer;

}
.view img {
   display: block;
   position: relative;
}
.view h2 a{
   text-transform:capitalize;
   color: #000;
   height:240px;
   width:140px;
   display:table-cell;
   vertical-align:middle;
   text-align: center;
   position: relative;
   line-height:19px;
   font-size:12px;
   font-weight:bold;
   padding:0 10px;
   margin:0;
}
.view p {
   font-family:tahoma;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}

.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 0;
   width:93px;
   background:url(/images/buttonred.png) no-repeat top left;
   color: #fff;
   text-transform:capitalize;
   font:bold 11px tahoma;
   margin-bottom:5px;
}
.view a.info:hover {
background:url(/images/buttonblack.png) no-repeat top left;
}	


.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(255,255,255, 0.9);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.view-first h2 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first:hover img {
}
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
				
/*========== CompactNewsPreviewer ==========*/	

.cn_wrapper{
	margin:0;
	width:728px;
	height:340px;
	position:relative;
	overflow:hidden;
	padding:0px;
	border:1px solid #e0e2e3;
	border-left:0;
	background-color:#f5f5f5;
}
.cn_wrapper h2{
	font-size:15px;
	color:#858585;
	text-transform:uppercase;
	padding:21px 0px 0px 7px;
}
.cn_wrapper h2 a{
	color:#858585;
	
}
.cn_preview, .cn_list{
	width:180px;
	height:340px;
	position:absolute;
	top:0px;
	left:0px;
}
.cn_list{
	background:#e0e2e3;
	}
.cn_preview{
	left:175px;
}
.cn_content{
	top:350px;/*5*/
	left:0px;
	width:515px;
	padding:21px;
	position:absolute;
	background-color:#f5f5f5;
	height:300px;
	
}


.cn_item{
	cursor:pointer;
	position:relative;
	overflow:hidden;
	height:57px;
	color:#fff;
	padding:0px;
	margin:0px;
	text-shadow:1px 1px 1px #000;
	background:#e0e2e3 url(/images/borbottom-tab.gif) repeat-x bottom;

}

.tabselected{
	background: #b11116 url(/images/tabactive.gif) no-repeat right center ;
}

.cn_item:hover h2{
	color:#333;
	}

.cn_list .tabselected h2,
.cn_item:active h2{
	color:#fff;
}



.cn_item:active {
	color: #fff;
	text-shadow: 1px 1px 1px #ccdffc;
}

.cn_page{
	display:none;
}			

.PagerCurrentPageCell span
{
display: inline;
padding: 4px 9px;
border: 1px solid #ccc;
-webkit-border-radius: 4px;
font: normal 12px Tahoma, Geneva, sans-serif;
margin-left: 5px;
background: #333;
color: #fff;
border-color: #333;	
}


.top5{
	display:block;
	border:5px solid #cc0000;
	background:#fcfcfc;
	padding:21px;
	}
.top5:hover{
	border-color:#ccc;
	}

.top5 .txt{
	display:block;
	font-size:17px;
	text-transform:uppercase;
	color:#333;

	}

.top5 .gray{
	color:#aaa;
	}
.top5 .note{
	color:#cc0000;
	font-weight:bold;
	margin-left:4px;
	
	}	
.top5 .w1{
	width:250px;
float:left;

	}	
.top5 .w2{
	width:330px;
float:left;
	}
.top5 .after{
	margin-left:12px;
	}	
.top5box{
	
	vertical-align:top;
	margin-top:17px;
	}	
.top5box .txt{
	font-size:14px;
	color:#333;
	text-transform:inherit;
	display:block;
	margin-bottom:15px;
width: 250px;
	}
.top5box a{
	font-weight:bold;
	display:block;
	margin-top:7px;
	}		
.top5box a span.numb{
	width:22px;
	height:22px;
	background:url(../images/circle.gif) no-repeat 0 0;
	display:inline-block;
	text-align:center;
	line-height:21px;
	color:#fff;
	margin-right:9px;
	}

.top5box a:hover span.numb{
	background-position:0 -22px;
	}
	/* Menu selectd*/
	.menuselect
	{
	    color:#333 !important;
	}

	
	
.clr{
	clear:both;
}

#topbar-func{
	float:right;
	height:34px;
	}
.topbar-avata{
	float:left;
	margin-top:8px;
	}	
.topbar-avata img{
	width:23px;
	vertical-align:middle;
	}
.topbar-avata a.name{
	font:bold 11px Tahoma, Geneva, sans-serif;
	color:#ccc;
	margin-left:9px;
	padding-right:21px;
	border-right:1px solid #ccc;
	}
.topbar-avata a.name:hover{
	color:#fff;
	}
.topbar-connecter{
	float:left;
	margin-left:17px;
	}
.topbar-connecter a.icon{
	float:left;
	height:15px;
	width:21px;
	background:url(../images/topbar-icon.png) no-repeat 0 0;
	margin-top:12px;
	}
.topbar-connecter a.icon:hover{
	background:url(../images/topbar-icon.png) no-repeat -22px 0;
	}
.topbar-connecter span.number{
	background:#c00;
	color:#fff;
	font-size:8px;
	padding:6px 3px;
	margin:4px 0 0 -4px;
	float:left;
	display:table-cell;
	line-height:0;
	-webkit-border-radius: 2px;
	}
.topbar-notice{
	float:left;
	margin-left:7px;
	}
.topbar-notice a.icon{
	float:left;
	height:13px;
	width:21px;
	background:url(../images/topbar-icon.png) no-repeat 0 -14px;
	margin-top:14px;
	}
.topbar-notice a.icon:hover{
	background:url(../images/topbar-icon.png) no-repeat -22px -14px;
	}
.topbar-notice span.number{
	background:#c00;
	color:#fff;
	font-size:8px;
	padding:6px 3px;
	margin:4px 0 0 -2px;
	float:left;
	display:table-cell;
	line-height:0;
	-webkit-border-radius: 2px;
	}
.topbar-setting{
	float:left;
	margin-left:7px;
	}

.topbar-setting a.icon{
	float:left;
	height:14px;
	width:12px;
	background:url(../images/topbar-icon.png) no-repeat 0 -26px;
	margin-top:13px;
	}
.topbar-setting a.icon:hover{
	background:url(../images/topbar-icon.png) no-repeat -22px -26px;
	}

/* ######### Shared basic style for mega drop down menu DIV ######### */

.mega{
padding:0;
position:absolute;
visibility:hidden;
border:1px solid #e6e6e6;
border-top:0;
border-top-width:1px;
background:white;
-webkit-box-shadow: 3px 3px 3px #f1f1f1; /*css 3 shadows*/
-moz-box-shadow: 3px 3px 3px #f1f1f1;
box-shadow: 3px 3px 3px #f1f1f1;
}
/* ######### connecter - Scroll bar Visibility ######### */
.connecter-popup,
.notice-popup{
    position:relative;
    background:#fff;
	float:left;
}
.connecter-popup{
	width:320px;
	height:400px;
	}
.notice-popup{
	width:250px;
	height:400px;
	}
.connecter-popup .item,
.notice-popup .item{
    padding:10px;
    display:block;
    line-height:20px;
    background-color: #fff;
    border-top:1px solid #e8e8e8;
	text-align:left;
}
.connecter-popup .item:hover,
.notice-popup .item:hover{
	background:#f5f5f5;
	}
.connecter-popup .item .avata,
.notice-popup .item .avata{
	display:inline-block;
	vertical-align:middle;
	}
.connecter-popup .item .avata img,
.notice-popup .item .avata img{
	width:50px;
	}
.connecter-popup .item .nickname,
.notice-popup .item .nickname{
	display:inline-block;
	margin:0 5px;
	}
.connecter-popup .item .nickname{
	width:95px;
	vertical-align:middle;
	}	
.notice-popup .item .nickname{
	width:160px;
	line-height:16px;
	vertical-align:top;
	}	
.connecter-popup .item .nickname a,
.notice-popup .item .nickname a{
	font:bold 12px Tahoma, Geneva, sans-serif;
	color:#333;
	}
.connecter-popup .item .nickname a:hover,
.notice-popup .item .nickname a:hover{
	color:#e00;
	}
.connecter-popup span.head,
.notice-popup span.head{
	display:block;
	padding:12px 0;
	}	
span.confirm-bnt{
	display:inline-block;
	}
span.confirm-bnt a{
	font-size:11px;
	font-weight:bold;
	color:#fff;
	line-height:0;
	background:#333;
	padding:5px 9px;
	-webkit-border-radius:5px;
	}
span.confirm-bnt a:hover{
	background:#c00;
	}
span.refuse-bnt{
	display:inline-block;
	}
span.refuse-bnt a{
	font-size:11px;
	font-weight:bold;
	color:#fff;
	line-height:0;
	background:#999;
	padding:5px 9px;
	-webkit-border-radius:5px;
	}
span.refuse-bnt a:hover{
	background:#c00;
	}	
	
.gray-txt{
	color:#999;
	font-size:11px;
	}	
.txt-notice{
	font-size:11px;
	color:#333;
	margin-top:3px;
	float:left;
	width:100%;
	}	
.setting-popup{
	position:relative;
    background:#fff;
	float:left;
	width:180px;
	text-align:left;
	}
.setting-popup a{
	display:block;
	font:bold 12px Tahoma, Geneva, sans-serif;
	color:#333;
	padding:12px;
	border-bottom:1px solid #f3f3f3;
	}
.setting-popup a:hover{
	color:#e00;
	background:#f3f3f3;
	}
	
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #f3f3f3;
	position: relative;
}

.jspDrag
{
	background: #eee;
	opacity:0.6;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
	border:1px solid #cecece;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.jspDrag:hover{
	background:#ccc;
	opacity:1;
	border-color:#bbb;
	}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 12px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
/* End Top Function Menu */


/* Member Page Content */

#member-page{
	width:100%;
	position:relative;
	}
#header-member-page{
	width:100%;
	height:300px;
	margin-top:20px;
	background:url(/images/member-header.jpg) no-repeat center center;
	background-size: cover;
	}

a span.wbutton{
	height:28px;
	padding:0 12px;
	display:inline-block;
	vertical-align:middle;
	background:url(/images/white-red-button.gif) repeat-x 0 0;
	border-width:1px;
	border-style:solid;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	}
		
a span.wbutton span.label{
	font-size:11px;
	font-weight:bold;
	margin-top:5px;
	float:left;
	}

a span.wbutton span.iconaddf{
	width:17px;
	height:14px;
	margin-top:7px;
	margin-right:4px;
	float:left;
	background:url(/images/iconaddf17x14.gif) no-repeat 0 0;
	}

a span.wbutton span.numbers{
	float:left;
	font-size:9px;
	color:#999;
	margin:2px 0 0 4px;
	}	

a.selected span.wbutton{
	height:28px;
	padding:0 12px;
	display:inline-block;
	background:url(/images/white-red-button.gif) repeat-x bottom left;
	border-width:1px;
	border-style:solid;
	border-color:#900;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	color:#fff;
	}
a.selected span.wbutton span.numbers{
	color:#fff;
	}
	
.borgray{
	border-color:#dcdcdc;
	}
.borblack{
	border-color:#999;
	}
.bntright{
	margin-left:4px;
	}
	
.header-func{
	position:absolute;
	top:200px;
	left:235px;
	}

.header-func h1.name{
	font-size:30px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	color:#fff;
	-webkit-font-smoothing: antialiased !important;
	text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display:block;
	height:52px;
	line-height:36px;
	
	}

/* Center Box Member Page Content */
#centerBox{
	width:480px;
	display:block;
	margin-left:235px;
	}
		
/* Left Box Member Page Content */	
#leftBox{
	position:absolute;
	width:200px;
	top:385px;
	left:15px;
	display:block;
	}
#rightBox{
	position:absolute;
	top:312px;
	right:15px;
	width:250px;
	}

/* Comment Box */
.comment-posted{
	border:1px solid #eaeaea;
	position:relative;
	padding:12px 19px 0 19px;
	font-size:12px;
	}
.comment-posted span.pointer{
	width:12px;
	height:7px;
	position:absolute;
	top:-7px;
	left:25px;
	background:url(../images/Qdv04UHuWZa.png) no-repeat 0 -48px;
	}

.comment-posted .more-comment{
	padding-bottom:9px;
	font-size:12px;
	border-bottom:1px solid #eee;
	}

.comment-posted .more-comment-icon{
	width:15px;
	height:15px;
	display:inline-block;
	vertical-align:middle;
	margin-right:12px;
	background:url(../images/Qdv04UHuWZa.png) no-repeat 0 -18px;
	}

.comment-posted-item{
	padding:12px 0;
	border-top:1px solid #eee;
	}

.comment-posted-item img.avata{
	display:inline-block;
	vertical-align:text-top;
	margin-right:7px;
	width:50px;
	}

.comment-posted-item span.text{
	line-height:18px;
	display:inline-block;
	vertical-align:text-top;
	}

.comment-posted-item .w1{
	width:370px;
	}

.comment-posted-item .ago{
	color:#999;
	}

.comment-posted-item .social-link{
	padding-left:15px;
	margin-left:12px;
	color:#999;
	font-size:11px;
	background:url(../images/icon-bubble.gif) no-repeat 0 3px;
	}

.comment-posted-item .social-link:hover{
	color:#333;
	}

.comment-posted-item .nickname{
	font-weight:bold;
	margin-right:9px;
	}


/* Friends Box */

.friends-box{
	border:1px solid #ebebeb;
	padding:15px;
	}

.friends-box span.txt{
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	display:block;
	margin:5px 0 7px;
	}
.friends-box span.viewall{
	display:block;
	text-align:right;
	margin-top:12px;
	}
.friends-item{
	display:block;
	margin-top:15px;
	}
.friends-item img.avata{
	display:inline-block;
	vertical-align:middle;
	width:50px;
	margin-right:7px;
	}
.friends-item .text-content{
	display:inline-block;
	vertical-align:middle;
	}

.friends-item .text-content a.name{
	display:block;
	font-weight:bold;
	color:#333;
	margin-bottom:7px;
	}
.friends-item .text-content a.name:hover{
	color:#e00;
	}
a.friend-connection{
	}

a.friend-connection span.icon,
span.friend-connected span.icon{
	width:13px;
	height:10px;
	display:inline-block;
	margin-right:5px;
	background:url(../images/friendconnect-icon.gif) no-repeat;
	}
a.friend-connection span.icon{
	background-position:0 0;
	}

span.friend-connected span.icon{
	background-position:0 -11px;
	}

/* Hoat dong gan day cua thanh vien  */
.recent-activity{
	border:1px solid #ebebeb;
	padding:15px;
	}
.recent-activity a.more{
	display:block;
	padding-left:12px;
	margin-top:15px;
	background:url(../images/arrow-gray.gif) no-repeat 0 4px;
	}
.recent-activity span.txt{
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	display:block;
	margin:5px 0 7px;
	}

.recent-activity-item{
	display:block;
	margin-top:15px;
	}

.recent-activity-item img.avata{
	width:60px;
	display:inline-block;
	vertical-align:text-top;
	margin-right:7px;
	border:1px solid #dedede;
	padding:2px;
	}
.recent-activity-item span.text{
	display:inline-block;
	vertical-align:text-top;
	width:140px;
	}

.recent-activity-item span.text a{
	font-weight:bold;
	}

.funding{
	text-align:center;
	margin-top:21px;
	}
.funding .logo-contain{
	border:1px solid #ebebeb;
	text-align:center;
	display:block;
	padding:15px 0;
	margin-top:15px;
	}

.funding .logo-contain img{
	max-width:160px;
	margin:15px 0;
	}


	
	
	/* CSS Phim */

.ColLeftSubPage{
	width:680px;
	float:left;
	}
	
.ColRightSubPage{
	width:300px;
	float:left;
	margin-left:20px;
	}


#ban260{
	float:left;
width: 260px;
height: 215px;
	}
	
#ban680{
	float:left;
	}	

.ban300{
	float:left;
width: 300px;
	}	
	
#Offline-BoxRight, 
#Phimxemnhieu-BoxRight{
	float:left;
	}
	
#Offline-BoxRight .txt,
#Phimxemnhieu-BoxRight .txt{
	font-size:17px;
	text-transform:uppercase;
	}
	
/***********************************************
* Step Carousel Viewer
***********************************************/
	
.stepoffline{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 260px; /*Width of Carousel Viewer itself*/
height: 220px; /*Height should enough to fit largest content's height*/
//height: 447px; /*Height should enough to fit largest content's height*/

margin:15px 0;
}

.stepoffline .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepoffline .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px; /*margin around each panel*/
width: 260px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.stepoffline .panel img{
	width:260px;
	}

.stepoffline .panel a.titleLink{
	display:block;
	margin:12px 0 18px 0;
	float:left;
	font:bold 12px tahoma;
	}
	
/***********************************************
* Step Carousel Viewer
***********************************************/
	
.stepPhimxemnhieu{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 260px; /*Width of Carousel Viewer itself*/
height: 430px; /*Height should enough to fit largest content's height*/
margin:15px 0 5px 0;
}

.stepPhimxemnhieu .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepPhimxemnhieu .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px; /*margin around each panel*/
width: 260px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.stepPhimxemnhieu .panel img{
	width:260px;
	}
	
.stepPhimxemnhieu .panel a.titleLink{
	display:block;
	width:260px;
	margin:12px 0 0 0;
	float:left;
	font:bold 12px tahoma;
	text-transform:uppercase;
	text-align:center;
	}
	
	
/* CSS Phim Detail*/	
#topbar{
	padding-bottom:15px;
	float:left;
	width:100%;
	}

#topbar .barLink{
	display:inline;
	float:left;
	}
#topbar .PageMoving{
	float:right;
	margin-right:9px;
	}
	
#topbar .barLink
{
	font-size:14px;
	color:#999;
}
#topbar .barLink a{
 text-transform:uppercase;
}	
#topbar .barLink a:hover{
	color:#333;
	}

#topbar .barLink a.current{
	font-size:14px;
	color:#c00;
	text-transform:uppercase;
	}



#topbar .PageMoving{
	margin-left:200px;
	}	
#topbar	.barLink span{
	background:url(/images/arrow-linkbar.gif) no-repeat center center;
	padding:0 15px;
	}

	
#topbar	.PageMoving span.prevPhim a{
	background:url(/images/prevPhim.gif) no-repeat center top;
	padding:2px 12px;
	}
#topbar	.PageMoving span.prevPhim a:hover{
	background:url(/images/prevPhim.gif) no-repeat center bottom;
	}
#topbar	.PageMoving span.nextPhim a{
	background:url(/images/nextPhim.gif) no-repeat center top;
	padding:2px 12px;
	margin-left:5px;
	}	
#topbar	.PageMoving span.nextPhim a:hover{
	background:url(/images/nextPhim.gif) no-repeat center  bottom;
	}
	
#topbar	.PageMoving span.bomtan a{
	background:url(/images/icon-bomtan.gif) no-repeat center top;
	padding:5px 35px;
	margin-right:21px;
	}	
	
#topbar	.PageMoving span.bomtan a:hover{
	background:url(/images/icon-bomtan.gif) no-repeat center bottom;
	}	
	
	
#PhimDetailContent{
	float:left;
	width:100%;
	}	
	
#PhimInfo{
	float:left;
	width:100%;
	}	
#PhimPoster{
	display:inline;
	float:left;
	width:180px;
	}

.buttonLichChieu {
width: 250px;
height: 48px;
background: url(/images/bgLichChieu.gif) no-repeat left;
display: block;
margin-top: 15px;
font-size:20px;
color:#fff;
padding-top: 32px;
}
.buttonLichChieu:hover {
color: #ccc;
}

#PhimPoster img{
	width:180px;
	margin-bottom:5px;
	}	
#PhimPoster a.showtimes,
#PhimPoster a.share,
#PhimPoster a.like{
	display:block;
	margin-top:5px;
	width:160px;
	height:27px;
	background:url(/images/button-func.gif) no-repeat
	}
#PhimPoster a.showtimes{
	background-position:0 0;
	}	
#PhimPoster a.showtimes:hover{
	background-position:-160px 0;
	}

#PhimPoster a.share{
	background-position:0 -27px;
	}
#PhimPoster a.share:hover{
	background-position:-160px -27px;
	}

#PhimPoster a.like{
	background-position:0 -54px;
	}
#PhimPoster a.like:hover{
	background-position:-160px -54px;
	}


#PhimText{
	display:inline;
	float:left;
	width:490px;
	margin-left:10px;
	}

#PhimText .txt{
	display:block;
	text-transform:uppercase;
	font-size:17px;
	color:#333;
	margin-top:5px;
	}
#PhimText h1{
	display:block;
	text-transform:uppercase;
	font-size:18px;
	color:#333;

	}

#PhimText .linetxt{
	border-bottom:1px dotted #eaeaea;
	padding:9px 0;
	color:#333;
	}

#PhimText .linetxt span.line{
	color:#ccc;
	padding:0 12px;
	}
#PhimText .linetxt span.space{
	padding-left:80px;
	}
#PhimText .linetxt a{
	color:#333;
	font:bold 12px tahoma;
	}
#PhimText .linetxt a:hover{
	color:#e00;
	}

#PhimText .desc{
	margin-top:12px;
	line-height:20px;
	}

#PhimText .desc p{
	padding-top:7px;
	display:block;
	}	
#PhimText .desc span.space50{
	padding:0 25px;
	}	
#PhimText .desc span.space20{
	padding:0 12px;
	}	
	
#PhimText .desc a{
	color:#e00;
	}	
	
#PhimText .voteBox{
	margin-top:15px;
	padding-top:15px;
	border-top:1px dotted #eaeaea;
	}

#PhimText .voteContent{
	float:left;
	width:350px;
	}

#PhimText .voteContent span.danhgia{
	float:left;
	margin-right:12px;
	padding:2px 0;
	}

#PhimText .voteStar{
	float:left;
	}

#PhimText .voteResultContent{
	float:left;
	}

#PhimText .voteContent span.voteResult{
	float:left;
	margin-top:20px;
	height:34px;
	width:100px;
	padding-left:50px;
	background:url(/images/red-star-icon.gif) no-repeat left;
	}

#PhimText .voteContent span.IMDb{
	float:left;
	margin-top:15px;
	margin-left:21px;
	padding:14px 0 13px 50px;
	background:url(/images/IMDb-icon.gif) no-repeat left top;
	}

#PhimText .comment{
	float:left;
	margin-left:30px;
	line-height:21px;
	}

#PhimText .comment p{
	padding-top:7px;
	}

/* jQuery.Rating Plugin CSS */

div.rating-cancel,div.star-rating{float:left;width:24px;height:20px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(/images/delete.gif) no-repeat 0 -20px}
div.star-rating,div.star-rating a{background:url(/images/star.gif) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:20px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -20px!important}
div.star-rating-hover a{background-position:0 -40px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}

div.rating-cancel,
div.rating-cancel a{
	width:0;
	}
/* END jQuery.Rating Plugin CSS */		


#trailerClip,
#picture,
#dienvien{
	float:left;
	width:100%;
	}
	
#trailerClip .txt,
#picture .txt,
#dienvien .txt{
	font-size:17px;
	color:#333;
	text-transform:uppercase;
	border-bottom:1px solid #eee;
	padding-bottom:9px;
	}	

#picture img{
	height:140px;
	}

	
#trailerClip .Clip{
	float:left;
	width:330px;
	}	
	
/***********************************************
* Step Carousel Viewer
***********************************************/
	
.stepDienvien{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 500px; /*Width of Carousel Viewer itself*/
height: 115px; /*Height should enough to fit largest content's height*/

}

.stepDienvien .belt{
position: absolute; /*leave this value alone*/
left: -5;
top: 0;
}

.stepDienvien .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px; /*margin around each panel*/
width: 70px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
text-align:center;
line-height: 17px;
}

.stepDienvien .panel img{
	width:60px;
	}
	
.stepDienvien .panel a.titleLink{
	display:block;
	width:260px;
	margin:12px 0 0 0;
	float:left;
	font:bold 12px tahoma;
	text-transform:uppercase;
	text-align:center;
	}
		
#BoxPCRComment{
	width:100%;
	float:left;
	}		
#PCRCommentItem,
#MemFCommentItem{
	float:left;
	margin-top:12px;
	}
#PCRCommentItem img,
#MemFCommentItem img{
	float:left;
	width:60px;
	height:60px;
	border:1px solid #ccc;
	padding:2px;
	}
#PCRCommentItem .txtComment,
#MemFCommentItem .txtComment{
	float:left;
	margin:3px 0 0 9px;
	width:250px;
	}
#PCRCommentItem .txtComment a,
#MemFCommentItem .txtComment a{
	font:bold 12px tahoma;
	color:#333;
	}
#PCRCommentItem .txtComment a:hover,
#MemFCommentItem .txtComment a:hover{
	color:#e00;
	}
#PCRCommentItem span,
#MemFCommentItem span{
	display:block;
	font-size:12px;
	margin-top:9px;
	padding:0 17px 0;
	background:url(/images/icon-comment.jpg) no-repeat 0 0;
	}
		
/* ######### CSS for Lastest News Tab. Remove if not using ######### */

.tabComment{
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
float:left;
width:100%;
border-bottom:1px solid #eaeaea;
padding-bottom:12px;
margin-bottom:5px;

}

.tabComment li{
display: inline;
margin: 0;
float:left;
margin-right:50px;
}

.tabComment li span{
	float:left;
	position:relative;
	top:-12px;
	left:5px;
	font:bold 11px tahoma;
	color:#999;
	}

.tabComment li span.selected{
	color:#333;
	}

.tabComment li a{
text-decoration: none;
font-size:17px;
text-transform:uppercase;
position: relative;
z-index: 1;
padding:0;
color: #333;
float:left;
}

.tabComment li a:visited{
color: #333;
}

.tabComment li a:hover{
color: #333;
}

.tabComment li a.selected{ /*selected main tab style */
color:#333;
border-bottom:2px solid #333;
padding-bottom:1px;
position: relative;
}

.tabComment li a.selected{ /*selected main tab style */
color:#333;
font-weight:bold;
}

.tabComment li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}		
		
/*Binh Luan cua ban */		
#yourComment{
	float:left;
	width:100%;
	}
#yourComment .txt{
	font-size:17px;
	color:#333;
	text-transform:uppercase;
	padding-bottom:9px;	
	}		
	
#yourComment textarea{
	width:660px;
	font:normal 12px tahoma;
	border:1px solid #eaeaea;
	padding:10px;
	}
#yourComment a span.bntcomment{
	float:left;
	width:93px;
	height:27px;
	background:url(/images/buttonComment.gif) no-repeat 0 0;
	}	

#yourComment a span.bntcomment:hover{
	background:url(/images/buttonComment.gif) no-repeat 0 -27px;
	}		
	
#yourComment span.note{
	margin:6px 0 0 12px;
	float:left;
	}
#yourComment span.note a{
	color:#e00;
	}	
	
#yourComment a span.bntcomment2{
	float:left;
	width:93px;
	height:28px;
	background:url(/images/buttonComment2.gif) no-repeat 0 0;
	}	

#yourComment a span.bntcomment2:hover{
	background:url(/images/buttonComment2.gif) no-repeat 0 -28px;
	}	
	
/* ######### CSS for Lastest News Tab. Remove if not using ######### */

.tabwriteComment{
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
float:left;
width:100%;
padding-bottom:12px;
margin-bottom:5px;

}

.tabwriteComment li{
display: inline;
margin: 0;
float:left;
margin-right:30px;
color:#999;
}

.tabwriteComment li span{
	float:left;
	position:relative;
	top:-12px;
	left:5px;
	font:bold 11px tahoma;
	color:#999;
	}

.tabwriteComment li span.selected{
	color:#333;
	}

.tabwriteComment li a{
text-decoration: none;
font:bold 12px tahoma;
position: relative;
z-index: 1;
padding:0;
color: #999;
float:left;
}

.tabwriteComment li a:visited{
color: #999;
}

.tabwriteComment li a:hover{
color: #e00;
}

.tabwriteComment li a.selected{ /*selected main tab style */
position: relative;
}

.tabwriteComment li a.selected{ /*selected main tab style */
color:#333;
font-weight:bold;
}

.tabwriteComment li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}			
	
#SameFilm{
	float:left;
	}		
#SameFilm .txt{
	font-size:17px;
	color:#333;
	text-transform:uppercase;
	padding-bottom:12px;
	}	


/***********************************************
* Step Carousel Viewer
***********************************************/		
.stepSameFilm{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 680px; /*Width of Carousel Viewer itself*/
height: 180px; /*Height should enough to fit largest content's height*/
}

.stepSameFilm .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepSameFilm .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0; /*margin around each panel*/
width: 173px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.stepSameFilm .panel p a{
	display:block;
	margin:12px 21px 12px 0;
	font:bold 12px tahoma;
	color:#333;
	}

.stepSameFilm .panel p a:hover{
	color:red;
	}		
		
/*Tin lien quan*/		
#newsConnex{
	float:left;
	}		

#newsConnex .txt{
	font-size:17px;
	color:#333;
	text-transform:uppercase;
	}

#newsConnexItem{
	float:left;
	margin-top:21px;
	width:320px;
	}
#newsConnexItem img{
	height:70px;
	float:left;
	margin-right:9px;
	}
#newsConnexItem a.titleLink{
	font:bold 12px tahoma;
	color:#333;
	float:left;
	display:block;
	width:210px;
	}

#newsConnexItem a.titleLink:hover{
	color:#e00;
	}

#newsConnexItem span.desc{
	float:left;
	display:block;
	color:#333;
	margin-top:9px;
	width:210px;
	}

#Offline-BoxRight2{
	float:left;
	}
#Offline-BoxRight2 .txt{
	font-size:17px;
	color:#333;
	text-transform:uppercase;
	margin-bottom:12px;
	}

/***********************************************
* Step Carousel Viewer
***********************************************/
	
.stepoffline2{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 300px; /*Width of Carousel Viewer itself*/
height: 260px; /*Height should enough to fit largest content's height*/
margin:0;
}

.stepoffline2 .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepoffline2 .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px; /*margin around each panel*/
width: 300px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.stepoffline2 .panel img{
	width:300px;
	}

.stepoffline2 .panel a.titleLink{
	display:block;
	margin:12px 0 18px 0;
	float:left;
	font:bold 12px tahoma;
	}


/*Box Phim yeu thich*/		

#BoxLikeFilms{
	float:left;
	}

#BoxLikeFilms .txt{
	font-size:17px;
	color:#333;
	text-transform:uppercase;
}

/***********************************************
* Step Carousel Viewer
***********************************************/
	
.stepLikeFilm{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 300px; /*Width of Carousel Viewer itself*/
height: 450px; /*Height should enough to fit largest content's height*/
margin: 0;
}

.stepLikeFilm .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepLikeFilm .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px; /*margin around each panel*/
width: 300px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.stepLikeFilm .panel a{
	float:left;
	margin-top:21px;
	}
.stepLikeFilm .panel img{
	width:140px;
	}
.w170{
	width:170px;
	}
	
a.buttonThamgia{
	float:right;
	width:73px;
	height:27px;
	margin-top:-9px;
	background:url(/images/thamgia.gif) no-repeat 0 0;
	}
	
	
a.buttonThamgia:hover{
	background:url(/images/thamgia.gif) no-repeat 0 -27px;
	}
	


#ShowtimesPresent{
	//margin-top:9px;
	}
#ShowtimesPresent .txt{
	font-size:17px;
	color:#333;
	text-transform:uppercase;
	}

#ShowtimesPresent .desc{
	margin:12px 21px 21px 0;
	font:normal 12px tahoma;
	line-height:19px;
	}
	
#ShowtimesPresent .desc a{
	color:#e00;
	}	
	
#ShowtimesPresent .desc a:hover{
	color:#c00;
	}		

#LikeBox{
	float:left;
	width:265px;
	height:230px;
	padding:20px;
	border:1px solid #e8e7e7;
	-webkit-border-radius:5px;
	}

#LikeBox .likerow{}
#LikeBox .likerow span{
	margin:0;
	padding:0;
	float:left;
	display:block;
	}

#LikeBox .likerow span.hay{
	padding-right:7px;
	padding-top:3px;
	}

#LikeBox .likerow span.PCR{
	padding-left:7px;
	padding-top:4px;
	}
#LikeBox .likerow span.PCR a{ color:#c00;}
#LikeBox .likerow span.PCR a:hover{ color:#e00;}

#LikeBox .peopleLike{
	margin-top:15px;
	padding-top:19px;
	border-top:1px dotted #d8d8d8;
	}
#LikeBox .peopleLike ul{
	padding:0;
	margin:0;
	margin-top:9px;
	}
#LikeBox .peopleLike ul li{
	float:left;
	padding:0;
	margin:0;
	list-style:none;
	margin-top:3px;
	margin-right:3px;
	height:50px;
	width:50px;
	}	
#LikeBox .peopleLike span a{ color:#333;}
#LikeBox .peopleLike span a:hover{ color:#e00;}	
	
/* Fan Page */

.pluginButton{background:#eceef5;-webkit-border-radius:3px;border:1px solid #cad4e7;cursor:pointer;padding:2px 6px 4px;white-space:nowrap;color:#3b5998}
.pluginButton:hover{border-color:#9dacce}
.pluginButton button{background:transparent;border:0;margin:-1px;padding:0;font:inherit;color:inherit;cursor:pointer}
.pluginButtonInline{display:inline-block}
.pluginButtonIcon{position:relative;top:3px;margin-right:3px}
img{border:0}
i.img{-ms-high-contrast-adjust:none;_overflow:hidden}
.sp_like{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yF/r/wtsky0Emo_J.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_like_thumb{background-position:0 -45px}


#ShowtimeSearchBox{
	float:left;
	width:380px;
	height:290px;
	background:url(/images/redbg-boxsearch.jpg) no-repeat;
	}
	
#ShowtimeSearchContent{
	width:auto; 
	padding: 0px;
	float:left;
	}
#formSearchContent{
	margin:15px 25px;
	}

#formSearchContent .selectbox{
	margin-top: 4px;
	  padding-left:12px;
	  font: bold 12px tahoma;
	  font-size:1em;/* Resize Font*/
	  width : 307px; /* Resize Width */
	  height:32px;
	  display : block;
	  text-align:left; 
	  background: #fff url(/images/arr-down.gif) no-repeat right center;
	  cursor: pointer;
	  border:1px solid #e1e1e1;
	  -webkit-border-radius:7px;
	  color:#333;
	}
	
/* ######### CSS for Lastest News Tab. Remove if not using ######### */

.tabShowtimeSearch{
padding: 0px;
margin: 0px;
margin-top:8px;
margin-left:21px;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
float:left;
width:100%;
}

.tabShowtimeSearch li{
display: inline;
margin: 0;
}

.tabShowtimeSearch li span{
	position: relative;
	float:left;
	margin:0
	}

.tabShowtimeSearch li a{
text-decoration: none;
font:bold 12px tahoma;
position: relative;
z-index: 1;
padding: 9px 28px;
color: #333;
float:left;
}

.tabShowtimeSearch li a:visited{
color: #2d2b2b;
}

.tabShowtimeSearch li a:hover{
color: #c00;
}

.tabShowtimeSearch li a.selected{ /*selected main tab style */
position: relative;
background:url(/images/tab-red-on.gif) no-repeat top center;
padding: 6px 28px 12px 28px;
}

.tabShowtimeSearch li a.selected{ /*selected main tab style */
color:#fff;
font-weight:bold;
}

.tabShowtimeSearch li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

	
#talk1{
	float:left;
	width:340px;
	height:54px;
	background:url(/images/bg-talk.jpg) no-repeat 0 0;
	text-align:center;
	margin-top:9px;
	}	
#talk1 span{
	display:block;
	padding:12px 0;
	font:bold 12px tahoma;
	color:#c00;
	}	
#talk2{
	float:left;
	height:35px;
	width:290px;
	padding-left:50px;
	margin-top:12px;
	background:url(/images/warning-gray.jpg) no-repeat 0 0;
	}	

#ShowtimeResult	{}
	
#ShowtimeItemResult{
	float:left;
	margin-top:21px;
	}	
#ShowtimeItemResult .head{
	display:block;
	margin-left:40px;
	}

#ShowtimeItemResult .head span.txt{
	float:left;
	font-size:17px;
	}
	
#BoxTime{
	float:left;
	margin-top:9px;
	}

.Date{
	float:left;
	width:56px;
	margin-top:12px;
	}

.Date .txt{
	color:#666;
	font-size:15px;
	}

.TimesContent{
	border:1px solid #e8e7e7;
	-webkit-border-radius:5px;
	background:#f0f0f0;
	float:left;
	width:650px;
	}

.TimesContent .content{
	display:block;
	padding:5px;
	float:left;
	}

.TimesContent a.bnt3d,
.TimesContent a.bntDigital,
.TimesContent a.bntGeneral{
	width:50px;
	height:25px;
	float:left;
	font:bold 10px tahoma;
	margin-left:3px;
	cursor:pointer;
	}

.TimesContent a.bnt3d span,
.TimesContent a.bntDigital span,
.TimesContent a.bntGeneral span{
	width:50px;
	display:block;
	text-align:center;
	padding-top:5px;
	}


.TimesContent a.bnt3d{
	color:#fff;
	background:url(../images/Show-3D.gif) no-repeat 0 0;
	}
.TimesContent a.bnt3d:hover{
	color:#FCC;
	}


.TimesContent a.bntDigital{
	color:#333;
	background:url(../images/Show-digital.gif) no-repeat 0 0;
	}

.TimesContent a.bntGeneral{ 
	color:#333;
	background:url(../images/Show-general.gif) no-repeat 0 0;
}

.TimesContent a.bntDigital:hover,
.TimesContent a.bntGeneral:hover{
	color:#999;
	}




/* ######### CSS for Lastest News Tab. Remove if not using ######### */

.tabBoxFilm{
padding: 0px;
margin: 0px;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
float:left;
width:100%;
}

.tabBoxFilm li{
display: inline;
margin: 0;
}

.tabBoxFilm li span{
	position: relative;
	float:left;
	margin-left:20px;
	margin-top:7px;
	}

.tabBoxFilm li a{
text-decoration: none;
font:bold 12px tahoma;
position: relative;
z-index: 1;
padding: 8px 0 8px 21px;
color: #858585;
float:left;
}

.tabBoxFilm li a:visited{
color: #2d2b2b;
}

.tabBoxFilm li a:hover{
color: #2d2b2b;
}

.tabBoxFilm li a.selected{ /*selected main tab style */
position: relative;
}

.tabBoxFilm li a.selected{ /*selected main tab style */
color:#cc0000;
font-weight:bold;
}

.tabBoxFilm li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

#HeadLine span.line{
	padding:0 21px;
	color:#dedede;
	}

#HeadLine a.NoSelect{
	color:#999;
	}
#HeadLine a.NoSelect:hover{
	color:#c00;
	}


#PriceTickBox{
	margin-top:12px;
	float:left;
	width:100%;
	}

#PriceTickBox .txt{
	font-size:17px;
	text-transform:uppercase;
	}
	
#PriceTickBox span.name{
	text-align:center;
	background:#e8ebe5;
	display:block;
	margin-top:12px;
	padding:9px 0;
	font-weight:bold;
	}	



/*Page Cinema css */

#CinemaPresent{}

#CinemaPresent .desc{
	line-height:19px;
	}

#CinemaGroup{
	float:left;
	width:100%;
	height:500px;
	}
#CinemaGroup span.txt{
	float:left;
	display:block;
	font-size:17px;
	text-transform:uppercase;
	}
#CinemaGroup span.name{
	float:right;
	display:block;
	font-size:17px;
	text-transform:uppercase;
	color:#c00;
	}


/*
Skin Name: Orman Theme
Skin Type: fixed
Image Width: 680
Image Height: 380
Description: A light and green skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Orman Clark
*/

.theme-orman .nivoSlider {
    position:relative;
    width:680px;
    height:380px;
    margin:0;
	padding:0;
    background:url(/images/loading.gif) no-repeat 50% 50%;
}
.theme-orman .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    width:680px; /* Make sure your images are the same size */
    height:380px; /* Make sure your images are the same size */
}
.theme-orman .nivoSlider a {
    border:0;
    display:block;
}

.theme-orman .nivo-controlNav {
    position:absolute;
	left:50%;
	bottom:0;
    margin:0; /* Tweak this to center bullets */
}
.theme-orman .nivo-controlNav a {
    display:block;
    width:10px;
    height:10px;
    background:url(/images/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:7px;
    float:left;
}
.theme-orman .nivo-controlNav a.active {
    background-position:0 -10px;
}

.theme-orman .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(/images/arrows.png) no-repeat 0% 50%;
	text-indent:-9999px;
	border:0;
    top:170px;
}
.theme-orman a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-orman a.nivo-prevNav {
	left:15px;
}

.theme-orman .nivo-caption {
    font: normal 12px tahoma;
	width:678px;
	height:80px;
	padding:0;
	margin:0;
	border:1px solid #ddd;
	background:#f4f4f4;
	bottom:-90px;
	opacity:0;
}

.theme-orman .nivo-caption span{
	padding:7px 12px;
	display:block;
	color:#000;
	line-height:20px;
	}

.theme-orman .nivo-caption a { 
    color:#333;
}
.theme-orman .nivo-caption a:hover { 
    color:#c00;
}



#loginBox{
	border:1px solid #efefef;
	width:298px;
	height:114px;
	background:#f7f7f7;
	}

#loginBox span.txt{
	font-size:17px;
	text-transform:uppercase;
	display:block;
	padding:21px 21px 15px;
	}

#loginBox a.signup,
#loginBox a.signin{
	width:123px;
	height:37px;
	background:url(/images/login.gif) no-repeat ;
	float:left;
	display:block;
	
	}

#loginBox a.signup{
	margin-left:21px;
	background-position:0 -74px;
	}

#loginBox a.signin{
	margin-left:5px;
	background-position:0 0;
	}

#loginBox a.signup:hover{
	background-position:0 -111px;
	}

#loginBox a.signin:hover{
	background-position:0 -37px;
	}



/*Box Phim Dang chieu/Sap chieu*/		

#BoxFilms{
	float:left;
	}

#BoxFilms .txt{
	font-size:17px;
	color:#333;
	text-transform:uppercase;
}

#BoxFilms span.line{
	padding:0 21px;
	color:#dedede;
	}

#BoxFilms a.NoSelect{
	color:#999;
	}
#BoxFilms a.NoSelect:hover{
	color:#c00;
	}

/***********************************************
* Step Carousel Viewer
***********************************************/
	
.stepFilm{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 300px; /*Width of Carousel Viewer itself*/
height: 270px; /*Height should enough to fit largest content's height*/
margin: 0;
margin-top:15px;
}

.stepFilm .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepFilm .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px; /*margin around each panel*/
width: 150px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.stepFilm .panel img{
	width:147px;
	}

.stepFilm .panel span.title{
	display:block;
	width:140px;
	margin-top:9px;
	}
.stepFilm .panel span.title a{
	font:bold 12px tahoma;
	color:#333;
	line-height:18px;
	}
.stepFilm .panel span.title a:hover{ color:#c00;}



/*TempBox Danh sach Rap*/		

#CinemaListBox{
	float:left;
	}

#CinemaListBox .txt{
	font-size:17px;
	color:#333;
	text-transform:uppercase;
}



/***********************************************
* Step Carousel Viewer
***********************************************/
	
.stepCinemaList{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 1000px; /*Width of Carousel Viewer itself*/
height: 286px; /*Height should enough to fit largest content's height*/
margin: 0;
margin-top:15px;
}

.stepCinemaList .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepCinemaList .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px; /*margin around each panel*/
width: 340px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.stepCinemaList .panel img{
	width:320px;
	}

.stepCinemaList .panel span.title{
	display:block;
	width:298px;
	margin-top:9px;
	padding:10px;
	font:bold 12px tahoma;
	color:#333;
	line-height:18px;
	border:1px solid #ebebeb;
	background:#f7f7f7;
	text-align:center;
	min-height:54px;
	}

/*Cinema Details css*/

#CinemaPresent span.binhchon{
	float:left;
	margin-right:12px;
	padding:2px 0;
	}

#CinemaPresent .voteStar{
	float:left;
	}

#CineDetailsBox{
	border:1px solid #e8e8e8;
	background:#f7f7f7 url(/images/bgHeadline.gif) repeat-x top;
	float:left;
	width:678px;
	}

#CineDetailsBox .cl,
#CineDetailsBox .cr{
	float:left;
	width:250px;
	}

#CineDetailsBox .cr{
	margin-left:50px;
	}

#CineDetailsBox .cl p,
#CineDetailsBox .cr p,
#CineDetailsBox .desc p{
	padding-top:12px;
	}

#CineDetailsBox .desc{
	border-top:1px dotted #ddd;
	padding-top:15px;
	margin-top:21px;
	float:left;
	width:100%;
	}

/* ######### CSS for Lastest News Tab. Remove if not using ######### */

.tabCineDetails{
padding: 0px;
margin: 0px;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
float:left;
width:100%;
}

.tabCineDetails li{
display: inline;
margin: 0;
}

.tabCineDetails li span{
	position: relative;
	float:left;
	margin-left:20px;
	margin-top:7px;
	}

.tabCineDetails li a{
text-decoration: none;
font-size:17px;
text-transform:uppercase;
position: relative;
z-index: 1;
padding: 15px 21px;
color:#999;
float:left;
}

.tabCineDetails li a:visited{
color: ;
}

.tabCineDetails li a:hover{
color: #2d2b2b;
}

.tabCineDetails li a.selected{ /*selected main tab style */
position: relative;
}

.tabCineDetails li a.selected{ /*selected main tab style */
color:#333;
}

.tabCineDetails li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}


/*Box Phim Dang chieu/Sap chieu*/		

#BoxShowFilms{
	float:left;
	}

#BoxShowFilms .txt{
	font-size:17px;
	color:#333;
	text-transform:uppercase;
}

#BoxShowFilms span{
	padding:0 15px;
	}

#BoxShowFilms a.NoSelect{
	color:#999;
	}
#BoxShowFilms a.NoSelect:hover{
	color:#c00;
	}

/***********************************************
* Step Carousel Viewer
***********************************************/
	
.stepShowFilm{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 680px; /*Width of Carousel Viewer itself*/
height: 280px; /*Height should enough to fit largest content's height*/
margin: 0;
margin-top:15px;
}

.stepShowFilm .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepShowFilm .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px; /*margin around each panel*/
width: 173px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.stepShowFilm .panel img{
	width:160px;
	}

.stepShowFilm .panel span.title{
	display:block;
	width:160px;
	margin-top:9px;
	}
.stepShowFilm .panel span.title a{
	font:bold 12px tahoma;
	color:#333;
	line-height:18px;
	}
.stepShowFilm .panel span.title a:hover{ color:#c00;}

#showToday{
	}

#showToday .head{
	float:left;
	width:680px;
	}

#showToday .head span.txt{
	float:left;
	display:block;
	margin-top:12px;
	font-size:17px;
	text-transform:uppercase;
	}

#showToday .head span.dateSelect{
	float:right;
	}

#itemShowToday{
	float:left;
	width:100%;
	}

#itemShowToday span.txt{
	font-size:14px;
	margin-bottom:15px;
	display:block;
	}

#promotionBox{
	float:left;
	width:300px;
	}
#promotionBox .head{
	border:1px solid #d8d8d8;
	background:url(/images/bgHeadPromotion.jpg) no-repeat top left;
	text-align:center;
	height:40px;
	margin-bottom:5px;
	}
#promotionBox .head span.txt{
	padding-top:15px;
	display:block;
	text-transform:uppercase;
	font-size:17px;
	}

#promotionBox img{
	width:300px;
	}

#CineList{
	background:#ececec;
	padding:21px;
	}
#CineList span.txt{
	display:block;
	text-transform:uppercase;
	font-size:17px;
	}

#CineList a.ItemLink{
	margin-top:15px;
	padding-left:15px;
	display:block;
	background:url(/images/arrow-botlink.gif) no-repeat 0 5px;
	text-transform:uppercase;
	font:bold 12px tahoma;
	}


/*Dien anh 24h css*/


.film24Lastest{
	float:left;
	width:100%;
	}

.film24Lastest .largeImg{
	float:left;
	width:380px;
	}

.film24Lastest .largeImg img{
	width:380px;
	}

.film24Lastest .largeView{
	float:left;
	width:275px;
	border-bottom:1px solid #e8e8e8;
	}

.film24Lastest .largeView span a{
	display:block;
	font:bold 18px tahoma;
	color:#333;
	}

.film24Lastest .largeView span a:hover{
	color:#c00;
	}

.film24Lastest .largeView span.desc{
	padding:9px 0;
	display:block;
	line-height:18px;
	}

.film24Lastest .sublink{}

.film24Lastest .sublinkItem{
	margin-top:12px;
	float:left;
	width:275px;
	}

.film24Lastest .sublinkItem img{
	width:80px;
	float:left;
	height:50px;
	}

.film24Lastest .sublinkItem a.txtLink{
	display:block;
	float:left;
	margin-left:9px;
	font:bold 12px Tahoma, Geneva, sans-serif;
	line-height:18px;
	width:180px;
	}

.listFilmItems{
	float:left;
	width:458px;
	}

.listFilmItems div.FilmItem{
	border-bottom:1px solid #e8e8e8;
	float:left;
	width:100%;
	padding-bottom:21px;
	}

.listFilmItems .FilmItem img{
	width:200px;
	float:left;
	}

.listFilmItems .FilmItem span a{
	display:block;
	float:left;
	font:bold 14px Tahoma, Geneva, sans-serif;
	line-height:19px;
	margin-left:12px;
	width:240px;
	}

.listFilmItems .FilmItem span.desc{
	display:block;
	float:left;
	width:240px;
	margin-top:7px;
	margin-left:12px;
	line-height:19px;
	text-align:justify;
	}

.listFilmItems .FilmItem span.txt{
	display:block;
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	margin-bottom:15px;
	}
.listFilmItems2{
	float:left;
	width:680px;
	}

.listFilmItems2 div.FilmItem{
	border-bottom:1px solid #e8e8e8;
	float:left;
	width:100%;
	padding-bottom:21px;
	}

.listFilmItems2 .FilmItem img{
	width:200px;
	float:left;
	}

.listFilmItems2 .FilmItem span a{
	display:block;
	float:left;
	font:bold 14px Tahoma, Geneva, sans-serif;
	line-height:19px;
	margin-left:12px;
	width:468px;
	}

.listFilmItems2 .FilmItem span.desc{
	display:block;
	float:left;
	width:468px;
	margin-top:7px;
	margin-left:12px;
	line-height:19px;
	text-align:justify;
	}

.listFilmItems2 .FilmItem span.txt{
	display:block;
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	margin-bottom:15px;
	}

.BoxItemSmall{
	float:left;
	width:200px;
	border:1px solid #e8e8e8;
	background:#f4f4f4;
	text-align:center;
	}

.BoxItemSmall span.txt{
	display:block;
	font-size:17px;
	text-transform:uppercase;
	color:#333;
	padding:15px 0 9px;
	}

.BoxItemSmall img{
	width:160px;
	}

.BoxItemSmall span.textlink a{
	display:block;
	padding:12px;
	font:bold 12px Tahoma, Geneva, sans-serif;
	line-height:18px;
	}

.topView{
	float:left;
	width:100%;
	background:#efefef;
	padding:21px 0;
	}

.topView span.txt{
	display:block;
	font-size:17px;
	color:#333;
	text-transform:uppercase;
	padding:0 21px 15px;
	}

.topViewItem{
	float:left;
	padding:0 21px;
	width:250px;
	}

.topViewItem img{
	float:left;
	width:100px;
	}


.topViewItem span{
	display:table-cell;
	width:150px;
	height:70px;
	vertical-align:middle;
	}

.topViewItem span a{
	margin-left:12px;
	float:left;
	font:bold 12px Tahoma, Geneva, sans-serif;
	line-height:19px;
	}


/*dien anh  24h Subpage css*/


#newsHighlight{
	float:left;
	width:100%;
	margin-top:21px;
	padding-bottom:21px;
	border-bottom:9px solid #efefef;
	}

#newsHighlight .Lnews{
	width:380px;
	float:left;
	}

#newsHighlight .Lnews img{
	width:380px;
	}

#newsHighlight .Lnews span.txtlink{
	display:block;
	margin-top:9px;
	}

#newsHighlight .Lnews span.txtlink a{
	font:bold 18px Tahoma, Geneva, sans-serif;
	color:#333;
	line-height:23px;
	}

#newsHighlight .Lnews span.txtlink a:hover{
	color:red;
	}
	
#newsHighlight .Rnews{
	float:left;
	width:285px;
	margin-left:12px;
	}

#newsHighlight .RnewsItem{
	float:left;
	width:285px;
	}


#newsHighlight .RnewsItem img{
	width:120px;
	float:left;
	margin-right:12px;
	}

#newsHighlight .RnewsItem span.txtlink{
	float:left;
	display:block;
	width:150px;
	}

#newsHighlight .RnewsItem span.txtlink a{
	font:bold 14px Tahoma, Geneva, sans-serif;
	color:#333;
	line-height:19px;
	}

#newsHighlight .RnewsItem span.txtlink a:hover{
	color:red;
	}

#newsHighlight .under{
	border-top:1px dotted #ccc;
	padding-top:17px;
	margin-top:17px;
	}



#newslist{
	float:left;
	width:100%;
	}

#newslist .newsitem{
	float:left;
	width:100%;
	border-bottom:1px dotted #ebebeb;
	margin-top:21px;
	padding-bottom:21px;
	}


#newslist .newsitem img{
	width:200px;
	float:left;
	margin-right:17px;
	}


#newslist .newsitem span.textlink{
	float:left;
	width:460px;
	display:block;
	}

#newslist .newsitem span.textlink a{
	font:bold 14px Tahoma, Geneva, sans-serif;
	color:#333;
	}

#newslist .newsitem span.textlink a:hover{
	color:red;
	}

#newslist .newsitem span.desc{
	float:left;
	display:block;
	width:460px;
	margin-top:12px;
	line-height:19px;
	}

#newslist .newsitem span.ago{
	float:left;
	display:block;
	margin-top:12px;
	color:#999;
	}


#newslist .pagenumber{
	margin-top:20px;
	margin-bottom:15px;
	text-align:center;
	}

#newslist .pagenumber a{
	display:inline;
	padding:4px 9px;
	border:1px solid #ccc;
	-webkit-border-radius:4px;
	font:normal 12px Tahoma, Geneva, sans-serif;
	color:#333;
	margin-left:5px;
	}

#newslist .pagenumber a:hover{
	background:#efefef;
	}

#newslist .pagenumber a.active{
	background:#333;
	color:#fff;
	border-color:#333;
	}

#newslist .first{
	margin-left:0;
	}


/*dien anh 24h Subpage Details css*/

#newsdetails{
	margin:17px 0;
	color:#333;
	line-height:19px;
	}

#newsdetails table{
	width:100%;
	}
#newsdetails,
#newsdetails .agoline{
	float:left;
	width:100%;
	margin-bottom:10px;
	}

#newsdetails .agoline span.ago{
	float:left;
	color:#999;
	}

#newsdetails .agoline span.icon{
	float:right;
	}

#newsdetails span.title{
	display:block;
	font:bold 18px Tahoma, Geneva, sans-serif;
	margin:27px 0 15px;
	}
#newsdetails h1{
	display:block;
	font:bold 18px Tahoma, Geneva, sans-serif;
	margin:27px 0 15px;
    color:#000;
	}
#newsdetails span.same{
	display:block;
	margin:12px 0 21px;
	}

#newsdetails span.same a{
	display:block;
	font:bold 12px Tahoma, Geneva, sans-serif;
	color:#999;
	padding-left:15px;
	background:url(/images/arrow-gray.gif) no-repeat 0 3px;
	margin:7px 0;
	}

#newsdetails span.same a:hover{
	color:red;
	}

#newsdetails .full{
	width:100%;
	}
#newsdetails img{
	text-align:center !important;
	}
#newsOther{
	float:left;
	width:100%;
	margin:15px 0;
	}


#newsOther span.txt{
	font-size:17px;
	text-transform:uppercase;
	margin-bottom:17px;
	display:block;
	}


#newsOther .newsOtherItem{
	float:left;
	width:157px;
	margin-left:17px;
	}

#newsOther .newsOtherItem img{
	width:157px;
	}

#newsOther .newsOtherItem span.txtlink{
	display:block;
	width:157px;
	margin-top:12px;
	}

#newsOther .newsOtherItem span.txtlink a{
	font:bold 12px Tahoma, Geneva, sans-serif;
	color:#333;
	line-height:18px;
	}

#newsOther .newsOtherItem span.txtlink a:hover{
	color:red;
	}

#newsOther .first{
	margin:0;
	}

/*review css*/


#reviewDesc{
	padding:15px;
	line-height:19px;
	background:url(/images/bg.jpg) repeat-x center left;
	border:3px solid #bcbcbc;
	-webkit-border-radius: 7px;  
	-moz-border-radius: 7px; 
	-khtml-border-radius: 7px;  
	border-radius: 7px;
	box-shadow: 2px 2px 12px #ccc; /*shadow for CSS3 capable browsers.*/
	-webkit-box-shadow: 2px 2px 12px #ccc;
	-moz-box-shadow: 2px 2px 12px #ccc;
	}

#reviewDesc p{
	padding-top:9px;
	}

#reviewDesc a{
	color:#c00;
	}
#reviewDesc a.button{
	border:1px solid #ccc;
	background:url(/images/bg-blocktab-on.jpg) repeat-x top;
	padding:5px 9px;
	border-radius: 4px;
	}
#reviewDesc a.button:hover{
	background-position:center;
	}	

#reviewItem{
	border-bottom:1px dashed #ececec;
	padding-bottom:25px;
	margin-top:25px;
	}


#reviewItem span.img{
	float:left;
	width:200px;
	margin-right:12px;
	}
	
#reviewItem span.img img{
	width:200px;
	}	

#reviewItem span.txtlink,
#reviewItem span.desc{
	display:block;
	float:left;
	width:450px;
	
	}

#reviewItem span.txtlink a{
	font:bold 14px Tahoma, Geneva, sans-serif;
	color:#333;
	}

#reviewItem span.txtlink a:hover{
	color:red;
	}

#reviewItem span.desc{
	margin:12px 0;
	line-height:19px;
	}

#reviewItem .reviewby{
	float:left;
	width:450px;
	#display:none;
	}

#reviewItem .reviewby span.by{
	float:left;
	margin-top:7px;
	color:#999;
	}

#reviewItem .reviewby span.avata{
	float:left;
	margin-left:9px;
	}

#reviewItem .reviewby span.avata img{
	float:left;
	width:32px;
	}

#reviewItem .reviewby span.nickname{
	float:left;
	display:inline;
	margin-left:7px;
	color:#999;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:19px;
	}

#reviewItem .reviewby span.nickname a{
	font:bold 12px Tahoma, Geneva, sans-serif;
	color:#888;
	}

#reviewItem .reviewby span.nickname a:hover{
	color:red;
	}

#reviewItem .reviewby span.star{
	float:left;
	margin-left:21px;
	margin-top:5px;
	}


#review .pagenumber{
	margin-top:31px;
	margin-bottom:21px;
	text-align:center;
	}

#review .pagenumber a{
	display:inline;
	padding:4px 9px;
	border:1px solid #ccc;
	-webkit-border-radius:4px;
	font:normal 12px Tahoma, Geneva, sans-serif;
	color:#333;
	margin-left:5px;
	}

#review .pagenumber a:hover{
	background:#efefef;
	}

#review .pagenumber a.active{
	background:#333;
	color:#fff;
	border-color:#333;
	}

#review .first{
	margin-left:0;
	}


/*review details css*/

#reviewdetails{
	margin:17px 0;
	color:#333;
	line-height:19px;
	}


#reviewdetails span.title{
	display:block;
	font:bold 18px Tahoma, Geneva, sans-serif;
	margin:0 0 15px;
	}

#reviewdetails span.same{
	display:block;
	margin:12px 0 21px;
	}

#reviewdetails span.same a{
	display:block;
	font:bold 12px Tahoma, Geneva, sans-serif;
	color:#999;
	padding-left:15px;
	background:url(/images/arrow-gray.gif) no-repeat 0 3px;
	margin:7px 0;
	}

#reviewdetails span.same a:hover{
	color:red;
	}

#reviewdetails .full{
	width:100%;
	}

#reviewdetails .footArticle{
	float:left;
	width:100%;
	margin:21px 0;
	}

#reviewdetails .footArticle span.icon{
	float:left;
	margin-top:15px;
	}

#reviewdetails .footArticle span.star{
	float:left;
	margin-left:90px;
	margin-top:12px;
	}

#reviewdetails .reviewby{
	float:right;
	}

#reviewdetails .reviewby span.by{
	float:left;
	margin-top:15px;
	color:#999;
	}

#reviewdetails .reviewby span.avata{
	float:left;
	margin-left:9px;
	}

#reviewdetails .reviewby span.avata img{
	float:left;
	width:50px;
	}

#reviewdetails .reviewby span.nickname{
	float:left;
	width:250px;
	display:inline;
	margin-left:7px;
	color:#999;
	font:normal 11px Tahoma, Geneva, sans-serif;
	line-height:15px;
	}

#reviewdetails .reviewby span.nickname p{
	padding-top:5px;
	}

#reviewdetails .reviewby span.nickname a{
	font:bold 12px Tahoma, Geneva, sans-serif;
	color:#888;
	}

#reviewdetails .reviewby span.nickname a:hover{
	color:red;
	}


/*offline css*/

#offlineInfo{
	float:left;
	width:100%;
	border-bottom:1px solid #eee;
	padding-bottom:21px;
	}

#offlineInfo h1{
	display:block;
	font:bold 18px Tahoma, Geneva, sans-serif;
	color:#333;
	}

#offlineInfo img.full{
	width:100%;
	margin-top:15px;
	}

#offlineInfo .content{
	float:left;
	width:100%;
	margin-top:15px;
	line-height:19px;
	}

#offlineInfo .content span.txt{
	font-size:14px;
	text-transform:uppercase;
	color:#333;
	display:block;
	margin-bottom:12px;
	}

#offlineInfo .content a{
	color:#c00;
	}

#offlineInfo .content a:hover{
	color:red;
	}

#offlineInfo .content ul{
	margin:0;
	padding:0;
	}

#offlineInfo .content ul li{
	margin-top:9px;
	padding-left:12px;
	background:url(/images/arrow-gray.gif) no-repeat 0 5px;
	list-style:none;
	}


#offlineInfo .payment{
	border:1px solid #eee;
	-webkit-border-radius:7px;
	background:#f7f7f7;
	padding:19px 21px;
	text-align:center;
	float:right;
	margin:21px 0 0 21px;
	
	}

#offlineInfo .payment span.txt{
	font-size:14px;
	color:#333;
	display:block;
	margin-bottom:12px;
	}


#offlineBlock{
	padding:20px 0;
	float:left;
	width:100%;
	}

#offlineBlock span.txt{
	display:block;
	font-size:17px;
	text-transform:uppercase;
	margin-bottom:21px;
	
	}

#offlineBlock .imgBox{
	float:left;
	width:320px;
	height:200px;
	overflow:hidden;
	}

#offlineBlock .imgBox .img1{
	float:left;
	width:160px;
	margin-right:1px;
	}

#offlineBlock .imgBox .img2,
#offlineBlock .imgBox .img3{
	float:left;
	width:150px;
	}

#offlineBlock .imgBox .img3{
	margin-top:1px;
	}

#offlineBlock .txtBox{
	float:left;
	width:340px;
	margin-left:9px;
	}

#offlineBlock .txtBox span.title{
	display:block;
	}

#offlineBlock .txtBox span.title a{
	font:bold 18px Tahoma, Geneva, sans-serif;
	color:#333;
	line-height:24px;
	}

#offlineBlock .txtBox span.title a:hover{
	color:#c00;
	}

#offlineBlock .txtBox span.desc{
	display:block;
	margin:15px 0;
	line-height:20px;
	}


span.redbutton{
	display:block;
	width:93px;
	height:27px;
	text-align:center;
	background:url(/images/buttonred.png) no-repeat;
	}

span.redbutton a{
	font:bold 11px Tahoma, Geneva, sans-serif;
	color:#fff;
	padding-top:7px;
	display:block;
	}


span.redbutton a:hover{
	color:#FCC;
	}


.bordertop{
	border-top:1px solid #eee;
	}


#MemLoginBox{
	border:1px solid #efefef;
	width:298px;
	padding:23px 0;
	background:#f7f7f7;
	}

#MemLoginBox span.txt{
	font-size:17px;
	text-transform:uppercase;
	display:block;
	padding:0 23px 7px;
	}

#MemLoginBox input{
	border:1px solid #ddd;
	padding:9px;
	margin:7px 23px 0;
	width:230px;
	color:#999;
	-webkit-border-radius:5px;
	}

#MemLoginBox a.redsignin{
	display:block;
	width:123px;
	height:37px;
	margin-left:23px;
	margin-top:17px;
	background:url(/images/redsignin.gif) no-repeat 0 -37px;
	}

#MemLoginBox a.redsignin:hover{
	background:url(/images/redsignin.gif) no-repeat 0 0;
	}


#fundingBox{
	float:left;
	border:1px solid #efefef;
	width:298px;
	padding:23px 0;
	margin-top:10px;
	background:#fff;
	}

#fundingBox span.txt{
	font-size:17px;
	text-transform:uppercase;
	display:block;
	padding:0 23px 17px;
	}

#fundingBox .contain{
	padding:0 23px;
	}

#fundingBox .contain img{
	float:left;
	}


/*offline details css*/


#giftsBlock{
	float:left;
	width:100%;
	}

#giftsBlock span.txt{
	display:block;
	border-bottom:1px solid #eee;
	padding-bottom:12px;
	font-size:17px;
	color:#333;
	text-transform:uppercase;
	}

#giftsBlock span.imgcontain{
	margin-top:17px;
	display:block;
	}

span.eventDate{
	display:block;
	color:#333;
	margin-top:12px;
	}
.close_x { 
        width:18px;
		height:18px;
        overflow: hidden; 
		line-height: 1000px;
        display: block;
        position: absolute; 
		top: 7px; 
		right: 7px;
		background:url(/images/4WSewcWboV8.png) no-repeat 0 0;
    }
	.close_x:hover{
		background-position:0 -18px;
		}	
	
/*Popup */

  .sign_in {
        -moz-border-radius: 6px;
        background: #fff;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 25px;
		width:325px;
        position: relative;
        display: none;
		text-align:left;
    }
	.sign_in .txt{
		display:block;
		font-size:18px;
		text-transform:uppercase;
		}
	.sign_in h1{
		font-size:15px;
		font-family:Tahoma, Geneva, sans-serif;
		color:#333;
		margin:15px 0 12px;
		}
	.sign_in label{
		display:block;
		font-weight:bold;
		}	
	.sign_in .username,
	.sign_in .pass{
		border:1px solid #e5e5e5;
		margin-top:7px;
		padding:7px 12px;
		color:#888;
		width:300px;
		}	
	.sign_in .bnt-login{
	width:123px;
	height:37px;
	background:url(/images/login.gif) no-repeat ;
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
	}
	.sign_in span.bnt-content{
		float:left;
		width:100%;
		margin-top:21px;
		}
	.sign_in .bnt-login{
		background-position:0 0;
		}
	.sign_in .bnt-login:hover{
		background-position:0 -37px;
		}	
	.sign_in span.forget-pass{
	display:inline-block;
	vertical-align:middle;
	margin-left:31px;
	}

	.sign_in span.login-state{
		margin-top:21px;
		display:block;
		float:left;
		}
	.sign_in span.login-state input{
		margin-right:7px;
		}
	
	.sign_in span.signup{
		display:block;
		margin-top:15px;
		float:left;
		line-height:27px;
		}

/*Popup */
	
/*TempBox Danh sach Rap*/		

#CinemaListBox{
	float:left;
	}

#CinemaListBox .txt,
.Cinema4gr .txt{
	font-size:17px;
	color:#333;
	text-transform:uppercase;
}
.Cinema4gr{
	float:left;
	width:680px;
	margin:12px 0;
	}
.tallbanner{
	float:left;
	}


/***********************************************
* Step Carousel Viewer
***********************************************/
	
.stepCinemaList{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 1000px; /*Width of Carousel Viewer itself*/
height: 286px; /*Height should enough to fit largest content's height*/
margin: 0;
margin-top:15px;
}

.stepCinemaList .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepCinemaList .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px; /*margin around each panel*/
width: 340px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.stepCinemaList .panel img{
	width:320px;
	}

.stepCinemaList .panel span.title{
	display:block;
	width:298px;
	margin-top:9px;
	padding:10px;
	font:bold 12px tahoma;
	color:#333;
	line-height:18px;
	border:1px solid #ebebeb;
	background:#f7f7f7;
	text-align:center;
	}
	
.step1Cinema{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 320px; /*Width of Carousel Viewer itself*/
height: 325px; /*Height should enough to fit largest content's height*/
margin: 0;
margin-top:15px;
}

.step1Cinema .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.step1Cinema .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px; /*margin around each panel*/
width: 340px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
}

.step1Cinema .panel img{
	width:320px;
	margin-bottom:9px;
	}

.step1Cinema .panel span.title{
	display:table-cell;
	overflow:hidden;
	width:298px;
	height:90px;
	max-height:90px;
	margin-top:9px;
	padding:0 10px;
	font:bold 12px tahoma;
	color:#333;
	line-height:18px;
	border:1px solid #ebebeb;
	background:#f7f7f7;
	text-align:center;
	vertical-align:middle;
	}

.square-thumb
{
    width: 160px !important;
    height: 238px !important;
}
 .styled-select select
{
    background: transparent;
    border: none;
    cursor: pointer;
    height: 36px;
    -webkit-appearance: textfield;
    padding: 7px;
    width: 240px;
}
.styled-select
{
    width: 215px;
    height: 36px;
    overflow: hidden;
    background: url(/images/bg-listbox-search.gif) 0 0 no-repeat;
}
.img_66x80
{
    width: 66px !important;
    height: 80px !important;
    float: left;
}
.megamenu a:hover
{
    color: #e00 !important;
    background: #f3f3f3;
}
.img_40x50
{
    width: 40px !important;
    height: 50px !important;
    float: right;
}
.img_66x66
{
    width: 66px;
    height: 66px;
    float: left;
    margin-right: 10px;
}
/* Facebook Box */
#likebox-frame
{
    height: 215px;
    padding-left: 2px;
    overflow: hidden;
    position: relative;
    top: -2px;
    width: 260px;
    z-index: 10;
}
#likebox-frame iframe
{
    left: 0px;
    overflow: hidden;
    position: relative;
    top: -1px;
}
/* Left Right Float Ads */

#left_ads_float
{
    /*bottom:24px;*/
    bottom: 25px;
    left: 30px;
    position: fixed;
    top: 40px;
}



#right_ads_float
{
    /*bottom:24px;*/
    bottom: 25px;
    right: 30px;
    top: 40px;
    position: fixed;
}
#left_ads_float a:hover, #right_ads_float a:hover
{
    color: #d63c96;
    text-decoration: none;
}
/* Menu Footer */
a.menuFoot
{
    color: #c00;
}

div#BoxGrayRightItem div.text b
{
    font-weight: normal;
}
div#BoxGrayRightItem div.text a.ahrname
{
    text-decoration: none;
}
div#BoxGrayRightItem div.text a
{
    text-decoration: underline;
}
.divscrollPartner ul li
{
    height: 230px;
    margin-bottom: 2px;
    margin-left: 4px;
    width: 240px;
    margin-right: 4px;
}
.divscrollPartner img
{
    margin-bottom: 2px;
}
.tabcontent div#reviewItem
{
    border: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}
#ddlDate1_container
{
    z-index: 10000;
}
#ddlrap_container
{
    z-index: 10000;
}
div#yourComment
{
    #display:none;
}
#floatbox{
position:absolute;
border: 1px solid #fff;
padding: 0 0 21px;
background-color: #fff;
width: 100px;
visibility: hidden;
z-index: 100;
text-align:left;
-webkit-border-radius: 5px;  
-moz-border-radius: 5px; 
-khtml-border-radius: 5px;  
border-radius: 5px;
box-shadow: 1px 1px 7px #ccc; /*shadow for CSS3 capable browsers.*/
-webkit-box-shadow: 1px 1px 7px #ccc;
-moz-box-shadow: 1px 1px 7px #ccc;
}

#floatbox .off{
	position:absolute;
	bottom:4px;
	left:45px;
	}

#floatbox .txt{
	display:block;
	font-size:14px;
	margin:12px 5px 0;
	text-align:center;
	}

#floatbox .newsitem{
	display:block;
	padding:12px 5px 9px;
	border-bottom:1px solid #eee;
	}

#floatbox .newsitem img{
	width:90px;
	}

#floatbox .newsitem a.title{
	display:block;
	font-weight:bold;
	font-size:11px;
	line-height:15px;
	margin-top:3px;
	}

.up_icon,
.down_icon{
	display:inline-block;
	width:6px;
	height:8px;
	background:url(/images/arr-updown.png) no-repeat;
	margin-left:5px;
	}
.up_icon{
	background-position:-6px 0;
	}

.down_icon{
	background-position: 0;
	}
.up,
.down{
	font-size:11px;
	margin-left:9px;
	}
.up{
	color:#390;
	}

.down{
	color:#e00;
	}

/* Header styles and animations */

.ha-header {
	position: fixed;
	top: 30%;
	right: -15%;
	width:80px;
	height:50px;
	background:#efefef;
	padding: 12px 9px;
	z-index: 50;
	font-family:Tahoma, Geneva, sans-serif;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-box-shadow: 0px 1px 7px 0px #aaa;
    -moz-box-shadow: 0px 1px 7px 0px #aaa;
    box-shadow: 0px 1px 7px 0px #aaa;
	-webkit-border-radius: 5px;  
	-moz-border-radius: 5px; 
	-khtml-border-radius: 5px;  
	border-radius: 5px;
	border:1px solid #fff;
}
	
.ha-header-small {
	width:90px;
	height:95px;
	top:30%;
	right:10px;
}

.ha-header-hide {
	height: 60px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}	
/*Popup */

  .cine_boss_notify {
        -moz-border-radius: 6px;
        background: #fff;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 25px 25px 34px;
		width:850px;
        position: relative;
        display: none;
		text-align:left;
    }
	.cine_boss_notify .txt{
		display:block;
		text-align:center;
		font-size:18px;
		text-transform:uppercase;
		}
	
	.cine_boss_notify .head{
		display:block;
		background:#f3f3f3;
		padding:15px 0 12px;
		margin-top:15px;
		text-align:center;
		}
	.cine_boss_notify .head span.txt{
		font-size:14px;
		text-transform:inherit
		}
	.cine_boss_reg{
		display:block;
		margin-top:15px;
		}	
	.cine_boss_reg .cine_boss_item{
		display:inline-block;
		width:260px;
		margin-left:15px;
		}	
	.cine_boss_reg .cine_boss_item a{
		font-weight:bold;
		display:inline-block;
		}
	.cine_boss_reg label{
		margin-right:7px;
		font-weight:bold;
		}		
	.cine_boss_add{
		display:block;
		margin:19px 0;
		}	
	.cine_boss_add_item{
		display:inline-block;
		width:260px;
		margin:0 0 15px 15px;
		}	
	.cine_boss_add_item label{
		font-weight:bold;
		margin-left:9px;
		}
	.submit_box{
		display:block;
		}	
	.confirm{
		display:inline-block;
		margin-left:15px;
		}		
	a.cine_boss_submit {
   display: inline-block;
   vertical-align:middle;
   text-decoration: none;
   text-align:center;
   padding: 6px 0 8px;
   width:93px;
   background:url(../images/buttonblack.png) no-repeat top left;
   color: #fff;
   text-transform:capitalize;
   font:bold 11px tahoma;
   margin-left:120px;
	}
	a.cine_boss_submit:hover {
	background:url(../images/buttonred.png) no-repeat top left;
	}
	a.edit{
		display:inline-block;
		vertical-align:middle;
		width:18px;
		height:18px;
		margin-left:12px;
		background:url(../images/4WSewcWboV8.png) no-repeat;
		}
	a.edit{
		background-position:0 -36px;
		}	
	a.edit:hover{
		background-position:0 -54px;
		}	
    .close_x { 
        width:18px;
		height:18px;
        overflow: hidden; 
		line-height: 1000px;
        display: block;
        position: absolute; 
		top: 7px; 
		right: 7px;
		background:url(../images/4WSewcWboV8.png) no-repeat 0 0;
    }
	.close_x:hover{
		background-position:0 -18px;
		}	
	
.article_post{
	border:1px solid #eee;
	padding:25px;
	background:#f7f7f7;
	}

.article_post .txt{
	font-size:17px;
	text-transform:uppercase;
	display:block;
	margin-bottom:15px;
	
	}

.txt_field{
	border:1px solid #e7e7e7;
	padding:5px 9px;
	width:190px;
	color:#666;
	}


.foot_menu{
	margin:30px 0 20px;
	display:inline-block;
	
	}
.foot_menu span.txt a{
	margin-right:34px;
	color:#999;
	}	
.foot_menu span.txt a{
	font-size:14px;
	
	}
.foot_menu span.txt a:hover{
	color:#fff;
	}
.followus{
	float:right;
	margin-top:20px;
	}	
.followus img{
	height:40px;
	}
.hosted{
	margin-top:9px;
	color:#999;
	font-size:11px;
	}		
.copyr{}

.copyr img{
	display:inline-block;
	vertical-align:middle;
	}
.copyr span.text{
	display:inline-block;
	vertical-align:middle;
	margin-left:21px;
	color:#999;
	}


.online_booking{
	float:right;
	margin:4px 30px 0 50px;
	}
.location{
	float:left;
	margin:7px 0 0 12px;
	padding-left:38px;
	color:#999;
	background:url(../images/location.png) no-repeat left top;
	}
.location a{
	color:#bbb;
	font-size:11px;
	font-weight:bold;
	display:block;
	padding-bottom:5px;
	}	
.location span.small_txt{
	font-size:10px;
	line-height:10px;
	display:block;
	}
.location_popup{
	position:absolute; 
	visibility: hidden; 
	border: 3px solid #ddd; 
	background-color: white; 
	width: 250px; 
	padding: 8px;
	}
.location_popup .desc{
	padding:12px 0 7px 9px;
	font-size:11px;
	color:#333;
	}	
.location_list{
	height:192px;
	overflow:auto;
	}

.location_list span.items{
	display:block;
	}
.location_list span.items a{
	color:#333;
	padding:5px 9px;
	}
.location_list span.items a:hover{
	color:#c00;
	background:#eee;
	}	