

a:link, a:visited {
color : #fff;
text-decoration : none;
}
a img {
/*border : 0;*/
}
.product-description .wrap {
	height: 450px;
}


.product-description .wrap {
	background : url(../images/header-bg.png) no-repeat 50% 0;
	background-position: 0px 0px;
	background-size: 614px 430px;
}
div#slide-holder {
z-index : 40;
width : 610px;
height : 410px;
position : absolute;
}
div#slide-holder div#slide-runner {
top : 12px;
left : 6px;
width : 602px;
height : 401px;
overflow : hidden;
position : absolute;
}
div#slide-holder img {
margin : 0;
display : none;
position : absolute;
}
div#slide-holder div#slide-controls {
left : 5px;
top: 11px;
width : 601px;
height : 46px;
display : none;
position : absolute;
background : url(../images/slide-bg.png) 0 0;
}
div#slide-holder div#slide-controls p.text {
float : left;
color : #fff;
display : inline;
font-size : 10px;
line-height : 16px;
margin : 15px 0 0 20px;
text-transform : uppercase;
}
div#slide-holder div#slide-controls p#slide-nav {
float : right;
height : 24px;
display : inline;
margin : 11px 15px 0 0;
}
div#slide-holder div#slide-controls p#slide-nav a {
float : left;
width : 24px;
height : 24px;
display : inline;
font-size : 11px;
margin : 0 5px 0 0;
line-height : 24px;
font-weight : bold;
text-align : center;
text-decoration : none;
background-position : 0 0;
background-repeat : no-repeat;
padding: 0px;
}

div#slide-holder div#slide-controls p#slide-nav a:hover {
	color: #fff;
}

div#slide-holder div#slide-controls p#slide-nav a.on {
background-position : 0 -24px;
}
div#slide-holder div#slide-controls p#slide-nav a {
background-image : url(../images/silde-nav.png);
}
div#nav ul li a {
background : url(../images/nav-bg.png) no-repeat;
}
