﻿/* nav */
.innermenu {
	margin: 20px 0;
}
.innermenu ul {
	margin: 0;
	padding: 0;
}
.innermenu li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display:inline; /* ie7 */
}
.innermenu a {
	padding: 3px 12px;
	text-decoration: none;
	color: #999;
	line-height: 100%;
}
.innermenu a:hover {
	color: #000;
}
.innermenu .current a {
	background: #999;
	color: #fff;
	border-radius: 5px;
}

/* right nav */
.innermenu.right ul {
	text-align: right;
}

/* center nav */
.innermenu.center ul {
	text-align: center;
}

@media screen and (max-width: 600px) {
	.innermenu {
		position: relative;
		min-height: 40px;
	}	
	.innermenu ul {
		width: 180px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		left: 0;
		border: solid 1px #aaa;
		background: #fff url(images/icon-menu.png) no-repeat 10px 11px;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	.innermenu li {
		display: none; /* hide all <li> items */
		margin: 0;
	}
	.innermenu .current {
		display: block; /* show only current <li> item */
	}
	.innermenu a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	.innermenu .current a {
		background: none;
		color: #666;
	}

	/* on nav hover */
	.innermenu ul:hover {
		background-image: none;
	}
	.innermenu ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.innermenu ul:hover .current {
		background: url(images/icon-check.png) no-repeat 10px 7px;
	}

	/* right nav */
	.innermenu.right ul {
		left: auto;
		right: 0;
	}

	/* center nav */
	.innermenu.center ul {
		left: 50%;
		margin-left: -90px;
	}
	
}