﻿<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Admin.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link href="~/Content/Admin/css/bootstrap-cerulean.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <link href="~/Content/Admin/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="~/Content/Admin/css/charisma-app.css" rel="stylesheet">
    <link href="~/Content/Admin/css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
    <link href='~/Content/Admin/css/fullcalendar.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='~/Content/Admin/css/chosen.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/uniform.default.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/colorbox.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/jquery.cleditor.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/jquery.noty.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/noty_theme_default.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/elfinder.min.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/elfinder.theme.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/opa-icons.css' rel='stylesheet'>
    <link href='~/Content/Admin/css/uploadify.css' rel='stylesheet'>

    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    <!-- The fav icon -->
    <link rel="shortcut icon" href="~/Images/Admin/favicon.ico">
</head>

<body>

    <!-- topbar starts -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                
                <!-- user dropdown starts -->
                <div class="btn-group pull-right">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="icon-user"></i><span class="hidden-phone">admin</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                            @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                            }
                        </li>
                    </ul>
                </div>
                <!-- user dropdown ends -->

                <div class="top-nav nav-collapse">
                    <ul class="nav">
                        
                        <li>
                            <form class="navbar-search pull-left">
                                <input placeholder="Search" class="search-query span2" name="query" type="text">
                            </form>
                        </li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- topbar ends -->
    <div class="container-fluid">
        <div class="row-fluid">

            <!-- left menu starts -->
            <div class="span2 main-menu-span">
                <div class="well nav-collapse sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li class="nav-header hidden-tablet">Main</li>
                        <li><a class="ajax-link" href="#"><i class="icon-home"></i><span class="hidden-tablet">Trang chủ </span></a></li>
                        <li><a class="ajax-link" href="#"><i class="icon-eye-open"></i><span class="hidden-tablet">Trang danh sách sản phẩm</span></a></li>
                        <li><a class="ajax-link" href="#"><i class="icon-edit"></i><span class="hidden-tablet">Hoạt động gần đây</span></a></li>
                        <li><a class="ajax-link" href="#"><i class="icon-list-alt"></i><span class="hidden-tablet">Thống kê</span></a></li>
                        <li><a class="ajax-link" href="#"><i class="icon-font"></i><span class="hidden-tablet">Thông báo</span></a></li>
                        <li><a class="ajax-link" href="#"><i class="icon-picture"></i><span class="hidden-tablet">Thư mục ảnh</span></a></li>
                        
                    </ul>
                    
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <!-- left menu ends -->

            

            <div id="content" class="span10">
                <!-- content starts -->


                @RenderBody()

                <!-- content ends -->
            </div>
            <!--/#content.span10-->
        </div>
        <!--/fluid-row-->

        <hr>

        <footer>
            <p class="pull-left">&copy; <a href="http://usman.it" target="_blank">Adminastrator</a> 2014</p>
            
        </footer>

    </div>
    <!--/.fluid-container-->

    <!-- external javascript
	================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jQuery -->
    <script src="~/Scripts/Admin/js/jquery-1.7.2.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/Scripts/Admin/js/jquery-ui-1.8.21.custom.min.js"></script>
    <!-- transition / effect library -->
    <script src="~/Scripts/Admin/js/bootstrap-transition.js"></script>
    <!-- alert enhancer library -->
    <script src="~/Scripts/Admin/js/bootstrap-alert.js"></script>
    <!-- modal / dialog library -->
    <script src="~/Scripts/Admin/js/bootstrap-modal.js"></script>
    <!-- custom dropdown library -->
    <script src="~/Scripts/Admin/js/bootstrap-dropdown.js"></script>
    <!-- scrolspy library -->
    <script src="~/Scripts/Admin/js/bootstrap-scrollspy.js"></script>
    <!-- library for creating tabs -->
    <script src="~/Scripts/Admin/js/bootstrap-tab.js"></script>
    <!-- library for advanced tooltip -->
    <script src="~/Scripts/Admin/js/bootstrap-tooltip.js"></script>
    <!-- popover effect library -->
    <script src="~/Scripts/Admin/js/bootstrap-popover.js"></script>
    <!-- button enhancer library -->
    <script src="~/Scripts/Admin/js/bootstrap-button.js"></script>
    <!-- accordion library (optional, not used in demo) -->
    <script src="~/Scripts/Admin/js/bootstrap-collapse.js"></script>
    <!-- carousel slideshow library (optional, not used in demo) -->
    <script src="~/Scripts/Admin/js/bootstrap-carousel.js"></script>
    <!-- autocomplete library -->
    <script src="~/Scripts/Admin/js/bootstrap-typeahead.js"></script>
    <!-- tour library -->
    <script src="~/Scripts/Admin/js/bootstrap-tour.js"></script>
    <!-- library for cookie management -->
    <script src="~/Scripts/Admin/js/jquery.cookie.js"></script>
    <!-- calander plugin -->
    <script src='~/Scripts/Admin/js/fullcalendar.min.js'></script>
    <!-- data table plugin -->
    <script src='~/Scripts/Admin/js/jquery.dataTables.min.js'></script>

    <!-- chart libraries start -->
    <script src="~/Scripts/Admin/js/excanvas.js"></script>
    <script src="~/Scripts/Admin/js/jquery.flot.min.js"></script>
    <script src="~/Scripts/Admin/js/jquery.flot.pie.min.js"></script>
    <script src="~/Scripts/Admin/js/jquery.flot.stack.js"></script>
    <script src="~/Scripts/Admin/js/jquery.flot.resize.min.js"></script>
    <!-- chart libraries end -->

    <!-- select or dropdown enhancer -->
    <script src="~/Scripts/Admin/js/jquery.chosen.min.js"></script>
    <!-- checkbox, radio, and file input styler -->
    <script src="~/Scripts/Admin/js/jquery.uniform.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="~/Scripts/Admin/js/jquery.colorbox.min.js"></script>
    <!-- rich text editor library -->
    <script src="~/Scripts/Admin/js/jquery.cleditor.min.js"></script>
    <!-- notification plugin -->
    <script src="~/Scripts/Admin/js/jquery.noty.js"></script>
    <!-- file manager library -->
    <script src="~/Scripts/Admin/js/jquery.elfinder.min.js"></script>
    <!-- star rating plugin -->
    <script src="~/Scripts/Admin/js/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="~/Scripts/Admin/js/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="~/Scripts/Admin/js/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="~/Scripts/Admin/js/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    <script src="~/Scripts/Admin/js/jquery.history.js"></script>
    <!-- application script for Charisma demo -->
    <script src="~/Scripts/Admin/js/charisma.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>


    <script type="text/javascript">
        $("#btn").click(function () {
            $("#debug").html("<p>123456scacbaskcjba</p>")
        });
    </script>

    

    <script type="text/javascript">



        var req;
        var viewModel = {
            products: ko.observableArray(),
            currentPage: ko.observable(-1)

        };

        $(document).ready(function () {


            ko.applyBindings(viewModel);

            getData(viewModel.currentPage() + 1);

            $(window).scroll(function (evt) {
                evt.preventDefault();
                if ($(window).scrollTop() >= $(document).height() - $(window).height()) {

                    if (req.state() == 'resolved' && req.state() !== 'pending') {
                        getData(viewModel.currentPage() + 1);
                    }


                }
            });
        });


        function getData(pageNumber) {

            if (viewModel.currentPage() != pageNumber && viewModel.currentPage() == (pageNumber - 1)) {


                req = $.ajax({

                    url: "/api/ProductApi/GetProductsWithPaging",
                    type: "get",
                    contentType: "application/json",
                    data: {index: pageNumber,numberOfRecordsPerPage:10}


                }).done(function (data) {
                    if (data.length > 0) {
                        viewModel.currentPage(viewModel.currentPage() + 1);
                        for (i = 0; i < data.length; i++) {
                            viewModel.products.push(data[i]);

                        }
                    }

                });
            }
        }
</script>










    <!--Add product-->

    <script type="text/javascript">

        $(document).ready(function () {
            $("#button1").click(OnUpload);
        });

        function OnUpload(evt) {
            var largeImages = $("#largeImage").get(0).files;
            var smallImages = $("#smallImage").get(0).files;
            var tinyImages = $("#tinyImage").get(0).files;
            if (largeImages.length > 0 && smallImages.length > 0 && tinyImages.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();


                    for (i = 0; i < largeImages.length; i++) {
                        data.append("largeImage" + i, largeImages[i]);
                    }

                    for (i = 0; i < smallImages.length; i++) {
                        data.append("smallImage" + i, smallImages[i]);
                    }

                    for (i = 0; i < tinyImages.length; i++) {
                        data.append("tinyImage" + i, tinyImages[i]);
                    }

                    data.append("brand", $("#brand").val());
                    data.append("category", $("#category").val());
                    data.append("supplier", $("#supplier").val());


                    data.append("name", $("#productName").val());
                    data.append("price", $("#productPrice").val());
                    data.append("quantity", $("#quantity").val());

                    data.append("discount", $("#discount").val());
                    data.append("importDate", $("#importDate").val());
                    data.append("description", $("#description").val());

                    data.append("largeImage", $("#largeImage").val());
                    data.append("smallImage", $("#smallImage").val());
                    data.append("tinyImage", $("#tinyImage").val());
                    $.ajax({
                        type: "POST",
                        url: "/api/ProductApi/AddProduct",
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (results) {

                            if (results[0] === "error") {

                                var errors = " ";
                                for (index = 1; index < results.length; index++) {

                                    errors += "<p>" + results[index] + "</p>";
                                }

                                $("#formResult").html(errors);

                                $('#windowTitleDialog').modal("show");
                            }

                            
                            var html = "<img src='/uploads/" + results[0] + "'/>";
                            var productInfo = " ";
                            for (index = 1; index < results.length; index++) {

                                productInfo += "<p>"+results[index]+"</p>";
                            }
                            
                            $("#divDialogElements").html(html);
                            $("#productInfo").html(productInfo);
                            $('#windowTitleDialog').modal("show");

                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 multiple file uploads!");
                }
            }
        }

        function closeDialog() {
            $('#windowTitleDialog').modal('hide');
        };
    </script>

    <script type="text/javascript">
        function viewDetail(productId) {
            $.ajax({

                url: "/api/ProductApi/GetProductDetail",
                type: "get",
                contentType: "application/json",
                data: { id: productId }


            }).done(function (data) {
                
                
                $('#windowTitleDialog').modal("show");

            });
        }
    </script>
</body>
</html>
