﻿@model SieuThiDienMayDoAn.Controllers.ViewModels.ProductCatalog.BaseProductCatalogPageView
@using SieuThiDienMayDoAn.Services.ViewModels

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>SieuThiDienMay</title>
    <link href="/Images/favicon.png" rel="icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="clean modern and elegant corporate look eCommerce html template">
    <meta name="author" content="">
    <!-- CSS Part Start-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/stylesheet.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/slideshow.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/flexslider.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/js/colorbox/colorbox.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/carousel.css" media="screen" />



    <link href="~/Content/modalform/bootstrap.css" rel="stylesheet" />

    <!-- CSS Part End-->
    <!-- JS Part Start-->
    <script type="text/javascript" src="~/Scripts/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.easing-1.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/colorbox/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/tabs.js"></script>
    <script type="text/javascript" src="~/Scripts/js/cloud_zoom.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.dcjqaccordion.js"></script>
    <script type="text/javascript" src="~/Scripts/js/custom.js"></script>
    <script type="text/javascript" src="~/Scripts/js/html5.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-2.2.0.js"></script>

    <script src="~/Scripts/modalformjs/bootstrap.min.js"></script>
    <!-- JS Part End-->
    <!-- Google Fonts (Droid Sans) Start -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans&amp;v1' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=&amp;v1' rel='stylesheet' type='text/css'>


    <!-- Google Fonts (Droid Sans) End -->

    <style type="text/css">
        /*Comment*/


        /* comments area */
        #comments {
            display: block;
        }

            #comments .cmmnt, ul .cmmnt, ul ul .cmmnt {
                display: block;
                position: relative;
                padding-left: 65px;
                border-top: 1px solid #ddd;
            }

                #comments .cmmnt .avatar {
                    position: absolute;
                    top: 8px;
                    left: 0;
                }

                    #comments .cmmnt .avatar img {
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
                        -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
                        box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
                        -webkit-transition: all 0.4s linear;
                        -moz-transition: all 0.4s linear;
                        -ms-transition: all 0.4s linear;
                        -o-transition: all 0.4s linear;
                        transition: all 0.4s linear;
                    }

                    #comments .cmmnt .avatar a:hover img {
                        opacity: 0.77;
                    }

                #comments .cmmnt .cmmnt-content {
                    padding: 0px 3px;
                    padding-bottom: 12px;
                    padding-top: 8px;
                }

                    #comments .cmmnt .cmmnt-content header {
                        font-size: 1.3em;
                        display: block;
                        margin-bottom: 8px;
                    }

                        #comments .cmmnt .cmmnt-content header .pubdate {
                            color: #777;
                        }

                        #comments .cmmnt .cmmnt-content header .userlink {
                            font-weight: bold;
                        }

                #comments .cmmnt .replies {
                    margin-bottom: 7px;
                }



        /*product  cart info*/

        /*----Cartires----*/
        .car-tires-top-pagnation {
            background: #F8F8F8;
            padding: 5px 12px;
            margin-bottom: 15px;
        }

            .car-tires-top-pagnation ul li {
                display: inline-block;
            }

                .car-tires-top-pagnation ul li a, .car-tires-top-pagnation ul li span {
                    display: block;
                    padding: 3px 0px;
                    font: bold 12px/0px Arial, Helvetica, sans-serif;
                    color: #000;
                    border-right: 1px solid rgba(151, 151, 151, 0.11);
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .car-tires-top-pagnation ul li span {
                    color: #ddd;
                    font-weight: normal;
                }

        .cartire-grid {
            border: 1px solid #EEE;
            padding: 10px 16px 0px 16px;
            box-shadow: 0px 0px 0px rgba(238, 238, 238, 0.08);
            margin-top: 21px;
        }

        .Cartires {
            padding: 0 15px;
            padding-bottom: 3em;
        }

            .Cartires h5 {
                display: block;
                padding: 23px;
                font: bold 18px/16px "Arial";
                color: #FFF;
                font-family: 'Open Sans', sans-serif;
                font-weight: normal;
                text-transform: uppercase;
                background: url(../images/head1.png) repeat-x;
                background: url(../images/top-nav.png) repeat-x;
                border-bottom: 2px solid #FC3019;
            }

                .Cartires h5 span {
                    color: #FC3019;
                }

        .cartire-grid-img {
            float: left;
            width: 20%;
        }

        .cartire-grid-info {
            float: left;
            width: 59%;
            border-right: 1px solid rgba(202, 202, 202, 0.29);
        }

            .cartire-grid-info ul li, .cartire-grid-info h3 {
                display: block;
                padding: 3px 0px;
                font: bold 12px/30px Arial, Helvetica, sans-serif;
                color: #FC3019;
                border-right: 1px solid rgba(151, 151, 151, 0.11);
                text-transform: uppercase;
                font-weight: bold;
            }

            .cartire-grid-info h3 {
                color: #000;
            }

            .cartire-grid-info p {
                font-size: 0.8125em;
                color: #989898;
                line-height: 1.6em;
                font-family: verdana, arial, helvetica, helve, sans-serif;
                width: 91%;
            }

            .cartire-grid-info ul li span {
                color: #000;
                padding-right: 10px;
            }

        .cartire-grid-cartinfo {
            width: 18%;
            float: left;
            padding-left: 2%;
        }

            .cartire-grid-cartinfo h4 {
                display: block;
                padding: 3px 0px;
                font: bold 12px/30px Arial, Helvetica, sans-serif;
                color: #000;
                border-right: 1px solid rgba(151, 151, 151, 0.11);
                text-transform: uppercase;
                font-weight: bold;
            }

            .cartire-grid-cartinfo span {
                font-size: 0.8125em;
                color: #000;
                line-height: 1.6em;
                font-family: verdana, arial, helvetica, helve, sans-serif;
                padding: 7px 0px;
            }

            .cartire-grid-cartinfo ul li {
                display: inline-block;
            }

            .cartire-grid-cartinfo a {
                padding: 8px 10px;
                display: inline-block;
                background: url(../images/head1.png)repeat-x;
                border: none;
                font: bold 12px "Arial"!important;
                color: #fff;
                text-align: center;
                cursor: pointer;
                -moz-transition: background 0.5s ease;
                -o-transition: background 0.5s ease;
                -webkit-transition: background 0.5s ease;
                margin-bottom: 10px;
            }

                .cartire-grid-cartinfo a:hover {
                    background: url(../images/head1h.png)repeat-x;
                    text-decoration: none !important;
                    -moz-transition: background 0.2s ease;
                    -o-transition: background 0.2s ease;
                    -webkit-transition: background 0.2s ease;
                }

            .cartire-grid-cartinfo ul {
                margin: 7px 0px;
            }

                .cartire-grid-cartinfo ul li p {
                    font-size: 0.8125em;
                    color: #989898;
                    line-height: 1.6em;
                    font-family: verdana, arial, helvetica, helve, sans-serif;
                }












        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: ".";
            clear: both;
            height: 0;
        }

        .clearfix {
            display: inline-block;
        }

        * html .clearfix {
            height: 1%;
        }

        .bubble-list .bubble img {
            float: left;
            width: 70px;
            height: 70px;
            border: 3px solid #ffffff;
            border-radius: 10px;
        }

        .bubble-content {
            position: relative;
            float: left;
            margin-left: 12px;
            width: 400px;
            padding: 0px 20px;
            border-radius: 10px;
            background-color: #FFFFFF;
            box-shadow: 1px 1px 5px rgba(0,0,0,.2);
        }

        .bubble {
            margin-top: 20px;
        }

        .point {
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 12px solid #FFF;
            position: absolute;
            left: -10px;
            top: 12px;
        }
    </style>

</head>
<body class="no-touch">

    <div class="wrapper-box">
        <div class="main-wrapper">









            <!--Header Part Start-->
            <header id="header">
                <div class="htop">



                    <div class="links">

                        @if (Request.IsAuthenticated)
                        {
                            <text>
                            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        }
                            </text>
                        }
                        else
                        {
                        
                            
                            <a href="@Url.Action("Register", "Account")">Đăng kí</a>
                            <a href="@Url.Action("Login", "Account")">Đăng nhập</a>
                            
                        }



                    </div>
                </div>
                <section class="hsecond">
                    <div id="logo">
                        <a href="index-2.html">
                            <img src="~/Images/logomain.png" title="Sieu Thi" alt="Sieu Thi" /></a>
                    </div>
                    <form method="get" action="@Url.Action("SearchProducts", "Product")">
                        <div id="search">
                            <div class="button-search"></div>
                            <input type="text" name="searchStr" placeholder="Search" value="" />
                            <input type="submit" hidden="hidden" />
                        </div>

                    </form>
                    <!--Mini Shopping Cart Start-->
                    <section id="cart">
                        <div class="heading">
                            <h4>
                                <img width="32" height="32" alt="" src="/Images/cart-bg.png"></h4>
                            <a href="@Url.Action("Detail", "Basket", new { })">
                                <span id="cart-total">
                                    @if (Model.BasketSummary.NumberOfItems == 0)
                                    {
                                        <b>Cart empty</b>
                                    }
                                    else
                                    {
                                        <b>@Model.BasketSummary.NumberOfItems items - $@Model.BasketSummary.BasketTotal</b>
       
                                    }
                                </span>
                            </a>
                        </div>

                    </section>
                    <!--Mini Shopping Cart End-->
                    <div class="clear"></div>
                </section>
                <!--Top Menu(Horizontal Categories) Start-->
                <nav id="menu">
                    <ul>
                        <li class="home"><a title="Home" href="@Url.Action("Index","Home")"><span>Home</span></a></li>
                        <li class="categories_hor"><a>KHU MUA SẮM</a>
                            <div>
                                @foreach (SuperCategoryView scv in Model.SuperCategories)
                                {
                                    <div class="column">
                                        <a href="Javascript: productsBySuperCategoryFromMainMenu(@scv.Id)">@scv.Name</a>
                                        <div>
                                            <ul>
                                                @foreach (CategoryView cv in scv.CategoryViews)
                                                {
                                                    <li><a href="@Url.Action("GetProductsByCategory", "Product", new { categoryId=cv.Id})">@cv.Name</a></li>
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                }


                            </div>
                        </li>

                        <li><a href="#">RẠP PHIM MEGASTAR</a>
                            <div class="custom_block">
                                <ul>
                                    <li>
                                        <table border="0" cellpadding="0" cellspacing="0" style="width: 500px;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h3>Đặt vé rạp Megastar </h3>
                                                        <p>&nbsp;</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>
                                                        <img alt="responsive" src="/Images/product/responsive.jpg" style="width: 250px; height: 150px; border-width: 0px; border-style: solid; float: left; margin-left: 10px; margin-right: 10px;" />
                                                        Xin Chào</strong> Bạn có thể đặt vé xem phim các rạp Megastar ở đây <a href="@Url.Action("Index", "Phim")" style="color:#FC3019">Nơi Đặt Vé</a>. 

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li><a href="#">KHU GIẢI TRÍ</a>
                            <div class="custom_block">
                                <ul>
                                    <li>
                                        <table border="0" cellpadding="0" cellspacing="0" style="width: 500px;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h3>Thông tin các chương trình, trò chơi giải trí.</h3>
                                                        <p>&nbsp;</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><strong>
                                                        <img alt="responsive" src="/Images/product/responsive.jpg" style="width: 250px; height: 150px; border-width: 0px; border-style: solid; float: left; margin-left: 10px; margin-right: 10px;" />
                                                        Khu vui chơi giải trí</strong> rỗng rai thoải mái, nhiều trò chơi hấp dẫn, tương tác giúp các em nhỏ có sân chơi bổ ích.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li><a href="#">LIÊN HỆ</a></li>
                    </ul>
                </nav>
                <!--Top Menu(Horizontal Categories) End-->
                <!-- Mobile Menu Start-->

                <!-- Mobile Menu End-->
            </header>



            <!--Header Part End-->











            <div id="container">
                @RenderBody()
                <div class="clear"></div>




            </div>
        </div>
        <!--Footer Part Start-->
        <footer id="footer">

            <div id="fb-root"></div>
            <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

            </script>
            <div class="fpart-inner">





                <!-- Contact Details Start-->
                <div class="contact contact_icon">
                    <h3>Liên hệ</h3>
                    <ul>
                        <li class="address">227 Nguyễn Văn Cừ, Quận 5, TP. Hồ Chí Minh</li>
                        <li class="mobile">0969790570</li>

                        <li class="email"><a href="mailto:info@contact.com">tongquocven@gmail.com</a></li>
                    </ul>
                </div>
                <!-- Contact Details End-->
                <div class="clear"></div>
                <div id="powered">
                    <!-- Payment Images Icon Start-->
                    <div class="payments_types part3">
                        <img src="/Images/payment_paypal.png" alt="paypal" title="PayPal">
                        <img src="/Images/payment_american.png" alt="american-express" title="American Express">
                        <img src="/Images/payment_2checkout.png" alt="2checkout" title="2checkout">
                        <img src="/Images/payment_maestro.png" alt="maestro" title="Maestro">
                        <img src="/Images/payment_discover.png" alt="discover" title="Discover">
                    </div>
                    <!-- Payment Images Icon End-->
                    <!-- Powered by Text Start-->
                    <div class="powered_text part3">
                        <p>
                            SieuThiDienMay © 2014<br />

                        </p>
                    </div>
                    <!-- Powered by Text End-->
                    <!-- Follow Social Icons Start-->
                    <div class="social part3">
                        <a href="##" target="_blank">
                            <img src="/Images/facebook.png" alt="Facebook" title="Facebook"></a> <a href="##" target="_blank">
                                <img src="/Images/twitter.png" alt="Twitter" title="Twitter">
                            </a><a href="#" target="_blank">
                                <img src="/Images/googleplus.png" alt="Google+" title="Google+">
                            </a><a href="#" target="_blank">
                                <img src="/Images/pinterest.png" alt="Pinterest" title="Pinterest">
                    </div>
                    <!-- Follow Social Icons End-->
                    <div class="clear"></div>
                </div>
                <!-- Back to Top Button Start-->
                <div class="back-to-top" id="back-top"><a title="Back to Top" href="javascript:void(0)" class="backtotop">Top</a></div>
                <!-- Back to Top Button End-->
            </div>
        </footer>
        <!--Footer Part End-->
    </div>

</body>
</html>
