﻿<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Megastar</title>
    <link href="~/Content/Megastar/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/Megastar/js/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Megastar/js/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="~/Content/Megastar/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/Megastar/css/default.css">

    <script type="text/javascript" charset="utf-8" src="~/Scripts/Megastar/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Scripts/Megastar/js/modals.js"></script>


    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/knockout-2.2.0.js"></script>

    <link rel="stylesheet" href="~/Content/Megastar/css/jquery-ui.css">
    
</head>
<body>
    <!---start-wrap--->
    <div class="wrap">
        <!---start-header--->
        <div class="header">
            <!---start-top-header--->
            <div class="top-header">
                <div class="top-header-left">
                    <ul>
                        <li class="active"><a href="@Url.Action("Index","Home")">Trang Chủ Siêu Thị</a></li>
                        <li><a href="#">Thông Tin</a></li>
                        <li><a href="#">Dịch Vụ</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                        <div class="clear"> </div>
                    </ul>
                    
                </div>
                <div class="top-header-right">
                    <ul>
                        <li><a href="#">NGÔN NGỮ:</a></li>
                        <li>
                            <select>
                                <option>Tiếng Việt</option>
                                <option>English</option>

                            </select>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="sub-header">
                <div class="logo">
                    <a href="@Url.Action("Index", "Phim")">
                        <img src="~/Images/phimlogo.png" title="logo" /></a>
                </div>
                <div class="sub-header-center">
                    <form action="~/Phim/Search">
                        <input type="text" id="tags" name="phim" />
                        <input type="submit" value="Tìm kiếm" />
                    </form>
                </div>
                <div class="sub-header-right">
                    <ul>

                        @if (Request.IsAuthenticated)
                        {
                            <li >Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            }
                            </li>
                        }
                        else
                        {
    
                            <li>@Html.ActionLink("ĐĂNG KÝ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("ĐĂNG NHẬP", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    
                        }

                        <li><a href="#">ĐẶT VÉ
                            <img src="~/Images/cart.png" title="cart" /></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="top-nav">
                <ul>
                    <li><a href= "@Url.Action("Index", "Home")">TRANG CHỦ</a></li>
                    <li class="active1"><a href="favorites.html">PHIM</a></li>
                    <li><a href="#">Phim bom tấn</a></li>
                    <li><a href="#">Khuyến mãi</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="contact.html">Phản hồi</a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <!---end-top-header--->
            <!---End-header--->
        </div>
        <br />
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer">
        <div class="wrap">
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <h3>THÔNG TIN</h3>
                    <ul>
                        <li><a href="#">Về Chúng Tôi</a></li>
                        <li><a href="#">Bản Đồ Trang </a></li>
                        <li><a href="#">Liên Hệ</a></li>
                        <li><a href="#">Các Quy Định</a></li>
                        <li><a href="#">Lưu Ý</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h3>VĂN PHÒNG CỦA CHÚNG TÔI</h3>
                    <ul>
                        <li><a href="#">Các Phim Mới</a></li>
                        <li><a href="#">Phim Hay</a></li>
                        <li><a href="#">Khuyến Mãi</a></li>
                        <li><a href="#">Các Dịch Vụ Khác</a></li>
                        <li><a href="#">Các Ghi Chú</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <h3>TÀI KHOẢN CỦA BẠN</h3>
                    <ul>
                        <li><a href="#">Thông Tin Cá Nhân</a></li>
                        <li><a href="#">Chỉnh Sửa</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                        <li><a href="#">Địa Chỉ</a></li>
                        <li><a href="#">Thông Tin Khác</a></li>
                    </ul>
                </div>
                <div class="col_1_of_4 span_1_of_4 footer-lastgrid">
                    <h3>Kết nối qua </h3>
                    <ul>
                        <li><a href="#">
                            <img src="~/Images/facebook.png" title="facebook" /></a></li>
                        <li><a href="#">
                            <img src="~/Images/twitter.png" title="Twiiter" /></a></li>
                        <li><a href="#">
                            <img src="~/Images/rss.png" title="Rss" /></a></li>
                        <li><a href="#">
                            <img src="~/Images/gpluse.png" title="Google+" /></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>

